.bg-section {
  background: $color-white;
  width: 100%;
  height: 50px;
}

.footer {
  background-color: $color-grey-lighter;

  .know-more {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: $color-grey-lighter;
    flex-shrink: inherit;

    p {
      font-size: 30px;
      margin-bottom: 25px;
      font-family: SeatBlack, sans-serif;
      opacity: 1;
      line-height: 38px;

      @media (max-width: 768px) {
        font-size: 22px;
        padding: 0 120px;
        margin-bottom: 8px;
      }

      @media (max-width: 515px) {
        font-size: 22px;
        padding: 0 20px;
      }
    }

    .btn-custom {
      margin-top: 0;
      max-width: 300px;
      width: 100%;
      font-family: SeatBold, sans-serif;
    }

    .btn-faq {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .bg-section {
    height: auto;
    padding: 15px 0;
  }

  .btn {
    &-custom {
      background-color: $color-orange;
      color: $color-white;
      border-radius: 4px;
      font-size: 16px;
      padding: 11px 30px;
      line-height: 19px;
      width: 100%;
      height: 45px;

      &:hover {
        color: $color-white;
      }
    }
  }

  .footer-content, .footer-link {
    padding: 50px 60px;
    max-width: 1000px;
    margin: 0 auto;

    @media (max-width: 768px) {
      padding: 20px 0 50px;
      max-width: 300px;
    }

    p {
      font-family: SeatRegular, sans-serif;
      font-weight: 400;
      font-size: 10px;
      color: rgba(15,15,15,0.6);
      line-height: 14px;
      opacity: unset;
    }
  }

  .footer-content {
    height: 150px;
    overflow: hidden;
  }

  .footer-link {
    width: 100%;
  }

  p {
    font-family: SeatBook, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 10px;
    mix-blend-mode: normal;
    opacity: 0.6;
    color: $color-text-black;
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-black;
    text-decoration: underline;
  }

  .bg-section-button {
    background: $color-seat-grey;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    .seeMore-button {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      .accordion {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }
  
  .footer-text p {
    font-family: SeatRegular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 24px;
    opacity: unset;
    color: $color-black;
    text-align: center;
    padding: 0 175px;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 17px;
      padding: 0 60px;
    }
  }
}