.f- {
  &10 {
    font-size: 10px;
  }
  
  &13 {
    font-size: 1.3rem;
  }

  &14 {
    font-size: 1.4rem;
  }

  &16 {
    font-size: 1.6rem;
  }

  &18 {
    font-size: 1.8rem;
  }

  &24 {
    font-size: 2.4rem;
  }

  &26 {
    font-size: 2.6rem;
  }

  &w-400 {
    font-weight: 400;
  }

  &w-700 {
    font-weight: 700 !important;
  }
}

.text {
  &-c {
    &-grey {
      color: $color-grey-text;
    }

    &-orange {
      color: $color-orange;
    }
  }

  &-line-through {
    text-decoration: line-through;
    display: inline-block;
    margin-left: 1rem;
  }

  &-line-h {
    &-14 {
      line-height: 1.4rem;
    }

    &-16 {
      line-height: 1.6rem;
    }

    &-18 {
      line-height: 1.8rem;
    }

    &-21 {
      line-height: 2.1rem;
    }

    &-24 {
      line-height: 2.4rem;
    }

    &-25 {
      line-height: 2.5rem;
    }

    &-26 {
      line-height: 2.6rem;
    }

    &-37 {
      line-height: 3.7rem;
    }

    &-30 {
      line-height: 3rem;
    }
  }
  
  &-seat {
    &-bold {
      font-family: SeatBold, sans-serif;
    }
  }
}
