@import "font-layout";
@import "variable";
@import "typography";
@import "responsive";
@import "mixin";
@import "response-message";
@import "footer";

html {
  font-family: SeatRegular;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: $color-white;
}

.contact {
  color: $color-black;
  padding: 50px 0;
  background-color: $color-white;

  @include responsive(large-mobile) {
    padding: 30px 0;
  }

  input[type="tel"] {
    padding-left: 5rem !important;
  }

  .back__content {
    font-family: SeatMedium;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #000000;
    display: flex;
    align-items: center;
  }

  & .back {
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    background: unset;

    &__content {
      
      & span {
        margin-right: 10px;
      }

      & img {
        min-width: 1.478rem;
      }
    }
  }

  & .text {
    &--small {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  & .item {
    padding: 20px 0;

    @include responsive(large-mobile) {
      padding: 2rem 0 0.6rem;
    }

    .item__common_info {
      p {
        font-family: SeatMedium;
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 36px;
        max-width: 325px;
        color: $color-dark-charcoal;
      }
    }

    .item__profile {
      .item__detail {
        p {
          font-family: SeatBlack;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
        }
        p.text-c-grey {
          opacity: 0.5;
          font-family: SeatBook;
          font-size: 13px;
          color: #000000;
          letter-spacing: 0.65px;
          text-align: right;
        }
      }
    }

    & img {
      //width: 14rem;
      //border-radius: 0.5rem;

      @include responsive(tablet) {
        width: 10rem;
      }

      @include responsive(large-mobile) {
        width: 8rem;
      }
    }

    &__list {
      padding: 3rem 0;

      @include responsive(large-mobile) {
        padding: 1rem 0;
      }

      & ul {
        & li::before {
          content: "\2022";
          font-size: 1.4rem;
          color: $color-grey-light;
          font-weight: bold;
          display: inline-block;
          width: 1em;
        }

        & li {
          font-size: 1.4rem;
          line-height: 2.5rem;

          @include responsive(large-mobile) {
            font-weight: 400;
          }
        }
      }
    }

    &__profile {
      //display: flex;
      justify-content: flex-end;
      text-align: right;

      @include responsive(tablet) {
        align-items: center;
      }

      @include responsive(large-mobile) {
        margin-top: -50px;
        flex-direction: row-reverse;
        align-items: center;

        & .item__detail {
          margin-left: 2rem;
          text-align: left;
        }
      }
    }

    &__total {
      position: relative;
      top: -3rem;

      @include responsive(large-mobile) {
        top: -1rem;
      }
    }
  }

  & .form-fill {
    margin-top: 50px;

    &__input {
      &--label-radio {
        font-size: 1.6rem;
        position: relative;
        top: -1rem;
        width: 100%;
      }

      &--radio {
        position: relative !important;
        display: inline-block;
        width: auto;
        padding: 0 0 0 30px;
        font-size: 1.2rem;
        cursor: pointer;
        top: -0.5rem !important;

        &::before {
          position: absolute;
          border: 1px solid $color-seat-grey;
          border-radius: 100%;
          height: 24px;
          width: 24px;
          top: 0;
          left: 0;
          z-index: 5;
          content: "";
        }

        &::after {
          position: absolute;
          border-radius: 100%;
          height: 16px;
          width: 16px;
          top: 4px;
          left: 4px;
          z-index: 5;
          transition: background 0.3s ease;
          content: "";
        }
      }

      & input[type="radio"] {
        position: absolute;
        visibility: hidden;

        &:checked + .form-fill__input--radio::after {
          background-color: $color-orange;
        }
      }

      & .form-group .label--focus {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: #6f6f6f;
        top: -1.5rem;
        left: 1.5rem;
      }

      & .form-group label {
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #6f6f6f;
        width: 100%;
        position: absolute;
        pointer-events: none;
        top: -1.5rem;
        transition: 0.2s ease all;

        @include responsive(large-mobile) {
          width: unset;
        }
      }

      & input[type="text"],
      & input[type="email"],
      & input[type="tel"] {
        width: 100%;
        border: none;
        background-color: $color-grey-lighter;
        outline: none;
        padding: 10px 0 10px;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $color-black;
        display: block;
        height: 40px;
        font-weight: bold;
        border-bottom: 0.1rem solid $color-green;

        @include responsive(large-mobile) {
          font-weight: 400;
        }

        &:focus ~ label,
        &.filled ~ label {
          font-size: 1.2rem;
          line-height: 1.4rem;
          color: #6f6f6f;
          top: -1.5rem;
        }
      }
    }

    & .svg-icon {
      position: absolute;
      height: 2rem;
      top: 0.8rem;
      right: 0.5rem;
    }

    & svg {
      & path {
        fill: $color-grey-light;
      }
    }

    & .flag-country,
    & select {
      position: absolute;
      top: 0;
      width: 10rem;
      height: 3.9rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: $color-grey;
      border: none;
      font-size: 1.6rem;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }

    & .svg--arrow-down {
      position: absolute;
      top: 1.2rem;
      height: 1.2rem;
      width: 1.2rem;
      right: 0;
    }

    & .select--normal {
      width: 100%;
      border-bottom: $border;
    }

    & .btn-custom {
      font-family: SeatBold, sans-serif;
      font-size: 16px;
      letter-spacing: 0;
      text-align: center;
      line-height: 26px;
      background-color: $color-orange;
      color: $color-white;
      border-radius: 4px;
      padding: 8px 30px;
      max-width: 300px;
      height: 45px;
      width: 100%;
    }
  }

  #contactFormLead {
    .form-fill__header {
      .text-line-h-24 {
        font-family: SeatMedium, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: $color-dark-charcoal;
        letter-spacing: 0;
      }

      .text-line-h-25 {
        font-family: SeatItalic, sans-serif;
        font-size: 16px;
        font-weight: 350;
        color: $color-dark-charcoal;
        letter-spacing: 0.92px;
        line-height: 25px;
      }

      .text-required {
        font-family: SeatMedium, sans-serif;
        font-size: 14px;
        line-height: 22px;
      }

      i {
        display: block;
        margin: 5px 0;
      }
    }

    .form-fill__input {
      .civili, .commercial-offer {
        font-family: SeatMedium;
        font-size: 20px;
        color: $color-dark-charcoal;
        letter-spacing: 0;
        margin-bottom: 15px;
      }

      .form-fill__input--radio {
        font-family: SeatMedium, sans-serif;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        opacity: 0.6;
        margin-right: 20px;
      }

      label[for="civilite-f"].form-fill__input--radio,
      label[for="civilite-m"].form-fill__input--radio {
        font-size: 12px;
      }

      .form-fill__input--radio.checked {
        opacity: 1;
      }

      .text-description {
        font-size: 16px;
        color: $color-dark-charcoal;
        margin-bottom: 25px;
      }

      .form-group {
        input {
          font-family: SeatBook, sans-serif;
          font-size: 16px;
          color: #000000;
          opacity: 0.6;
          letter-spacing: 0;
        }

        label {
          font-family: SeatBold, sans-serif;
          font-size: 12px;
          color: #000000;
          letter-spacing: 0;
        }

        .label-phone {
          display: block;
          top: -20px;
        }

        input[type=tel] {
          opacity: 1;
          padding-left: 40px !important;
          padding-top: 12px;
        }

        .iti__selected-flag {
          padding-left: 0;
        }
      }

      .avez-vous {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;

        .additional-info {
          font-family: SeatMedium, sans-serif;
          font-size: 20px;
          color: $color-dark-charcoal;
        }
      }

      #permisSelect {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;
      }

      .oui-text {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;
      }
    }

    .container {
      background-color: $color-grey-lighter;
      box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
      border-radius: 2px;
    }
  }
  .seat-container {
    .back-container {
      border-bottom: $border;
    }
    .item {
      #contact-header {
        p {
          font-size: 60px;
          font-weight: 750;
          font-family: SeatBlack;
          font-style: normal;
          line-height: 55px;
          color: $color-dark-charcoal;
        }
      }

      .item__detail {
        .intro-offer {
          font-family: SeatMedium, sans-serif;
          font-size: 20px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.6);
        }

        .without-config {
          font-size: 18px;
          line-height: 21.6px;
          font-family: SeatBold, sans-serif;
        }
      }

      .common-info {
        background-color: $color-grey-lighter;
      }
    }

    .know-more {
      background-color: $color-grey-lighter;

      .btn-custom {
        font-family: SeatBold;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        line-height: 26px;
        background-color: $color-orange;
        color: $color-white;
        border-radius: 0.5rem;
        font-weight: bold;
        padding: 1rem 8rem;

        @include responsive(large-mobile) {
          width: 70%;
        }
      }

      .form-fill__header {
        .text-line-h-24 {
          font-family: SeatBlack;
          font-size: 24px;
          color: #0F0F0F;
          letter-spacing: 0;
        }
      }
    }
  }
}

.contact-success-message {
  color: $color-black;
  padding-top: 5rem;
  background-color: $color-white;
  padding-bottom: 50px;

  @include responsive(large-mobile) {
    padding: 3rem 0;
  }
  .back__content {
    font-family: SeatMedium;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #000000;
    display: flex;
    align-items: center;
  }
  & .back {
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    background: unset;

    &__content {

      & span {
        margin-right: 10px;
      }

      & img {
        min-width: 1.478rem;
      }
    }
  }
  .seat-container {
    .back-container {
      border-bottom: $border;
    }

    .contact-leadconnect {
      background-color: $color-grey-lighter;
      margin-top: 50px;

      .bg-image {
        background-image: url('/images/formulaire-envoye-bg.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 992px) {
          display: none;
        }
      }

      .bg-image-mobile {
        display: none;

        @media (max-width: 992px) {
          display: block;
          margin: 0 -20px;
        }

        @media (max-width: 768px) {
          margin: 0 -15px;
        }
      }


      .tip-and-trick {
        padding-right: 50%;
        color: $color-dark-charcoal;
        min-height: 420px;

        @media (min-width: 1400px) {
          padding-right: unset;
        }

        @media (max-width: 992px) {
          padding-right: 0;
          min-height: 200px;
        }

        @media (max-width: 768px) {
          padding-right: var(--bs-gutter-x, 12px);
        }

        .header-text {
          font-size: 60px;
          font-weight: 700;
          font-family: SeatBlack, sans-serif;
          line-height: 55px;
          max-width: 415px;

          @media (max-width: 768px) {
            font-size: 32px;
            line-height: 38px;
          }
        }

        .text-desc {
          font-size: 16px;
          line-height: 19px;
          font-family: SeatRegular, sans-serif;

          @media (max-width: 768px) {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
}

#back-top {
  width: 4rem;
  height: 4rem;
  background-color: $color-orange;
  border: none;
  border-radius: 1rem;
  outline: none;
  position: fixed;
  z-index: 9999;
  right: 2rem;
  bottom: 4rem;

  & image {
    width: 2rem;
  }
}

.iti.iti--allow-dropdown {
  width: 100%;
}

#accessoires, #insurance {
  .item__list {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;

        @include responsive(tablet) {
          width: 100%;
        }

        .price {
          font-family: SeatMedium;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 25px;
        }
      }
    }
  }
}

.fas {
  font-size: 15px;
}

.icon-collapse {
  cursor: pointer;
}

#stickyHeaderOffre {
  display: flex;
  justify-content: center;
  font-family: SeatMedium, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: $color-orange;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  p {
    padding: 12px 20px;
    margin-bottom: unset;
  }
}

.sticky-active {
  position: fixed;
  top: 0;
  z-index: 999;
}

.disclaimer-component {
  .container-fluid {
    .container {
      @media (max-width: 992px) {
        max-width: 1000px;
      }

      .row {
        .col-12 {
          .disclaimer-text {
            max-width: 555px;
            margin-left: 155px;
            padding: 0 60px;
            -webkit-column-count: 1;

            @media (min-width: 1201px) and (max-width: 1400px) {
              max-width: 518px;
              margin-left: 68px;
            }

            @media (max-width: 1200px) {
              max-width: 518px;
              margin-left: unset;
              padding: 0 40px;
            }

            @media (max-width: 768px) {
              padding: 0;
              max-width: 300px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

#legalMentionModal {
  .modal-dialog {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: 992px) {
      max-width: 75%;

      .modal-content {
        border-radius: 25px;
      }
    }

    @media (max-width: 425px) {
      max-width: 100%;
    }
  }

  .legal-header {
    background-color: #f3f2ee;
    padding: 30px 100px;

    @media (max-width: 992px) {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    .header--small {
      font-family: SeatBold;
      font-size: 16px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
      padding-top: 20px;
    }

    .sub-title {
      margin-bottom: 2px;
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
    }

    .legal-btn-close {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .legal-body {
    padding: 30px 100px;
    background-color: #fafafa;

    @media (max-width: 992px) {
      border-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    p {
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
      margin: 10px 0;

      @media (max-width: 425px) {
        font-size: 12px;
      }
    }

    .textSeatBold {
      font-family: SeatBold;
      font-size: 14px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .textSeatBlack {
      font-family: SeatBlack;
      font-size: 16px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .description {
      height: 176px;
      overflow: hidden;
      position: relative;
      margin-top: 20px;
      transition: all ease 0.3s;
      padding-bottom: 20px;
      @media (max-width:767px) {
        margin-top: 50px;
      }
      &.active {
        height: initial;
        &::after {
          display: none;
        }
        .button-control {
          position: unset;
        }
      }
      &::after {
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top,  rgba(222,218,212,0) 0%, rgba(250,250,250,1) 75%);
        background: -webkit-linear-gradient(top,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        background: linear-gradient(to bottom,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dedad4', endColorstr='#fafafa',GradientType=0 );

      }
      .text-desc {
        font-size: 10px;
        font-family: "SeatBook";
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
      }
      .button-control {
        position: absolute;
        left: 0;
        bottom: 50px;
        width: 100%;
        text-align: center;
        z-index: 5;
        .btn-show {
          min-width: 185px;
          min-height: 35px;
          padding: 5px;
          border-radius: 4px;
          font-family: "SeatBold";
          font-size: 12px;
          color: #fff;
          background-color: #0F0F0F;
          border:none;

        }
      }
      p {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  .legal-body::-webkit-scrollbar {
    display: none;
  }

  .text-right {
    text-align: right;
  }
}

#legalMentionModal::-webkit-scrollbar {
  display: none;
}

.item__common_info {
  span.text-dark {
    font-size: 14px;
    padding-left: 10px;
  }
}

#interesse {
  li span {
    font-family: 'SeatBold';
  }
}

#textConfigHeader {
  margin-bottom: 0;
}

.contact {
    .item__list {
      .item__list--right {
        ul {
          li::before {
            display: table-cell;
          }

          li {
            display: table-row;
          }
        }
      }
    }
}

@media only screen and (max-width: 768px) {
  .contact {
    .seat-container {
      .item {
        .item__common_info {
          p {
            font-size: 22px;
            line-height: 26px;
            text-align: center;
          }
        }

        .item__detail {
          .intro-offer {
            font-size: 16px;
            line-height: 19px;
          }

          .without-config {
            font-size: 14px;
            line-height: 17px;
          }
        }

        #contact-header {
          p {
            font-size: 32px;
            line-height: 38px;
          }
        }
      }

      .know-more {
        .form-fill__header {
          .text-line-h-24 {
            font-size: 22px;
          }
        }
      }
    }

    #contactFormLead {
      .form-fill__header {
        .text-line-h-24 {
          font-size: 22px;
          line-height: 26px;
        }

        .text-line-h-25 {
          font-size: 12px;
          line-height: 16px;
        }

        .text-required {
          font-size: 14px;
        }
      }
    }

    #contactFormLead {
      .form-fill__input {
        .civili,
        .commercial-offer {
          font-size: 16px;
        }

        .avez-vous {
          .additional-info {
            font-size: 16px;
            line-height: 19px;
          }
        }

        .text-description {
          font-size: 14px;
          line-height: 17px;

          b {
            font-family: SeatMedium, sans-serif;
            display: block;
          }
        }
      }
    }
  }
}