@font-face {
  font-family: SeatBlack;
  src: url(/fonts/SeatBcn-Black.woff) format("truetype");
}

@font-face{
  font-family: SeatBold;
  src: url(/fonts/SeatBcn-Bold.woff) format("truetype");
}

@font-face{
  font-family: SeatBook;
  src: url(/fonts/SeatBcn-Book.woff) format("truetype");
}

@font-face{
  font-family: SeatExtraLight;
  src: url(/fonts/SeatBcn-ExtraLight.woff) format("truetype");
}

@font-face{
  font-family: SeatItalic;
  src: url(/fonts/SeatBcn-Italic.woff) format("truetype");
}

@font-face{
  font-family: SeatLight;
  src: url(/fonts/SeatBcn-Light.woff) format("truetype");
}

@font-face{
  font-family: SeatMedium;
  src: url(/fonts/SeatBcn-Medium.woff) format("truetype");
}

@font-face{
  font-family: SeatRegular;
  src: url(/fonts/SeatBcn-Regular.woff) format("truetype");
}