:root {
  --bs-black: #000;
  --bs-black-100: #0F0F0F;
  --bs-red: #F60000;
  --bs-alabasterapprox: #F8F8F8;
  --bs-white: #ffffff;
  --bs-orange: #EA5D1A;
  --bs-white-100: #DCDBDB;
  --bs-shadow-black: #33302e;
  --bs-gray: #757575;
}
