<section class="footer">
    <div class="know-more text-center py-4">
        <div class="form-fill__header">
            <p>Vous voulez en savoir plus sur le SEAT MÓ 125?</p>
        </div>
        <a href="https://www.seat.fr/faq#seat-mo" target="_blank" class="btn btn-custom btn-faq text-line-h-26 text-decoration-none">FAQSs</a>
    </div>
    <section class="bg-section"></section>
    <div class="read-more-content">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-6 my-3">
                    <p>SEAT MÓ 125 eScooter à partir de <span class="text-seat-bold">102 € / mois</span> (1)</p>
                    <p>Location avec Option d’Achat sur <span class="text-seat-bold">37 mois</span> et <span class="text-seat-bold">15.000 Km</span></p>
                    <p>1er loyer majoré de 900€ ramené à 0€ après déduction du bonus écologique de 900€*, suivi de 36 loyers de 102 €.</p>
                    <p><span class="text-seat-bold">Montant total dû : 8 023,54€*</span></p>
                    <p>Offre valable du 01/10/2022 au 31/10/2022</p>
                    <p><span class="text-seat-bold">Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</span></p>
                    <p>-</p>
                    <p>(1) Location avec Option d’Achat pour une SEAT MÓ eScooter 125 Rouge Audacieux vendu au prix de 6 775 €. Option d’achat finale : 3 465,41€ ou reprise du véhicule sous conditions du distributeur. Montants exprimés TTC. Offre réservée aux particuliers chez tous les distributeurs SEAT MÓ (France métropolitaine) présentant ce financement et valable jusqu’au 31/10/2022 pour toute commande d’une SEAT MÓ 125 eScooter passée avant le 31/10/2022 et livrée avant le 31/12/2022. Offre sous réserve d’acceptation du dossier par VOLKSWAGEN BANK GMBH - SARL de droit allemand - Capital social : € 318 279 200 - Siège social : Braunschweig (Allemagne) - RC/HRB Braunschweig : 1819 - Intermédiaire</p>
                </div>
                <div class="col-md-6 my-3">
                    <p>d’assurance européen : D-HNQM-UQ9MO-22 (www.orias.fr) - Succursale France : Bâtiment Ellipse, 15 avenue de la Demi-Lune - 95700 Roissy-en-France - RCS Pontoise : 451 618 904 - Administration et adresse postale : 11, avenue de Boursonne - B.P. 61 - 02601 Villers-Cotterêts Cedex. Délai de rétractation de 14 jours.
                        Assurance facultative Décès Incapacité Perte d’Emploi : 9,82€ / mois en sus de la mensualité.
                        Contrat souscrit  auprès de Cardif Assurance Vie SA au capital de 688 507 760€, N°732 028 154 RCS Paris et Cardif Assurances Risques Divers SA au capital de 14 784 000€, N°308 896 547 RCS Paris, Siège social : 1 Boulevard Haussmann - 75009 Paris. Le coût de l’assurance peut varier en fonction de l’âge de l'assuré.</p>
                    <p><span class="text-seat-bold">SEAT MÓ eScooter 125: consommation mixte WLTP (min-max kWh/100km) : 3,14kWh/100km. Émissions de CO2  WLTP (min – max g/km) : 0 (en phase de roulage)</span>
                        Depuis le 1er septembre 2018, les véhicules légers neufs sont réceptionnés en Europe sur la base de la procédure d’essai harmonisée pour les véhicules légers (WLTP), procédure d’essai permettant de mesurer la consommation de carburant et les émissions de CO2, plus réaliste que la procédure NEDC précédemment utilisée.</p>
                    <br>
                    <p>* Conditions sur <a href="https://www.service-public.fr/">servicepublic.fr</a></p>
                </div>
            </div>
        </div>
        <section class="bg-section-button d-flex justify-content-center align-items-center">
            <div class="seeMore-button">
                <img src="images/Icons/ico-next-gray.svg" alt="icon-close-offers-modal" type="button" aria-label="Close">
            </div>
        </section>
    </div>
    <div class="footer-link col-md-6 d-block d-md-flex align-items-center row">
        <p class="col-12 col-md-6">Voir les consommations et la classe énergétique des modèles suivants :
        <div class="col-12 col-md-6"><a href="#">Nouvelle Ibiza</a>, <a href="#">Nouvelle Arona</a>, <a href="h#">Leon</a>,
            <a href="#">Leon Sportstourer</a>, <a href="#">Ateca</a>, <a href="#">Tarraco</a>.</p>
        </div>
    </div>
    <section class="bg-section py-5 d-flex justify-content-center align-items-center footer-text">
        <p>Pour les trajets courts, privilégiez la marche ou le vélo. #SeDéplacerMoinsPolluer</p>
    </section>
</section>
<script>
    $('.seeMore-button').click(function () {
        var collapseIcon = $(this).find('img');
        var width = window.innerWidth
        if (collapseIcon.hasClass('open')) {
            $('.footer-content').animate({'height': '150px'}, 350);
            collapseIcon.removeClass('open')
        } else {
            if (width > 768) {
                $('.footer-content').animate({'height': '600px'}, 350);
            } else if (width <= 768 && width > 576) {
                $('.footer-content').animate({'height': '900px'}, 350);
            } else if (width <= 576 && width > 432) {
                $('.footer-content').animate({'height': '1200px'}, 350);
            } else if (width <= 432 && width > 400) {
                $('.footer-content').animate({'height': '1350px'}, 350);
            } else if (width <= 400 && width > 350) {
                $('.footer-content').animate({'height': '1650px'}, 350);
            } else {
                $('.footer-content').animate({'height': '1850px'}, 350);
            }
            collapseIcon.addClass('open')
        }
    })
</script>
