{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header_js %}
    <script type="text/javascript" src="https://js.algoan.com/connect/algoan-connect.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
    <section class="product financement-votre-dossier">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i class="step-title">Connexion à votre banque</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="financement financement-bank-algoan">
        <div class="seat-container">
            {% if isShowBackButton %}
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="mt-4" id="algoan-connect"></div>
            <form id="formAlgoanBank">
                <input type="hidden" name="application_id" value="{{ customerApplication.idApplication }}">
                <button class="btn btn-custom btn-check-later" formaction="{{ path('check-online-later') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Vérifier plus tard </button>
                <p class="description-button">
                    Vous pouvez reprendre la connexion
                    à votre banque ultérieurement.
                </p>
            </form>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement3-3_algoan.js"></script>
    <script>
        AlgoanConnect.addWidget({
            apiKey: "{{ apiKey }}",
            customIdentifier: "{{ customerApplication.surname }}{{ customerApplication.name }}-{{ customerApplication.idApplication }}",
        });

        function receiveMessage(event) {
            if (event.origin !== "https://connect.algoan.com") {
                return;
            }

            const { eventName, payload } = event.data;

            if (eventName === "aggregation_success") {
                // handle success
                console.log("The user successfully aggregated his accounts.");

                // Dynamic data layer
                var dealerCode = "{{ customerApplication.distributeurs.kvps }}"
                var dealerName = "{{ customerApplication.distributeurs.raisonSociale }}"
                var carCode = "{{ escooterConfiguration.vehicleEngine }}";
                var carName = getCarNameFormCarCode(carCode);

                var dataLayerAfterValidation = {
                    'channel': 'Pre Financing',
                    'digitalElement': 'SEAT MO',
                    'formID': 'Pre-Financial-Request',
                    'eventName': 'app-step-10',
                    'applicationType': 'form',
                    'applicationName': 'Finance Request',
                    'applicationStep': '10-Algoan-validation',
                    'dealerName': dealerName,
                    'dealerCode': dealerCode,
                    'carName': carName,
                    'carCode': carCode
                }

                dynamic_dataLayer.call('setDefaultValues', dataLayerAfterValidation);
                console.log(dataLayerAfterValidation);

                window.location.href = '/votre-solvabilite.html?customerApplication={{ customerApplication.idApplication }}&message=success&customerId='+ payload.customerId + '&analysisId='+ payload.analysisId;
            } else if (eventName === "aggregation_cancel") {
                // handle cancel
                console.log("The user cancelled the aggregation.");
                window.location.href = '/votre-solvabilite.html?customerApplication={{ customerApplication.idApplication }}&message=cancelled&customerId='+ payload.customerId;
            } else if (eventName === "aggregation_error") {
                // handle aggregation error
                console.log("The user encountered an error during the aggregation");
                window.location.href = '/votre-solvabilite.html?customerApplication={{ customerApplication.idApplication }}&message=error&customerId='+ payload.customerId + '&analysisId='+ payload.analysisId;
            } else if (eventName === "authentication_error") {
                // handle authentication error
                console.log("The user encountered an authentication error (error 401)");
            }
        }

        window.addEventListener("message", receiveMessage);

        $(document).ready(function() {
            // Dynamic data layer
            var dealerCode = "{{ customerApplication.distributeurs.kvps }}"
            var dealerName = "{{ customerApplication.distributeurs.raisonSociale }}"
            var carCode    = "{{ escooterConfiguration.vehicleEngine }}";
            var carName    = getCarNameFormCarCode(carCode);

            var dataLayerBeforeValidation = {
                'channel': 'Pre Financing',
                'digitalElement': 'SEAT MO',
                'formID': 'Pre-Financial-Request',
                'eventName': 'app-step-9',
                'applicationType': 'form',
                'applicationName': 'Finance Request',
                'applicationStep': '9-Algoan-pre-validation',
                'dealerName': dealerName,
                'dealerCode': dealerCode,
                'carName': carName,
                'carCode': carCode
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayerBeforeValidation);
            console.log(dataLayerBeforeValidation);
            //
        });
    </script>
{% endblock %}

