{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header_js %}
  <script src="js/conf_{{ gamme }}.js"></script>
{% endblock %}

{% block stylesheets %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/configurator.min.css" />
{% endblock %}

{% block body %}

  <section class="product">
    <div class="container-fluid p-0">
      <div class="row m-0">
        <div id="stickyHeaderOffre">
          <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
        </div>
      </div>
    </div>
    <div class="container-fluid ps-0">
      <div class="row">
        <div class="d-xl-block d-none col-xl-6" id="sidebar">
          <div id="carouselProduct" class="carousel h-100">
            <div class="carousel-inner" id="sticky-sidebar">
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-6" id="main">
          <div class="product-detail">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="back-container d-block d-md-none">
                    <button class="back border-0 p-0 go-back">
                      <p class="back__content">
                                        <span>
                                            <img src="images/financement/arrow-left.svg" alt="arrow__left">
                                        </span>
                        retour
                      </p>
                    </button>
                  </div>
                  <div class="product-detail__info">
                    <div class="info product-detail__block">
                      <h5 class="header header--big">Choisissez votre offre</h5>
                      <p class="text--large"><i><span class="text--model"></span> à partir de <span class="var_prix_a_partir_de">xxxx</span>€/mois ou <span class="var_prix_catalogue">xxxx</span>€ TTC.</i></p>
                    </div>
                    <div class="color product-detail__block">
                      <h5 class="header color" data-bs-toggle="collapse" href="#color">
                        Couleur
                        <a class="icon--small" data-bs-toggle="collapse" href="#color" role="button"
                           aria-expanded="true" aria-controls="color" id="btn-color">
                          <i class="fas fa-minus"></i>
                        </a>
                      </h5>
                      <div class="collapse show" id="color">
                        <ul>
                        </ul>
                      </div>
                    </div>
                    <div class="financement product-detail__block">
                      <h5 class="header financement" data-bs-toggle="collapse" href="#financement">
                        Financement
                        <a class="icon--small" data-bs-toggle="collapse" href="#financement" role="button"
                           aria-expanded="true" aria-controls="financement" id="btn-financement">
                          <i class="fas fa-minus"></i>
                        </a>
                      </h5>
                      <div class="collapse show" id="financement">

                        <div class="financement__item rent">
                          <h6 class="header--small text-uppercase mb-0">Location avec option d'achat</h6>
                          <p class="gagnez-du-text py-2">Gagnez du temps en concession</p>
                          <div class="line-1"></div>
                          <p class="soumettez-votre-text py-3">Soumettez votre dossier en ligne et gagnez du temps en concession.
                          </p>
                          <div class="card shadow">
                            <div class="card-body location">
                              <div class="d-flex flex-column-reverse flex-sm-column">
                                <p class="text-content-big pb-0">
                                  Durée de votre mensualité
                                </p>
                                <div class="card-title header header--active f-w-700 justify-content-start mt-3 d-flex">
                                  <p class="d-flex"><span>À partir de&nbsp;</span> <span class="var_prix_a_partir_de">xxxx</span>€/mois<span class="text-c-orange">*</span></p>
                                  <span class="text-dark">
                                                                        <img width="12px" height="12px" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention" data-type="info" class="hand-cursor" onclick="trackingDataLayerPopup(this)">
                                                                    </span>
                                </div>
                              </div>
                              <div class="d-flex justify-content-around justify-content-sm-start mt-2">
                                <label class="item-duration text-center text-uppercase" for="duration-payment-24">
                                  <div class="justify-content-center">24</div>
                                  <div>mois</div>
                                  <label class="custom-checkbox">
                                    <input type="radio" name="financement" value="24" class="custom-control-input" id="duration-payment-24" checked="">
                                    <span class="custom-control-label d-block"></span>
                                  </label>
                                </label>
                                <label class="item-duration text-center text-uppercase" for="duration-payment-37">
                                  <div class="justify-content-center">37</div>
                                  <div>mois</div>
                                  <label class="custom-checkbox">
                                    <input type="radio" name="financement" value="37" class="custom-control-input" id="duration-payment-37">
                                    <span class="custom-control-label d-block"></span>
                                  </label>
                                </label>
                              </div>
                              <label class="card-text text--small"
                                     for="locationLongueDuree">LOA sur <span><span
                                          class="var_loa_duree">24</span> mois</span>
                                et <span><span class="var_kilometer">xxxx</span>km<sup>(1)</sup></span>. 1er loyer majoré
                                de <span><span
                                          class="var_loyer_majore">xxxx</span>€</span>
                                ramené à 0€ après déduction du
                                bonus écologique de <span
                                        class="var_loyer_majore font-weight-light">xxxx</span>€<span class="text-c-orange">*</span>,
                                suivi de <span class="var_loa_loyers">xxxx</span> <span>loyers</span>
                                de <span><span
                                          class="price-per-month">xxxx</span>€</span>.</label>
                              <p class="text-content text-content-big">
                                Vos assurances additionnelles
                              </p>
                              <div class="line-1 d-none d-sm-block"></div>
                              <div class="row additional-benefits gcm">
                                <div class="col-10">
                                  <div class="accessoires__item">
                                    <div class="accessoires__item--info">
                                      <div class="d-flex">
                                        <p class="text--header"><span class="text-c-orange">G</span>arantie <span class="text-c-orange">C</span>apital <span class="text-c-orange">M</span>oto <span class="text-c-orange">(GCM)
                                          <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-gcm-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#gcmModal" data-type="info" class="hand-cursor" onclick="trackingDataLayerPopup(this)"/>
                                        </span>
                                        </p>
                                      </div>
                                      <p class="text--price mt-1 mt-sm-0"></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2">
                                  <div class="accessoires__checkbox">
                                    <label class="custom-control custom-checkbox checkbox-square custom-card">
                                      <input type="checkbox" class="custom-control-input benefit" name="gcm" id="gcm">
                                      <span class="custom-control-label hand-cursor"></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <div class="row additional-benefits">
                                <div class="col-10">
                                  <div class="accessoires__item">
                                    <div class="accessoires__item--info">
                                      <div class="d-flex">
                                        <p class="text--header"><span class="text-c-orange">V</span>éhicule <span class="text-c-orange">D</span>e <span class="text-c-orange">R</span>emplacement <span class="text-c-orange">(VDR)</span>
                                          <img src="images/configurator/icon-information-orange.svg" alt="icon-vdr-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#vdrModal" data-type="info" class="hand-cursor" onclick="trackingDataLayerPopup(this)"/>
                                        </p>
                                      </div>
                                      <p class="text--price mt-1 mt-sm-0">5€ / mois<span class="text-c-orange">*</span></p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-2">
                                  <div class="accessoires__checkbox">
                                    <label class="custom-control custom-checkbox checkbox-square custom-card">
                                      <input type="checkbox" class="custom-control-input benefit" name="vdr" id="vdr">
                                      <span class="custom-control-label hand-cursor"></span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                              <p class="text-content text-content-big">
                                Montant total dû
                                <span class="var_montant_total_du text-c-orange">xxxx</span><span class="text-c-orange">€<span class="text-c-orange">*</span></span>
                                <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" data-type="info" class="hand-cursor" onclick="trackingDataLayerPopup(this)"/>
                              </p>
                              <div class="line-1 d-none d-sm-block"></div>
                              <p class="text-content text-content-date">
                                Offre valable du <span class="var_date_offre text-c-orange">xxxx</span>
                              </p>
                              <p class="text--info text-decoration-underline mt-1 m-sm-0">Votre apport de <span class="var_loyer_majore" style="margin-left: 0px;">xxxx</span> € remboursé avec l’aide gouvernementale
                                <span>
                                  <img class="d-flex align-items-center hand-cursor" onclick="trackingDataLayerPopup(this)" data-type="info" src="images/configurator/icon-information-orange.svg" alt="icon-offers-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal" />
                                  <!--                                  <i type="button" class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal"></i>-->
                                </span>
                              </p>
                              <div id="financement-item">
                                <div class="financement__item-list mt-1 mt-sm-0">
                                  <div class="row">
                                    <div class="financement__item-list--left">
                                      <ul>
                                        <li>2 ans de garantie constructeur pour le scooter et garantie de 4 ans
                                          (ou 40.000 km) pour la batterie.
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="financement__item cash">
                          <h6 class="header--small text-uppercase">Comptant</h6>
                          <div class="card shadow">
                            <div class="card-body">
                              <label class="card-title header f-w-700 align-items-end mb-0" for="comptantPartir">
                                <p class="d-flex text-c-orange">À partir de <span class="var_prix_catalogue" style="margin-left: 7px;">xxxx</span>€</p>
                                <label class="custom-control custom-checkbox custom-card mb-0">
                                  <input type="radio" name="financement" value="cash" class="custom-control-input" id="comptantPartir">
                                  <span class="custom-control-label d-block hand-cursor"></span>
                                </label>
                              </label>
                              <label class="card-text text--small" for="comptantPartir">Financez votre SEAT MÓ 125 par vos propres moyens.</label>
                              <p class="text--info text-decoration-underline m-0">Éligible à l’aide gouvernementale de <span class="var_loyer_majore" style="margin-left: 0px;">xxxx</span>€
                                <span>
                                  <img class="d-flex align-items-center hand-cursor" onclick="trackingDataLayerPopup(this)" data-type="info" src="images/configurator/icon-information-orange.svg" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal" alt="icon-offer-modal" />
                                  <!--                                  <i type="button" class="fa fa-info-circle" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal"></i>-->
                                </span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="assurance product-detail__block">
                      <h5 class="header" data-bs-toggle="collapse" href="#assurance">
                        Assurance
                        <a class="icon--small" data-bs-toggle="collapse" href="#assurance" role="button"
                           aria-expanded="true" aria-controls="assurance" id="btn-assurance">
                          <i class="fas fa-minus"></i>
                        </a>
                      </h5>
                      <div class="collapse show" id="assurance">
                        <p class="text--info-big">Êtes-vous intéressé(e) pour recevoir une proposition d'assurance 2 roues ?</p>
                        <div class="assurance__checkbox text-c-grey">
                          <input type="radio" name="assurance_oui" id="oui-m" value="oui" class="input-success">
                          <label for="oui-m" class="form-fill__input--radio me-5" required="">Oui</label>
                          <input type="radio" name="assurance_oui" id="non-f" value="non" checked="checked" class="input-success">
                          <label for="non-f" class="form-fill__input--radio">Non</label>
                        </div>
                      </div>
                    </div>
                    <div class="accessoires product-detail__block">
                      <h5 class="header accessoires" data-bs-toggle="collapse" href="#accessoires">
                        Accessoires
                        <a class="icon--small" data-bs-toggle="collapse" href="#accessoires" role="button"
                           aria-expanded="true" aria-controls="accessoires" id="btn-accessoires">
                          <i class="fas fa-minus"></i>
                        </a>
                      </h5>
                      <div class="collapse show" id="accessoires">
                        <div class="accessoires-desc">
                          <p class="text-seat-bold text-c-orange mb-3 text-personnalisez">Personnalisez votre e-scooter avec les accessoires et options disponibles en concession.</p>
                          <div class="text-seat-bold mb-3 text-payment">
                            <span>Règlement à prévoir en concession (hors mensualités).</span>
                            <span class="d-inline-flex">
                                                            <img width="12px" height="12px" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention" data-type="info" class="hand-cursor" onclick="trackingDataLayerPopup(this)" id="modalLegal">
                                                        </span>
                          </div>
                          <p class="text-contact">Veuillez vous rapprocher de votre distributeur pour plus d’informations.</br>
                            Sous réserve de disponibilité. </br>
                            À noter que certains accessoires nécessitent une pose en atelier, facturable par votre distributeur.
                          </p>
                        </div>
                        <ul>
                        </ul>
                      </div>
                    </div>
                    <div class="submit">
                      <button class="btn btn-custom gotoPage" rel="financement-pre-commande.html" onclick="trackingDataLayerInternal(this)">Étape suivante</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal GCM -->
  <div class="modal fade" id="gcmModal" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <div class="w-100">
            <div class="flex-row-reverse d-flex">
              <img type="button" data-bs-dismiss="modal" aria-label="Close" src="images/configurator/icon-close.svg" alt="icon-close-service-modal" />
            </div>
            <div class="d-flex">
              <h5 class="modal-title text-uppercase"><span class="text-c-orange">G</span>arantie <span class="text-c-orange">C</span>apital <span class="text-c-orange">M</span>oto <span class="text-c-orange">(GCM)</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="modal-body text-start">
          <div class="text-destruction">
            En cas de destruction ou de vol de votre eScooter, la Garantie Capital Moto vous permet de
            reconstituer la valeur d’achat de votre véhicule pendant 4 ans, en complétant le remboursement
            de votre assureur. Vous protégez ainsi votre capital et vous pouvez acquérir votre nouvelle moto
            en toute tranquillité.
          </div>
          <div>
            Assurance souscrite auprès de la société ICARE ASSURANCE, SA au capital 2 358 816 € - RCS Nanterre :
            327 061 339 - 93 rue Nationale 92100 Boulogne Billancourt. Entreprise régie par le Code des
            assurances.
            Assurance souscrite exclusivement avec un financement, sous réserve d’acceptation par VOLKSWAGEN BANK
            GMBH – SARL de droit allemand – Capital social: 318 279 200 € - Siège social: Braunschweig
            (Allemagne) – RC/HRB Braunschweig: 1819 – Etablissement de crédit de l’EEE et intermédiaire en
            assurance européen inscrit à l’IHK Braunschweig sous le n°D-HNQM-UQ9MO-22 exerçant en libre
            établissement (<a href="www.orias.fr"><span class="text-c-orange text-decoration-underline">www.orias.fr</span></a>) - Succursale France : Bâtiment Ellipse – 15, avenue de la Demi-Lune – 95700 Roissy Charles de Gaulle Cedex – RCS PONTOISE 451 618 904 – Administration et adresse postale: 11, avenue de Boursonne – B.P. 61 – 02600 Villers-Cotterêts.
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Modal GCM -->

  <!-- Modal VDR -->
  <div class="modal fade" id="vdrModal" tabindex="-1">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <div class="w-100">
            <div class="flex-row-reverse d-flex">
              <img type="button" data-bs-dismiss="modal" aria-label="Close" src="images/configurator/icon-close.svg" alt="icon-close-service-modal" />
            </div>
            <div class="d-flex">
              <h5 class="modal-title text-uppercase"><span class="text-c-orange">V</span>éhicule <span class="text-c-orange">D</span>e <span class="text-c-orange">R</span>emplacement <span class="text-c-orange">(VDR)</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="modal-body text-start">
          <div>
            Parce que certaines circonstances peuvent conduire à l’immobilisation de votre eScooter, Seat
            Financial Services a mis au point une solution pour vous apporter une mobilité de chaque
            instant.
          </div>
          <div class="text-advantages">
            <div>Les avantages</div>
            <ul>
              <li>L’assurance de rester entre de bonnes mains : notre plateforme d’experts vous accueille 24H/24 et 7J/7.</li>
              <li>Votre mobilité est assurée en toute sérénité.</li>
              <li>Une assurance médicale incluse.</li>
              <li>Vous avez accès à un eScooter de remplacement ou à un véhicule de catégorie économique*</li>
            </ul>
          </div>
          <div>
            Les prestations sont fournies par <span class="text-c-orange text-decoration-underline">Europ Assistance S.A</span>
            au capital de 48 123 637 €, entreprise régie par le <span class="text-bold">Code des Assurances</span>, immatriculée au <span class="text-bold">Registre du Commerce</span> et des Sociétés de Paris sous le numéro <span class="text-bold">451 366 405, sise 2 rue Pillet-Will, 75009 Paris.</span>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Modal VDR -->

  <!-- Modal Offers -->
  <div class="modal fade" id="offersModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <div class="w-100">
            <div class="flex-row-reverse d-flex">
              <img src="images/configurator/icon-close-modal.svg" alt="icon-close-offers-modal" type="button" data-bs-dismiss="modal" aria-label="Close" />
              <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="d-flex">
              <h5 class="modal-title">Pour bénéficier du bonus écologique, vous devez être majeur et domicilié en France.</h5>
            </div>
          </div>
        </div>
        <div class="modal-body text-start">
          <p>Le véhicule doit remplir toutes les conditions suivantes :</p>
          <ul>
            <li>Véhicule <span class="text-seat-bold">neuf</span></li>
            <li>Véhicule électrique</li>
            <li>Véhicule immatriculé en France dans <a href="https://www.service-public.fr/particuliers/vosdroits/F35476" target="_blank" >une série définitive: Immatriculation d'un véhicule obtenue après une 1re immatriculation provisoire, lorsque le dossier technique et administratif est complet.</a></li>
            <li>Véhicule soit acheté, soit loué dans le cadre d'un contrat d'une durée de 2 ans ou plus.</li>
            <li>Le véhicule ne doit pas être vendu dans l'année suivant son achat ou sa location, ni avant d'avoir parcouru au moins 2 000 km.</li>
          </ul>
          <p class="text-c-orange text-seat-bold">L'aide est versée au maximum une fois par personne tous les 3 ans.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal Offers -->

  <!-- Modal LegalMention -->
  <div class="modal fade" id="legalMentionModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="legal-header">
          <h5 class="header--small">Location avec option d'achat</h5>
          <p class="sub-title pt-3">Un crédit vous engage et doit être remboursé.</p>
          <p class="sub-title">Vérifiez vos capacités de remboursement avant de vous engager.</p>
          <div class="legal-btn-close">
            <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close"/>
            <!--                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
          </div>
        </div>
        <div class="legal-body">
          <div class="row">
            <div class="col-md-10 col-8">
              <p>Prix Catalogue</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p><span class="var_prix_catalogue">xxxx</span>€</p>
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-md-10 col-8">
              <p>Bonus Écologique</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p><span class="var_loyer_majore">xxxx</span>€</p>
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-md-10 col-8">
              <p class="textSeatBold">1er loyer au titre de la location</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p class="textSeatBold"><span class="var_loyer_majore">xxxx</span>€</p>
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-md-10 col-8">
              <p class="textSeatBold"><span class="var_loyer_au_titre_de_location">xxxx</span> loyer au titre de location</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p class="textSeatBold"><span class="var_prix_a_partir_de">xxxx</span>€</p>
            </div>
            <div class="col-12">
              <hr>
            </div>
            <div class="col-md-10 col-8">
              <p>Durée</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p><span class="var_loa_duree">xxxx</span> mois</p>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-md-10 col-8">
              <p>Kilométrage annuel</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p>7500km</p>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-md-10 col-8">
              <p>Option d’achat</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p><span class="var_option_achat">xxxx</span>€</p>
            </div>
            <div class="col-12"><hr></div>
            <div class="col-md-10 col-8">
              <p class="textSeatBlack">Soit un montant total dû</p>
            </div>
            <div class="col-md-2 col-4 text-right">
              <p class="textSeatBlack"><span class="var_montant_total_du">xxxx</span>€</p>
            </div>
          </div>
          <div class="row">
            <div class="description">
              <div class="text-desc var_mention_legale"></div>
              <div class="button-control text-center">
                <button class="btn-show">Lire les mentions légales</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal LegalMention -->

  <section class="bg-section"></section>

  <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>


{% endblock %}
{% block javascripts %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
          crossorigin="anonymous"></script>
  <script src="js/configurator.js"></script>
  <script>
    $(document).ready(function() {
      $('img[data-bs-toggle="modal"]').on('click', function() {
        $('body').css('overflow-y', 'auto');
      })

      saveLocalStorage();
      restoreState();

      function saveLocalStorage() {
        sessionStorage.setItem('url-step-configurator', window.location.href);
        $('input[name=financement]').on('change', function() {
          sessionStorage.setItem('financement', $(this).val());
        });
        $('input[name=gcm]').on('change', function() {
          sessionStorage.setItem('gcm', $(this).is(':checked'));
        });
        $('input[name=vdr]').on('change', function() {
          sessionStorage.setItem('vdr', $(this).is(':checked'));
        });
        $('input[name=assurance_oui]').on('change', function() {
          sessionStorage.setItem('assurance_oui', $(this).val());
        });
        $('.accessoiry-item').on('change', function() {
          var checkedValues = $('input.accessoiry-item:checked').map(function () {
            return this.id;
          }).get();

          sessionStorage.setItem('accessoiry-item', JSON.stringify(checkedValues));
        });
      }
      function restoreState() {
        if (sessionStorage.getItem('financement')) {
          $('input[name=financement][value=' + sessionStorage.getItem('financement') + ']').prop('checked', true);
          sessionStorage.removeItem('financement');
        }
        if (sessionStorage.getItem('gcm')) {
          $('input[name=gcm]').prop('checked', sessionStorage.getItem('gcm'));
          sessionStorage.removeItem('gcm');
        }
        if (sessionStorage.getItem('vdr')) {
          $('input[name=vdr]').prop('checked', sessionStorage.getItem('vdr'));
          sessionStorage.removeItem('vdr');
        }
        if (sessionStorage.getItem('assurance_oui')) {
          $('input[name=assurance_oui][value=' + sessionStorage.getItem('assurance_oui') + ']').prop('checked', true);
          sessionStorage.removeItem('assurance_oui');
        }
        if (sessionStorage.getItem('accessoiry-item')) {
          var checkedValues = sessionStorage.getItem('accessoiry-item');

          $.each(JSON.parse(checkedValues), function(index, value) {
            $('.accessoiry-item[id='+ value +']').prop('checked', true);
          });
          sessionStorage.removeItem('accessoiry-item');
        }
      }

      // Dynamic data layer
      var dataLayer = {
        'channel': 'pre-financing',
        'virtualPageName': 'SEAT – Mo Pre Financing - offer'
      }

      dynamic_dataLayer.call('setDefaultValues', dataLayer);
      console.log(dataLayer);
      //
    });
  </script>
{% endblock %}
