{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contact.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <style>
        #back-top{
            display: none !important;
        }
    </style>
    <style>
        .contact .item .item__common_info .icon-collapse {
            font-family: SeatBold;
            font-size: 14px;
            letter-spacing: 0.56px;
            line-height: 18px;
        }
    </style>
{% endblock %}

{% block body %}

    <button id="back-top" class="back-top--active">
        <img src="images/contact/chat.svg" alt="chat__svg">
    </button>
    <section class="stickyHeader">
        <div class="container-fluid p-0">
            <div class="m-0">
                <div id="stickyHeaderOffre" class="w-100">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-success-message">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back-homepage">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/contact/arrow-back.png" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>

            <script>
                function validateZipcode(){
                    let apiUrl = window.iFrameResizerSeat125Mo;
                    let zipcode = $('#zipcode').val();
                    var validate = $.ajax({
                        async: false,
                        url: apiUrl.targetApiPartiTech + '/get-distributors/' + zipcode,
                        type: 'GET',
                        dataType: "json",
                        timeout: 2000,
                    }).responseText;
                    data = $.parseJSON(validate);
                    if(typeof data.error !='undefined' && data.error.length){
                        return true;
                    }else{
                        return false;
                    }
                }
            </script>

            <div class="contact-leadconnect">
                <div class="row flex-md-row m-0">
                    <div class="container mw-100">
                        <div class="position-relative">
                            <div class="bg-image-mobile">
                                <img src="images/formulaire-envoye-bg.png" width="100%">
                            </div>
                            <div class="tip-and-trick container d-flex justify-content-center flex-column py-0 py-md-5">
                                <div class="header-text">
                                    <p class="mb-0">Formulaire</p>
                                    <p class="mb-0">envoyé</p>
                                </div>
                                <div class="mt-3">
                                    <div class="text-desc">Votre demande a bien été envoyée !</div>
                                    <div class="text-desc">Vous serez recontacté par un conseiller SEAT proche de chez vous.</div>
                                </div>
                            </div>
                            <div class="bg-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>


{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/main-min.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/

        const phoneInputField = document.getElementById('phone');
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry:"FR",
            formatOnDisplay: false,
            preferredCountries: ["fr", "us"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
    <script src="js/contact.js"></script>
{% endblock %}
