{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header_js %}
    <script src="js/conf_{{ gamme }}.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/contact.min.css" />
    <link rel="stylesheet" href="css/main.css" />

    <style>
        #back-top{
            display: none !important;
        }
    </style>
    <style>
        .contact .item .item__common_info .icon-collapse {
            font-family: SeatBold;
            font-size: 14px;
            letter-spacing: 0.56px;
            line-height: 18px;
        }
    </style>
{% endblock %}

{% block body %}

    <button id="back-top" class="back-top--active">
        <img src="images/contact/chat.svg" alt="chat__svg">
    </button>
    <section class="stickyHeader">
        <div class="container-fluid p-0">
            <div class="m-0">
                <div id="stickyHeaderOffre" class="w-100">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                        <p class="back__content text-line-h-16" >
                        <span>
                            <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <div class="item contact-header">
                <div class="row flex-md-row m-0">
                    <div class="col-12 p-0" id="contact-header">
                        <p class="container">Contacter un conseiller SEAT</p>
                    </div>
                    <div class="col-12 d-flex common-info">
                        <div class="container d-block d-md-flex">
                            <div class="col-12 col-md-6 item__common_info d-flex flex-column align-items-center align-items-md-start justify-content-center my-5">
                                <div class="d-flex align-items-center">
                                    <p class="f-16 text-line-h-18" id="textConfigHeader">Vous êtes intéressés par le <span class="model-name"></span></p>
                                </div>
                                <div class="item__detail mr-3 mt-3">
                                    <p class="f-13 intro-offer text-line-h-18">OFFRE DE LANCEMENT</p>
                                    <!--                  <p class="f-14 intro-offer text-line-h-16 d-none" id="S0AAA3">Rouge Audacieux</p>-->
                                    <!--                  <p class="f-14 intro-offer text-line-h-16 d-none" id="S0AAA1">Blanc Oxygène</p>-->
                                    <!--                  <p class="f-14 intro-offer text-line-h-16 d-none" id="S0AAA5">Gris Aluminium</p>-->
                                    <p class="f-16 text-line-h-18 without-config">À partir de
                                        <span class="text-c-orange"><span class="var_prix_a_partir_de">99</span>€/mois</span>
                                    </p>
                                </div>
                                <!--                <div class="d-none" id="interesse">-->
                                <!--                  <div class="item__list">-->

                                <!--                    <div class="row">-->
                                <!--                      <div class="col-12 col-md-7">-->
                                <!--                        <div class="item__list&#45;&#45;right">-->
                                <!--                          <ul>-->
                                <!--                            <li>LOA sur <span><span class="var_loa_duree">xxxx</span> mois</span> et 15 000km</li>-->
                                <!--                            <li>1er loyer majoré de <span><span class="var_loyer_majore">xxxx</span>€</span> ramené à 0€ après déduction du bonus écologique de <span class="var_loyer_majore">xxxx</span>€*, suivi de <span class="var_loa_loyers">xxxx</span> loyers de <span><span class="var_prix_a_partir_de">xxxx</span>€</span>.</li>-->
                                <!--                          </ul>-->
                                <!--                        </div>-->
                                <!--                      </div>-->
                                <!--                      <div class="col-12 col-md-5">-->
                                <!--                        <div class="item__list&#45;&#45;right">-->
                                <!--                          <ul>-->
                                <!--                            <li>-->
                                <!--                              <span>Montant total dû <span class="var_montant_total_du">xxxx</span>€</span>-->
                                <!--                              <span class="text-dark">-->
                                <!--                                <i type="button" class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top"></i>-->
                                <!--                              </span>-->
                                <!--                            </li>-->
                                <!--                            <li>Offre valable du <span class="var_date_offre">xxxx</span></li>-->
                                <!--                          </ul>-->
                                <!--                        </div>-->
                                <!--                      </div>-->

                                <!--                    </div>-->
                                <!--                  </div>-->
                                <!--                </div>-->
                                <!--            <p class="text&#45;&#45;small d-none align-items-center icon-collapse" data-toggle="collapse" data-target="#interesse" onclick="changeTextInteresse()"><span id="changeTextInteresse">Voir tous les services inclus</span>-->
                                <!--              <a class="btn f-16 icon-collapse" data-toggle="collapse" data-target="#interesse" aria-expanded="false"-->
                                <!--                aria-controls="collapseExample" id="btn-interesse">-->
                                <!--                <i class="fas fa-plus"></i>-->
                                <!--              </a>-->
                                <!--            </p>-->
                            </div>
                            <div class="col-12 col-md-6 d-flex justify-content-center">
                                <div class="item__profile">
                                    <div class="item__img">
                                        <img class="w-100" src="images/contact/scooters.png" alt="item_image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--      <div class="item border-top-0 d-none" id="accessories">-->
            <!--        <div class="row">-->
            <!--          <div class="col-12 item__common_info">-->
            <!--            <p class="f-16 text-line-h-18">Vos accessoires</p>-->
            <!--            <div class="collapse" id="accessoires">-->
            <!--              <div class="item__list">-->
            <!--                <div class="row">-->
            <!--                  <div class="col-12">-->
            <!--                    <ul></ul>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="row">-->
            <!--              <div class="col-7">-->
            <!--                <p class="text&#45;&#45;small d-flex align-items-center icon-collapse" data-toggle="collapse" data-target="#accessoires" onclick="changeTextAccessoires()">-->
            <!--                  <span id="changeTextAccessoires">Voir le détail</span>-->
            <!--                  <a class="btn f-16" data-toggle="collapse" data-target="#accessoires"-->
            <!--                    aria-expanded="false" aria-controls="collapseExample" id="btn-accessoires">-->
            <!--                    <i class="fas fa-plus"></i>-->
            <!--                  </a>-->
            <!--                </p>-->
            <!--              </div>-->
            <!--              <div class="col-5">-->
            <!--                <div class="item__total text-right">-->
            <!--                  <p class="f-16 text-line-h-37">Montant total des accessoires</p>-->
            <!--                  <p class="f-26 text-c-orange text-line-h-30" id="totalPrice">220€</p>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->

            <!-- Modal -->
            <!--      <div class="modal fade" id="legalMentionModal" aria-hidden="true" tabindex="-1">-->
            <!--        <div class="modal-dialog">-->
            <!--          <div class="modal-content">-->
            <!--            <div class="legal-header">-->
            <!--              <h6 class="header&#45;&#45;small">Location avec option d'achat</h6>-->
            <!--              <p class="sub-title pt-3">Un crédit vous engage et doit être remboursé.</p>-->
            <!--              <p class="sub-title">Vérifiez vos capacités de remboursement avant de vous engager.</p>-->
            <!--              <div class="legal-btn-close">-->
            <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                  <span aria-hidden="true">&times;</span>-->
            <!--                </button>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--            <div class="legal-body">-->
            <!--              <div class="row">-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p>Prix Catalogue</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p><span class="var_prix_catalogue">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--                <div class="col-12">-->
            <!--                  <hr>-->
            <!--                </div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p>Pris remisé : A remplacer par « Bonus Écologique »</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p><span class="var_loyer_majore">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--                <div class="col-12">-->
            <!--                  <hr>-->
            <!--                </div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p class="textSeatBold">1er loyer au titre de la location</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p class="textSeatBold"><span class="var_loyer_majore">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--                <div class="col-12">-->
            <!--                  <hr>-->
            <!--                </div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p class="textSeatBold">48 loyer au titre de location</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p class="textSeatBold"><span class="var_prix_a_partir_de">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--                <div class="col-12">-->
            <!--                  <hr>-->
            <!--                </div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p>Durée</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p><span class="var_loa_duree">xxxx</span> mois</p>-->
            <!--                </div>-->
            <!--                <div class="col-12"><hr></div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p>Kilométrage annuel</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p>5000km</p>-->
            <!--                </div>-->
            <!--                <div class="col-12"><hr></div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p>Option d’achat</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p><span class="var_option_achat">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--                <div class="col-12"><hr></div>-->
            <!--                <div class="col-md-10 col-8">-->
            <!--                  <p class="textSeatBlack">Soit un montant total dû</p>-->
            <!--                </div>-->
            <!--                <div class="col-md-2 col-4 text-right">-->
            <!--                  <p class="textSeatBlack"><span class="var_montant_total_du">xxxx</span>€</p>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--              <div class="row">-->
            <!--                <div class="description">-->
            <!--                  <div class="text-desc var_mention_legale">-->
            <!--                      <p>-->
            <!--                    SEAT MÓ eScooter 125 avec peinture Rouge Audacieux à 98 € / mois (1)-->
            <!--					Véhicule de remplacement inclus (2)-->
            <!--					LOA sur 37 mois et 15.000 Km.-->
            <!--					1er loyer majoré de 900€ ramené à 0€ après déduction du bonus écologique de 900€*, suivi de 36 loyers de 98€.-->
            <!--					Montant total dû : 7807,89€.-->
            <!--					Offre valable du 01/04/2022 au 30/06/2022-->
            <!--					Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.-->

            <!--                    </p>-->
            <!--                   <p>(1) Location avec Option d’Achat pour une SEAT MÓ eScooter 125 vendu au prix de 6775€. Option d’achat finale : 3439,93 € ou reprise du scooter sous conditions du distributeur. Montants exprimés TTC. Offre réservée aux particuliers chez tous les distributeurs SEAT MÓ (France métropolitaine) présentant ce financement et valable jusqu’au 31/05/2022 pour toute commande d’une SEAT MÓ eScooter 125 passée avant le 31/05/2022 et livrée avant le 31/10/2022.<br>-->
            <!--					* Offre valable sous réserve de bénéficier du Bonus écologique (conditions sur servicepublic.fr)-->
            <!--					Offre sous réserve d’acceptation du dossier par VOLKSWAGEN BANK GMBH - SARL de droit allemand - Capital social : € 318 279 200 - Siège social : Braunschweig (Allemagne) - RC/HRB Braunschweig : 1819 - Intermédiaire d’assurance européen : D-HNQM-UQ9MO-22 (www.orias.fr) - Succursale France : Bâtiment Ellipse, 15 avenue de la Demi-Lune - 95700 Roissy-en-France - RCS Pontoise : 451 618 904 - Administration et adresse postale : 11, avenue de Boursonne - B.P. 61 - 02601 Villers-Cotterêts Cedex. Délai de rétractation de 14 jours.-->
            <!--					</p>-->

            <!--					<p>Assurance facultative Décès Incapacité Perte d’Emploi : 9,82€ / mois en sus de la mensualité. Contrat souscrit auprès de Cardif Assurance Vie SA au capital de 688 507 760€, N°732 028 154 RCS Paris et Cardif Assurances Risques Divers SA au capital de 14 784 000€, N°308 896 547 RCS Paris, Siège social : 1 Boulevard Haussmann - 75009 Paris. Le coût de l’assurance peut varier en fonction de l’âge de l'assuré.</p>-->
            <!--					-->
            <!--					<p>SEAT MÓ eScooter 125: Autonomie électrique WLTP: 133 km. Consommation mixte WLTP (min-max kWh/100km) : 0,07kWh/100km. Émissions de CO2 WLTP (min – max g/km) : 0 (en phase de roulage)-->
            <!--					-->
            <!--					<p>Depuis le 1er septembre 2018, les véhicules légers neufs sont réceptionnés en Europe sur la base de la procédure d’essai harmonisée pour les véhicules légers (WLTP), procédure d’essai permettant de mesurer la consommation de carburant et les émissions de CO2, plus réaliste que la procédure NEDC précédemment utilisée.-->

            <!--                  </div>-->
            <!--                  <div class="button-control text-center">-->
            <!--                    <button class="btn-show">Lire les mentions légales</button>-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
            <!--          </div>-->
            <!--        </div>-->
            <!--      </div>-->
            <script>
                function validateZipcode(){
                    let apiUrl = window.iFrameResizerSeat125Mo;
                    let zipcode = $('#zipcode').val();
                    var validate = $.ajax({
                        async: false,
                        url: apiUrl.targetApiPartiTech + '/get-distributors/' + zipcode,
                        type: 'GET',
                        dataType: "json",
                        timeout: 2000,
                    }).responseText;
                    data = $.parseJSON(validate);
                    if(typeof data.error !='undefined' && data.error.length){
                        return true;
                    }else{
                        return false;
                    }
                }
            </script>

            <div class="form-fill" id="contactFormLead">
                <div class="container pb-5">
                    <div class="px-3">
                        <div class="form-fill__header py-5 col-12 px-0">
                            <p class="f-24 text-line-h-24 mb-0">Pour profiter de votre offre, merci de remplir le formulaire ci-dessous.</p>
                            <i><p class="f-16 text-line-h-25 mb-0">Vous serez recontacté par un conseiller SEAT proche de chez vous.</p></i>
                            <p class="text-required text-c-orange"><b>*Champs obligatoires</b></p>
                        </div>
                        <div class="form-fill__input">
                        <form onsubmit='email2.setCustomValidity(email2.value != email.value ? "la confirmation de l&apos;email ne corresponds pas." : "");zipcode.setCustomValidity(zipcode.value.length != 5 ? "le code postal n&apos;est pas valide." : "");zipcode.setCustomValidity( zipcode.value.length == 5 && validateZipcode() ? "le code postal n&apos;est pas valide." : "");trackingDataLayerInternal(this, true); trackingLeadFormSend(this)'>
                            <input type="hidden" name="comment" value="">
                            <input type="hidden" name="dealer" value="" data-dealer-name="{{ dealerName }}" data-dealer-code="{{ dealerCode }}">
                            <input type="hidden" name="type" value="contact">
                            <div class="row">
                                <div class="col-12 mb-5">
                                    <div class="mb-3 text-c-grey form-civilite">
                                        <label class="form-fill__input--label-radio text-line-h-18 civili">CIVILITÉ</label>
                                        <input type="radio" name="civilite" id="civilite-m" value="mr" class="input-success">
                                        <label for="civilite-m" class="form-fill__input--radio text-line-h-14"
                                               required="">Monsieur</label>
                                        <input type="radio" name="civilite" id="civilite-f" value="mme" class="input-success" checked>
                                        <label for="civilite-f" class="form-fill__input--radio text-line-h-14 checked">Madame</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" id="nom" name="nom" required>
                                        <label for="nom">Nom<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-5 mt-md-0">
                                    <div class="form-group">
                                        <input type="text" id="prenom" name="prenom" required>
                                        <label for="prenom">Prénom<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-5">
                                    <div class="form-group">
                                        <input type="email" id="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="email" required>
                                        <label for="email">Email<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-5">
                                    <div class="form-group">
                                        <input type="email" id="email2" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" name="email2" required>
                                        <label for="email2">Confirmation email<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mt-5">
                                    <div class="form-group position-relative">
                                        <input type="hidden" id="zipcode" name="zipcode" required maxlength="5">
                                        <!--                  <label for="zipcode">Code postal<span class="text-c-orange">*</span></label>-->
                                        <!--                  <img src="images/contact/marker.svg" alt="marker" class="svg-icon">-->
                                        <input type="text" id="address" name="address" required>
                                        <label for="address">Adresse<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                                <style>
                                    .contact input[type="tel"] {
                                        padding-left: 0 !important;
                                    }
                                    /*.contact .form-fill__input input[type="tel"].filled ~ label {
                                        top: 0.8rem;
                                    }*/
                                </style>
                                <div class="col-12 col-md-6 mt-5">
                                    <div class="form-group">
                                        <input id="phone" name="phone" type="tel" pattern="(?:\d{2}\s?)+"required placeholder="+33 000000000">
                                        <label class="label-phone" for="phone">Numéro de téléphone<span class="text-c-orange">*</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12 mb-2">
                                    <div class="f-14 f-w-400 text-line-h-16 avez-vous">
                                        <p class="text-line-h-18 additional-info">INFORMATIONS COMPLÉMENTAIRES</p>
                                        <p class="text-description"><b>Êtes-vous titulaire d'un des trois permis suivants ?</b><i> Permis 125 / Permis A1 / Permis B après une formation de 7h.</i></p>
                                        <div class="text-c-grey form-permit">
                                            <input type="radio" name="permit" id="oui-p" value="G" class="input-success">
                                            <label for="oui-p" class="form-fill__input--radio mr-5" required="">Oui</label>
                                            <input type="radio" name="permit" id="non-p" value="F" class="input-success">
                                            <label for="non-p" class="form-fill__input--radio">Non</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row py-2 mb-3">
                                <div class="col-12">
                                    <p class="text-line-h-18 commercial-offer">OFFRES COMMERCIALES</p>
                                    <p class="f-14 f-w-400 text-line-h-16 oui-text text-description"><i>J’accepte de recevoir des offres commerciales, y compris des
                                            offres
                                            personnalisées, relatives aux produits et services commercialisés par SEAT France, division de
                                            Volkswagen Group France et par l’établissement vendeur.**</i></p>
                                    <div class="text-c-grey form-privacy_email">
                                        <input type="radio" name="privacy_email" id="oui-m" value="G" class="input-success">
                                        <label for="oui-m" class="form-fill__input--radio mr-5" required="">Oui</label>
                                        <input type="radio" name="privacy_email" id="non-f" value="F" class="input-success">
                                        <label for="non-f" class="form-fill__input--radio">Non</label>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-custom btn-contact text-line-h-26 mb-5 d-none d-md-block" formaction="{{ path('leadconnect') }}" formmethod="GET">Être recontacté(e)</button>
                            <button class="btn btn-custom btn-contact text-line-h-26 mb-md-5 mb-1 d-block d-md-none" formaction="{{ path('leadconnect') }}" formmethod="GET">Contactez un conseiller</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
            <div id="responseMessage" class="d-none col-12 p-0">
                <div class="d-flex flex-column-reverse flex-md-row">
                    <div class="col-12 response-content col-md-6 d-flex flex-column my-5">
                        <div class="d-flex justify-content-start text-title">
                            <p>Formulaire envoyé</p>
                        </div>
                        <div class="d-flex flex-column justify-content-start text-detail mt-4">
                            <p>Votre demande a bien été envoyée !</p>
                            <p>Vous serez recontacté par un conseiller SEAT proche de chez vous.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 d-flex p-0 justify-content-center">
                        <img class="w-100" src="images/formulaire-envoye-bg.png" alt="item_image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>


{% endblock %}


{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="js/main-min.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/

        const phoneInputField = document.getElementById('phone');
        const phoneInput = window.intlTelInput(phoneInputField, {
            initialCountry:"FR",
            formatOnDisplay: false,
            preferredCountries: ["fr", "us"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    </script>
    <script src="js/contact.js"></script>
{% endblock %}
