<div>
</div>

<div><div class="section"><div class="new"></div>
    </div><div class="iparys_inherited"><div class="disclaimer iparsys parsys"><div class="disclaimer section">





                <div id="disclaimer">
                    <div class="disclaimer-component show-expanded bg-white">
                        <div class="container-fluid">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="disclaimer-text richtext rhr-parent-black-60">
                                            <p>
                                            <p style="text-align: left;">Voir les consommations et la classe énergétique des modèles suivants : <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/ibiza.html" target="_self" onclick="trackingDataLayerExternal(this, true)">Ibiza</a>, <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/arona.html" onclick="trackingDataLayerExternal(this, true)" target="_self">Arona</a>, <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/leon-5portes.html" onclick="trackingDataLayerExternal(this, true)" target="_self">Leon 5 portes</a>, <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/leon-sportstourer/general.html" onclick="trackingDataLayerExternal(this, true)" target="_self">Leon Sportstourer</a>, <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/ateca.html" onclick="trackingDataLayerExternal(this, true)">Ateca</a>, <a href="https://seat.fr/content/countries/fr/seat-website/fr/voitures/suv-tarraco.html" onclick="trackingDataLayerExternal(this, true)" target="_self">Tarraco</a>.</p>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seeMore-container">
                            <div class="seeMore-button">
                                <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/svg-font/ico-next-gray.svg" alt="icon ico-next-gray"/>
                            </div>
                            <span class="seeMore-text-more"></span>
                        </div>
                    </div>


                </div></div>
        </div>
    </div>
</div>
</div>

<div/><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="footer iparsys parsys"><div class="col-12 seatComponentField section">





            <div class="richTextFieldComponent  richtext-dark">
                <div class="richtext richtext-block rhr-parent-black">
                    <h5 style="text-align: center;"><br />
                        Pour les trajets courts, privilégiez la marche ou le vélo. #SeDéplacerMoinsPolluer.<br />
                        <b> </b> </h5>

                </div>
            </div>
            </hr></div>
        <div class="globalfooter section">









            <div>


            </div>
            <div>


            </div>




            <div class="global-footer container-fluid" id="globalfooter">
                <div class="container">
                    <div class="row lists-wrapper">
                        <div class="col-12 col-lg-2 lang-mobile">
                            <div class="lang-wrapper">



                                <img src="https://seat.fr/content/dam/public/flags/europe/france.png" loading="lazy" alt="Language icon" title="Language icon" class="lang-icon"/>

                                <span class="lang-text">France</span>
                            </div>


                            <a href="https://www.seat.com" class="link-arrow-white" onclick="trackingDataLayerExternal(this)" target="_blank">
                                Site international



                                <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                            </a>
                        </div>
                        <div class="col-12 col-lg-2 d-sm-block">

                        </div>
                        <div class="col-12 col-lg-2 d-sm-block">
                            <div class="accordion">
                                <h3 data-toggle="collapse richtext" href="#footer-list-two" aria-expanded="false">
                                    Véhicules



                                    <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                                </h3>
                                <ul class="collapse richtext" id="footer-list-two">
                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ibiza" onclick="trackingDataLayerExternal(this, true)">Ibiza</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/arona" onclick="trackingDataLayerExternal(this, true)">Arona</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-5portes" onclick="trackingDataLayerExternal(this, true)">Leon 5 portes</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-sportstourer" onclick="trackingDataLayerExternal(this, true)">Leon Sportstourer </a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ateca" onclick="trackingDataLayerExternal(this, true)">Ateca</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/suv-tarraco" onclick="trackingDataLayerExternal(this, true)">Tarraco</a></li>
                                </ul></div>
                        </div>
                        <div class="col-12 col-lg-2 d-sm-block">
                            <div class="accordion">
                                <h3 data-toggle="collapse richtext" href="#footer-list-three" aria-expanded="false">
                                    Achat et Location



                                    <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                                </h3>
                                <ul class="collapse richtext" id="footer-list-three">
                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/offres" onclick="trackingDataLayerExternal(this)">Toutes nos offres</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/seat-financement" onclick="trackingDataLayerExternal(this)">Financer sa SEAT</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/offre-lld" onclick="trackingDataLayerExternal(this)">Location Longue Durée</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/stock-neuf" onclick="trackingDataLayerExternal(this)">Stock neuf en ligne</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/seat-sans-engagement" onclick="trackingDataLayerExternal(this)">SEAT Sans Engagement</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/professionnels" onclick="trackingDataLayerExternal(this)">Pour les professionnels</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/stock-occasion" onclick="trackingDataLayerExternal(this)">Stock d’occasion en ligne</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/seat-recommender" onclick="trackingDataLayerExternal(this)">Trouvez la SEAT qu&#39;il vous faut</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/redirection-offres/ventes-privees-seat" onclick="trackingDataLayerExternal(this)">Ventes Privées SEAT</a></li>
                                </ul></div>
                        </div>
                        <div class="col-12 col-lg-2 d-sm-block">
                            <div class="accordion">
                                <h3 data-toggle="collapse richtext" href="#footer-list-four" aria-expanded="false">
                                    Après-vente



                                    <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                                </h3>
                                <ul class="collapse" id="footer-list-four">
                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/rdv-en-ligne" onclick="trackingDataLayerExternal(this)">Rendez-vous en atelier</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/devis-en-ligne" onclick="trackingDataLayerExternal(this)">Devis en ligne</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/personnalisez-votre-offre-entretien" onclick="trackingDataLayerExternal(this)">Contrat d&#39;entretien SEAT</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/seat-connect" onclick="trackingDataLayerExternal(this)">Services en ligne SEAT CONNECT</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/seat-service" onclick="trackingDataLayerExternal(this)">Services</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/garantie" onclick="trackingDataLayerExternal(this)">Assistance et Garantie</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/diesel-engines-redirect" onclick="trackingDataLayerExternal(this)">Campagne Diesel EA189</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/my-seat" onclick="trackingDataLayerExternal(this)">My SEAT App</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/menu-proprietaire/operateur-independant" onclick="trackingDataLayerExternal(this)">Opérateurs indépendants</a></li>
                                </ul></div>
                        </div>
                        <div class="col-12 col-lg-2 d-sm-block">
                            <div class="accordion">
                                <h3 data-toggle="collapse richtext" href="#footer-list-five" aria-expanded="false">
                                    Découvrez SEAT



                                    <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                                </h3>
                                <ul class="collapse richtext" id="footer-list-five">
                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/entreprise/nous_on_reste_libre" onclick="trackingDataLayerExternal(this)">Notre Philosophie</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/entreprise/faq-redirect" onclick="trackingDataLayerExternal(this)">Foire aux questions</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/entreprise/glossaire-redirect" onclick="trackingDataLayerExternal(this)">Glossaire des termes auto</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/entreprise/contact" onclick="trackingDataLayerExternal(this)">Contactez-nous</a></li>

                                    <li><a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/entreprise/recrutement-redirect" onclick="trackingDataLayerExternal(this)">Recrutement</a></li>
                                </ul></div>
                        </div>
                        <div class="col-12 col-lg-2 lang-desktop">
                            <div class="lang-wrapper">




                                <img src="https://seat.fr/content/dam/public/flags/europe/france.png" loading="lazy" alt="Language icon" title="Language icon" class="lang-icon"/>

                                <span class="lang-text">France</span>
                            </div>


                            <a href="https://www.seat.com" class="link-arrow-white" onclick="trackingDataLayerExternal(this)">
                                Site international



                                <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/global-footer-icon-arrowdown-white.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                            </a>
                        </div>
                    </div>
                    <div class="row logos">
                        <div class="col-12 logo-wrapper">
                            <div class="corporative-wrapper">




                                <img src="https://seat.fr/content/dam/public/seat-website/global-header/seat-logo/seat-logo-footer.svg" loading="lazy" alt="corporative-logo" title="corporative-logo" class="corporative-logo"/>

                                <p class="corporative-text">© 2023 SEAT France</p>
                            </div>
                            <div class="social-logos-wrapper">
                                <ul class="social-logos">
                                    <li>

                                        <a href="https://www.facebook.com/seat" data-socialname="Facebook" target="_blank" onclick="trackingDataLayerExternal(this)">



                                            <img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-facebook-white.svg" loading="lazy" alt="Facebook" title="Facebook"/>

                                        </a>
                                    </li>

                                    <li>

                                        <a href="https://twitter.com/SEATOfficial" data-socialname="Twitter" target="_blank" onclick="trackingDataLayerExternal(this)">



                                            <img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-twitter-white.svg" loading="lazy" alt="Twitter" title="Twitter"/>

                                        </a>
                                    </li>

                                    <li>

                                        <a href="https://www.instagram.com/seat" data-socialname="Instagram" target="_blank" onclick="trackingDataLayerExternal(this)">



                                            <img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-instagram-white.svg" loading="lazy" alt="Instagram" title="Instagram"/>

                                        </a>
                                    </li>

                                    <li>

                                        <a href="https://es.linkedin.com/company/seat-sa" data-socialname="Linkedin" target="_blank" onclick="trackingDataLayerExternal(this)">



                                        <img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-linkedin-white.svg" loading="lazy" alt="Linkedin" title="Linkedin"/>

                                        </a>
                                    </li>

                                    <li>

                                        <a href="https://www.youtube.com/seat" data-socialname="Youtube" target="_blank" onclick="trackingDataLayerExternal(this)">



                                            <img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-youtube-white.svg" loading="lazy" alt="Youtube" title="Youtube"/>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class=" col-12 legal-links-wrapper">
                            <ul>
                                <li><a href="https://seat.fr/content/countries/fr/seat-website/fr/faq" target="_self" onclick="trackingDataLayerExternal(this)">FAQ</a></li>

                                <li><a href="https://www.seat-mediacenter.fr" target="_blank" onclick="trackingDataLayerExternal(this)">Communiqués de presse</a></li>

                                <li><a href="https://seat.fr/content/countries/fr/seat-website/fr/entreprise/mentions-legales" target="_self" onclick="trackingDataLayerExternal(this)">Mentions légales</a></li>

                                <li><a href="https://seat.fr/content/countries/fr/seat-website/fr/entreprise/cookie-policy" target="_self" onclick="trackingDataLayerExternal(this)">Politique de cookies</a></li>

                                <li><a href="https://seat.fr/content/countries/fr/seat-website/fr/sitemap" target="_self" onclick="trackingDataLayerExternal(this)">Plan du site</a></li>

                                <li><a href="https://seat.fr/content/countries/fr/seat-website/fr/entreprise/privacy-policy" target="_self" onclick="trackingDataLayerExternal(this)">Politique de confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row clarification-row">
                        <div class="col-12 clarification-wrapper richtext">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="overlay-modal">
    <!-- Modal -->
    <div class="modal modal-full-screen" id="modalFullScreen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/img/close.svg" alt="icon close"/>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>


<div class="country-selector">
    <div aria-d-none="true" aria-labelledby="" class="modal modal-country-selector p-0" data-backdrop="static" role="dialog" tabindex="-1">
    </div>
</div>




















<script type="text/javascript" src="https://seat.fr/etc.clientlibs/clientlibs/granite/jquery.min.d8a75d918ddd574026d721058790dd07fc7424ad500e3d9f5be856e921be08f1.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/clientlibs/granite/utils.min.06bff916cefa0e2d5595ee421e0e8652f349e85c0a14a6e6921f4368200a9629.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/clientlibs/granite/jquery/granite.min.4125f7fb5ef940e03901ec9b35eb9a9345427aaf6348976e7b9521b6322919f8.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/foundation/clientlibs/jquery.min.c084b47104c493fb377b6d35d8c08df67d773f6dcf8294c0a7360710cd8cacbd.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/common-utils.min.40b6f23b22926621adcec182dd73e3d1f8ca278155ff4b8a0a41d91338019556.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seat-manuals/clientlibs/clientlib-site.min.03899b0d3453e67cfe14a3427892732e18bf669ad01539df2d0a7c1aef1baa73.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/clientlibs/granite/jquery/granite/csrf.min.90a9acaa2b73d4e87bc59beb161a8e9771d517ae8577ba38f6724f40d3461073.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/common/vendor/jquery_3.6.1.min.a3cf00c109d907e543bc4f6dbc85eb31068f94515251347e9e57509b52ee3d74.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/common/vendor/jquery_validate.min.270524b0d27afd1d3b6622d1a176c678daed94564c143297e217a63e21ce9820.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/common/vendor/bootstrap-js.min.19126b874a32753d42c12dfa6c17892bfd93820a5a5100ba1b34da4d07599b49.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/media-utils.min.d3d4747e0ed8528a9d37223811afdf2f3a2e2d0121537dcea520df774a9a6b97.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/content/services/clientlibs/include.min.dc6fef00ce2af6daf7e07c6cf5927c11499f6f3b6a0b9d1d6ab5cab82685ab9f.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seat-website/components/clientlibs/main.min.39dfbc1a76a28b3c22dff55e172f27d92916f103866ed25ca8b7ef568ed44c6d.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main.min.eb3b47d1b059e3ee527b5889dbc9b5902441ae9f9456e59f5c74082c08e00c26.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seatComponents/clientlibs/commons/seat_id.min.c20364178cfdc7b941f6cfadcc358bbae5f90f91fd6ba4fef71a6e3024f1724e.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seatComponents/components/banner/clientlibs.min.692fb26ffeec1924761f22b30beb42a006590d54510bf8049f5375997da73ce6.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/sticky-manager.min.a3d890eb9671ee3a401fa5d023b8349bdeda769422edf578ab154ec25e401fff.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seat-website/components/structure/global-header/clientlibs.min.52c354eec660aa48353be3648e8bd631f3a20c081bc5b47df8ea287d160201bb.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/cookies.min.c07b5047b843b0b9afd6ca31f679a93b30ade581936b653f2c2b849c652448f6.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/content/modals/top-modal/clientlibs.min.85a7ec897afc8cb435c7b31c894e2e2744ef9c21575b5a3ab87b3a865e2550e0.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/seatComponents/globalStyles/seat-website/clientlibs.min.7f4caba798161fdd7361db9c4615f16b4b3c411183e342e4a9406da68be5ca75.js"></script>











<script type="text/javascript">_satellite.pageBottom();</script>

<!-- STOREFRONT React id -->
<script type="text/javascript">
    if (window.location.href.indexOf("/storefront") > -1) {
        console.log("Store Front script");
        document.write('<scr'+'ipt type="text/javascript" id="storefront" src="https://erenting.seat.com/index.bundle.js" lang="fr-FR"></scr'+'ipt>');
    }
</script>
<!-- STOREFRONT React id END-->













</body>

</html>
