

<!DOCTYPE HTML>
<html lang="fr-FR">


<head>




	<link rel="preload" as="font" href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/fonts/SeatBcn-Regular.woff" crossorigin="anonymous"/>
	<link rel="preload" as="font" href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/fonts/SeatBcn-Black.woff" crossorigin="anonymous"/>
	<link rel="preload" as="font" href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/fonts/SeatBcn-Bold.woff" crossorigin="anonymous"/>
	<link rel="preload" as="font" href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main/resources/fonts/SeatBcn-Medium.woff" crossorigin="anonymous"/>

	<link rel="dns-prefetch" href="http://seat-ws.com"/>







	<link rel="dns-prefetch" href="https://www.googletagmanager.com"/>
	<link rel="dns-prefetch" href="https://analytics.google.com"/>
	<link rel="dns-prefetch" href="https://assets.adobedtm.com"/>
	<link rel="dns-prefetch" href="http://seatsa.tt.omtrdc.net"/>






	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no"/>



	<!-- SEO Meta tags -->
	<meta name="robots" content="INDEX, FOLLOW"/>
	<meta name="keywords"/>
	<meta name="resourcePath" content="https://seat.fr/content/countries/fr/seat-website/fr/integration/new-header-seat"/>







	<meta name="seatIdAvoidProfile" content="false"/>

	<meta name="languageISO" content="fr_FR"/>

	<meta name="currency" content="€"/>

	<meta name="currencyCode" content="EUR"/>

	<meta name="dealerURL" content="https://seat.fr/content/countries/fr/seat-website/fr/integration/new-header-seat.snw.xml?app=seat"/>

	<meta name="dealerCountry" content="fra"/>




	<!-- Social Sharing -->

	<meta property="og:url" content="https://www.seat.fr/integration/new-header-seat.html"/>






	<meta property="og:image:width" content="300"/>
	<meta property="og:image:height" content="300"/>
	<meta property="og:type" content="article"/>
	<meta property="og:title" content="Personnalisez votre voiture avec le configurateur de SEAT | SEAT"/>


	<meta name="twitter:card" content="summary_large_image"/>


	<meta name="twitter:title" content="Personnalisez votre voiture avec le configurateur de SEAT | SEAT"/>
















	<link href="https://seat.fr/etc.clientlibs/seat-manuals/clientlibs/clientlib-site.min.4e0769d3b18084ce5c4eaf52e49f256b7dbb6bf26e9dbb389baf66714e86ae02.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/common/vendor/bootstrap-css.min.f886516f3d41e9e7bd994c7f7a39a89cafae9483f90396cb0ddeafe8d1ea5e72.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/vwgroup/components/content/services/clientlibs/include.min.2c72f561ade317683104e6eb012a4959c62adbe59550d0ff1a55b1fbb68279aa.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/seat-website/components/clientlibs/main.min.ce6874bad279026bbee5514fa93e550cf0121d93e6c0a4b3d7ade990fca7f2f4.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/main.min.889b1c8ba794b3517977938a3fef143efd3a1e85df4aa0eb9468a08bf4ba776a.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/seatComponents/components/banner/clientlibs.min.adafbc019c4f08129dcfb886759b9adc7849f26db9619e7ea75963df9abfb96e.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/sticky-manager.min.00e1fc6bbb8284622ac3965a712beb1161c04415c022439b9b99ef5ca60fd0c0.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/seat-website/components/structure/global-header/clientlibs.min.7963c04c4cf724bb1abffb2e0165c5cedc9739dc348a7114ec13103630723902.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/vwgroup/components/content/modals/top-modal/clientlibs.min.e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/seat-website/components/content/modals/top-modal/clientlibs.min.d1852b874161584dcd6bfaada726c433d650837903e93b21caed2b85539d7c58.css" type="text/css" rel="stylesheet"><link href="https://seat.fr/etc.clientlibs/seatComponents/globalStyles/seat-website/clientlibs.min.5b5e61cb278ae5806c512359c77989a438fff39f28ef4f4dcaf3fdb9c01c6f15.css" type="text/css" rel="stylesheet">












	<title>Personnalisez votre voiture avec le configurateur de SEAT | SEAT</title>
	<meta name="hideInNav"/>
	<meta name="navTitle" content="New header SEAT"/>



	<meta name="template" content="hometemplate"/>

















	<link rel="icon" type="image/vnd.microsoft.icon" href="http://seat.fr/etc/designs/nuevaswebs/favicon.ico"/>
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://seat.fr/etc/designs/nuevaswebs/favicon.ico"/>








	<script type="text/javascript" src="https://seat.fr/etc.clientlibs/vwgroup/components/clientlibs/common/utils/datalayer.min.35d627ea1864ed58d078747c7533e1a2395669795d83711714d6351dade3880f.js"></script><script type="text/javascript" src="https://seat.fr/etc.clientlibs/nuevaswebs/components/clientlibs/nuevaswebs/analytics.min.cf332e7bfb44b72ca107497a8d47c7a55a0f2ceaa06f3c6301a1fea91979e098.js"></script>









	<meta name="google-site-verification" content="BREzm7a_IxBXZ9xVCTsn7aPUCohUPjOWFYHzWJn6Xxo" />

	<!-- STOREFRONT React css-->
	<script type="text/javascript">
		if (window.location.href.indexOf("/storefront") > -1) {
			document.write('<link rel="stylesheet" type="text/css" href="https://erenting.seat.com/index.bundle.css" />');
		}
	</script>
	<!-- STOREFRONT React css END-->


	<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script=""></script>
	<script type="text/javascript">
		function OptanonWrapper() { var event = new Event('bannerLoaded')
			window.dispatchEvent(event)}
	</script>

	<script>
		window.addEventListener('bannerLoaded', () => {if(document.
		getElementById('onetrust-pc-btn-handler')){document.getElementById
		('onetrust-pc-btn-handler').addEventListener('click', () =>{
			if (document.getElementById('pc-policy-text').innerHTML.includes
			("Consent Id") == true){
			}
			else if (document.getElementById('pc-policy-text').innerHTML.includes
			("Consent Id") == false){
				consentId = Optanon.getDataSubjectId()
				document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Consent Id : </b>"+consentId;
			}
		})}})
		function Button(){
			if (document.getElementById('pc-policy-text').innerHTML.includes
			("Consent Id") == true){
			}
			else if (document.getElementById('pc-policy-text').innerHTML.
			includes("Consent Id") == false){
				consentId = Optanon.getDataSubjectId()
				document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Consent Id : </b>"+consentId;}}</script>


	<!-- OneTrust Cookies ConsentNotice start for seat.fr -->
	<script type="text/javascript" src="https://cdn.cookielaw.org/consent/b43dc0a5-7419-4879-9234-9d7346c28310/OtAutoBlock.js"></script>
	<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="b43dc0a5-7419-4879-9234-9d7346c28310"></script>

	<script type="text/javascript">
		function OptanonWrapper() {
			var event = new Event('bannerLoaded');
			window.dispatchEvent(event);
			console.log("Event");
			var consentId = Optanon.getDataSubjectId();
			var consentIdText = "</br></br><b>Your OneTrust Data Subject Id : </b>" + consentId;
			document.getElementById('pc-policy-text').innerHTML += consentIdText;
		}
	</script>
	<!-- OneTrust Cookies Consent Notice end for seat.fr -->
          <script>
          // Adding Event listening on the cookie settings button using updated ID ot-sdk-btn
             window.addEventListener('bannerLoaded', () => {
                 if(document.getElementById('ot-sdk-btn')){document.getElementById('ot-sdk-btn').addEventListener('click', () =>{ console.log("true0")
                 if (document.getElementById('ot-pc-desc')){
                 if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == true){
                    console.log("true1")
                 }
                 else if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == false){
                     consentId = Optanon.getDataSubjectId()
                     document.getElementById('ot-pc-desc').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
                 }

             }
                 else if (document.getElementById('pc-policy-text')){
                     if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == true){

             }
             else if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == false){
             consentId = Optanon.getDataSubjectId()
             document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
             }

             }
             })}

             })

             // Adding Event listening on the floating button
             window.addEventListener('bannerLoaded', () => {
                 if(document.getElementsByClassName('ot-floating-button__open')[0]){document.getElementsByClassName('ot-floating-button__open')[0].addEventListener('click', () =>{ console.log("true0")
                 if (document.getElementById('ot-pc-desc')){
                 if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == true){
                    console.log("true1")
                 }
                 else if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == false){
                     consentId = Optanon.getDataSubjectId()
                     document.getElementById('ot-pc-desc').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
                 }

             }
                 else if (document.getElementById('pc-policy-text')){
                     if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == true){

             }
             else if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == false){
             consentId = Optanon.getDataSubjectId()
             document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
             }

             }
             })}

             })

             window.addEventListener('bannerLoaded', () => {
                 if(document.getElementById('ot-sdk-btn')){document.getElementById('ot-sdk-btn').addEventListener('click', () =>{ console.log("true0")
                 if (document.getElementById('ot-pc-desc')){
                 if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == true){
                    console.log("true1")
                 }
                 else if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == false){
                     consentId = Optanon.getDataSubjectId()
                     document.getElementById('ot-pc-desc').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
                 }

             }
                 else if (document.getElementById('pc-policy-text')){
                     if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == true){

             }
             else if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == false){
             consentId = Optanon.getDataSubjectId()
             document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
             }

             }
             })}

             })

             function ButtonPrefCenter(){
                 console.log("bpc")
                     if (document.getElementById('ot-pc-desc')){
             if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == true){

             }
             else if (document.getElementById('ot-pc-desc').innerHTML.includes("Data Subject Id") == false){
                 consentId = Optanon.getDataSubjectId()
                 document.getElementById('ot-pc-desc').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
             }
             }
                 else if (document.getElementById('pc-policy-text')){
                         if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == true){

             }
             else if (document.getElementById('pc-policy-text').innerHTML.includes("Data Subject Id") == false){
                 consentId = Optanon.getDataSubjectId()
                 document.getElementById('pc-policy-text').innerHTML += "</br></br><b>Your OneTrust Data Subject Id : </b>"+consentId;
             }
             }
             }
          </script>

    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MHFKJXR');</script>
	<!-- End Google Tag Manager -->








	<script type="text/javascript">
		SEAT_ANALYTICS.trackPage('integration\/new\u002Dheader\u002Dseat.html','','',false,'','');
	</script>

	<!-- SEO Part 1 canonical URL v1.0.6.1 -->




	<link rel="canonical" href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/integration/new-header-seat"/>












	<!-- Seat Dealers Clientlib -->



	<!-- CSS Overlay -->




	<span id="hash" class="hidden" data-value="i3fWAIzaSyBlZCV97UGpshnikcNRZmdu7J2n9Mjuras8vBm2i"></span>








</head>








<body class="aem-site seat-website ">








<div class="hidden" data-alt="Browser not supported
To live the full Seat Experience, please upgrade your browser to the newest version." id="compatibilityie"></div>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHFKJXR"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->





<span class="d-none" id="pagenaming"></span>
<span class="d-none" id="carCode"></span>
<span class="d-none" id="market-language">FR/FR</span>

<!-- Seat Dealers Analytics -->







<div class="cookie-policy-container">


	<div id="cookies-modal-container">

	</div>
</div>




<div><div class="section"><div class="new"></div>
	</div><div class="iparys_inherited"><div class="modal-parsys iparsys parsys"><div class="top-modal section">





			</div>
		</div>
	</div>
</div>



<div><div class="section"><div class="new"></div>
	</div><div class="iparys_inherited"><div class="header iparsys parsys"><div class="banner section">




				<div id="banner-banner-2113845268" class="seatComponents-banner seatComponents-banner-banner-2113845268" style="display:none">

					<div id="banner-banner-2113845268" class="seatComponents-banner seatComponents-banner-banner-2113845268 ieNotice">

						<div class="wrapper">
							<div class="banner-icon"></div>
							<div class="notice">Browser no longer supported</div>
							<div class="descriptionNotice">To ensure this content displays correctly, use one of the following options</div>
							<div class="banner-browsers">



								<a href="https://www.google.com/intl/en_en/chrome/" target="_blank" class="browser-choice">
									<img src="https://seat.fr/content/dam/public/seat-website/generic/pop-up-browsers/browsers/chrome.png" alt="Browser image" loading="lazy"/>
									<p>Chrome </p></a>

								<a href="https://support.apple.com/en_US/downloads/safari" target="_blank" class="browser-choice">
									<img src="https://seat.fr/content/dam/public/seat-website/generic/pop-up-browsers/browsers/safari.png" alt="Browser image" loading="lazy"/>
									<p>Safari </p></a>

								<a href="https://www.microsoft.com/en-us/edge" target="_blank" class="browser-choice">
									<img src="https://seat.fr/content/dam/public/seat-website/generic/pop-up-browsers/browsers/edge.png" alt="Browser image" loading="lazy"/>
									<p>Edge </p></a>

								<a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" class="browser-choice">
									<img src="https://seat.fr/content/dam/public/seat-website/generic/pop-up-browsers/browsers/firefox.png" alt="Browser image" loading="lazy"/>
									<p>Firefox </p></a>

								<a href="https://www.opera.com/download" target="_blank" class="browser-choice">
									<img src="https://seat.fr/content/dam/public/seat-website/generic/pop-up-browsers/browsers/opera.png" alt="Browser image" loading="lazy"/>
									<p>Opera </p></a>



							</div>
							<div class="banner-close"></div>
						</div>

					</div>
				</div></div>
			<div class="banner section">




				<div id="banner-banner-1695463896" class="seatComponents-banner seatComponents-banner-banner-1695463896" style="display:none">

					<div id="banner-banner-1695463896" class="seatComponents-banner seatComponents-banner-banner-1695463896 ieNotice">

						<div class="wrapper">
							<div class="banner-icon"></div>
							<div class="notice">Navigateur incompatible</div>
							<div class="descriptionNotice">Pour garantir un affichage optimal de ce contenu, utilisez l&#39;une des options suivantes</div>
							<div class="banner-browsers">



								<a href="https://www.microsoft.com/fr-fr/edge" target="_self" class="browser-choice">
									<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/edge.png" alt="Browser image" loading="lazy"/>
									<p>Edge </p></a>

								<a href="https://www.mozilla.org/fr/firefox/" target="_self" class="browser-choice">
									<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/firefox.png" alt="Browser image" loading="lazy"/>
									<p>Firefox </p></a>

								<a href="https://www.google.com/intl/fr_fr/chrome/" target="_self" class="browser-choice">
									<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/chrome.png" alt="Browser image" loading="lazy"/>
									<p>Chrome </p></a>

								<a href="https://www.opera.com/fr" target="_self" class="browser-choice">
									<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/opera.png" alt="Browser image" loading="lazy"/>
									<p>Opera </p></a>

								<a href="https://www.apple.com/fr/safari/" target="_self" class="browser-choice">
									<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/safari.png" alt="Browser image" loading="lazy"/>
									<p>Safari </p></a>



							</div>
							<div class="banner-close"></div>
						</div>

					</div>
				</div></div>
			<div class="ghost section">

			</div>
			<div class="global-header section">



				<div class="gh-component stickyManager" data-sticky-type="scrollUp,scrollUp,none">
					<div id="globalheader" class="global-header-menu ">

						<div class="navigation-overlay"></div>

						<div class="gh-black-bar black-bar wx-hide-s wx-hide-m">
							<div class="gh-center-content">
								<div class="gh-site-name">






									<div class="cmp-title" id="title-66e6047819">
										<h2 class="cmp-title__text"><a class="cmp-title__link" href="https://seat.fr/content/countries/fr/seat-website/fr/entreprise/nous_on_reste_libre.html" onclick="trackingDataLayerExternal(this)">Univers SEAT</a></h2>
									</div>








								</div>
								<div class="gh-utility-links">











									<div class="utility-link">

										<a href="https://seat.fr/content/countries/fr/seat-website/fr/configurateur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_cc'; trackingDataLayerExternal(this)">

			<span class="utility-link-label">
				Configurateur
			</span>
										</a>
									</div>



									<div class="utility-link">

										<a href="https://seat.fr/content/countries/fr/seat-website/fr/trouver-un-distributeur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_'; trackingDataLayerExternal(this)">

			<span class="utility-link-label">
				Trouver un distributeur
			</span>
										</a>
									</div>



									<div class="utility-link">

										<a href="https://offres.seat.fr/" target="_blank" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_other'; trackingDataLayerExternal(this)">

			<span class="utility-link-label">
				Véhicules en stock
			</span>
										</a>
									</div>





								</div>
							</div>
						</div>

						<div class="navigation-bar">
							<div class="navigation-bar-container gh-center-content">
								<div class="logo image logo-section">

















									<a class="cmp-image__link" href="https://seat.fr/content/countries/fr/seat-website/fr/home.html?wcmmode=disabled" onclick="trackingDataLayerExternal(this)">
										<div class="cmp-image ">



											<img src="https://seat.fr/content/dam/public/seat-website/global-header/seat-logo/seat-s-logo.svg" loading="lazy" alt="SEAT France" title="SEAT France" class="cmp-image__image"/>

										</div>
									</a>




								</div>

								<div class="navigation">









									<div class="selected-resource">
		<span class="selected-resource-label">
		</span>
									</div>
									<div class="navigation-content" data-current-resource-path="https://seat.fr/content/countries/fr/seat-website/fr/integration/new-header-seat">
										<div class="navigation-panel">
											<div class="navigation-panel-headers">
												<div class="gh-site-name-mobile"></div>
												<div class="close-menu"></div>
											</div>
											<div class="content-panel">










												<div class="navigation-main-item navigation-main-models" data-index="0">

													<div class="main-item">
														Voitures
													</div>


												</div>












												<div class="gh-panel navigation-main-item navigation-main-models" data-index="0">

													<div class="main-item-panel-loader">
														<div class="main-item-panel-frame">
															<div class="back-menu">Menu</div>
															<div class="main-item main-item-mobile">
																Voitures
															</div>
															<div class="main-item-panel">


																<div class="item-panel">
																	<div class="family-filters">
																		<div class="family-filter active" data-model-family-tag="all">
				<span class="label">
					Tous les modèles
				</span>
																			<span class="counter" data-counter="0">
				</span>
																		</div>

																		<div class="family-filter" data-model-family-tag="countries:fr/seat-website/essence">
					<span class="label">
						Essence
					</span>
																			<span class="counter" data-counter="0">
					</span>
																		</div>

																		<div class="family-filter" data-model-family-tag="countries:fr/seat-website/diesel">
					<span class="label">
						Diesel
					</span>
																			<span class="counter" data-counter="0">
					</span>
																		</div>

																	</div>
																	<div class="model-item-container">



																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ibiza" onclick="trackingDataLayerExternal(this, true, true)" target="_blank" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ibiza">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Ibiza
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 21.600 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/seat-new-ibiza-pa-desirered.png" loading="lazy" alt="Ibiza" title="Ibiza"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KJ1" onclick="s_objectID='globalheader_configureCtaLabel_cc_Ibiza'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/seat-sans-engagement" onclick="s_objectID='globalheader_TestDrive_other_Ibiza'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Offre spéciale 199 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/arona" target="_self" onclick="trackingDataLayerExternal(this, true, true)" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/arona">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Arona
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 23.990 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/myco/2325/global-header/global-navigation/models/seat-arona-pa.png" loading="lazy" alt="Arona" title="Arona"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KJ7" onclick="s_objectID='globalheader_configureCtaLabel_cc_Arona'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/seat-sans-engagement" onclick="s_objectID='globalheader_TestDrive_other_Arona'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Offre spéciale 239 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-5portes" target="_self" onclick="trackingDataLayerExternal(this, true, true)" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-5portes">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Leon 5 portes
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 29.050 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-leon-2020.png" loading="lazy" alt="SEAT Leon" title="Leon 5 portes"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KL1" onclick="s_objectID='globalheader_configureCtaLabel_cc_Leon'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=810" onclick="s_objectID='globalheader_TestDrive_other_Leon'; trackingDataLayerExternal()" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Location dès 369 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel,countries:fr/seat-website/hybride">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-sportstourer" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-sportstourer">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Leon Sportstourer
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 30.215 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-leon-sportstourer-2020.png" loading="lazy" alt="SEAT Leon Sportstourer" title="Leon Sportstourer"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KL8" onclick="s_objectID='globalheader_configureCtaLabel_cc_Leon_Sportstourer'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=813" onclick="s_objectID='globalheader_TestDrive_other_Leon_Sportstourer'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Location dès 389 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ateca" target="_self" onclick="trackingDataLayerExternal(this, true, true)" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ateca">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Ateca
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 32.500 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-ateca.png" loading="lazy" alt="SEAT Ateca" title="Ateca"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KHP" onclick="s_objectID='globalheader_configureCtaLabel_other_Ateca'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=801" onclick="s_objectID='globalheader_TestDrive_other_Ateca'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Location dès 379 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/diesel,countries:fr/seat-website/hybride">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/suv-tarraco" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/suv-tarraco">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							Tarraco
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								À partir de 53.090 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/models/seat-tarraco.png" loading="lazy" alt="SEAT Tarraco" title="Tarraco"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KN2" onclick="s_objectID='globalheader_configureCtaLabel_cc_Tarraco'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta">
																					<span class="cta-text">Configurez-la</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=816" onclick="s_objectID='globalheader_TestDrive_other_Tarraco'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Location dès 769 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/conseils">
																			<a href="https://www.dasweltauto.fr/fra/fr/occasions/seat/" target="_blank" onclick="trackingDataLayerExternal(this, true, true)" data-resource-path="https://www.dasweltauto.fr/fra/fr/occasions/seat/">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5 class="model-item-info-no-price">
																							Voitures d&#39;occasion
																						</h5>




																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/models/das-welt-auto.png" loading="lazy" alt="Véhicules d&#39;occasion" title="Voitures d&#39;occasion"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">



																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures-occasion-redirect" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Découvrez-les</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/conseils">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/seat-recommender" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/seat-recommender">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5 class="model-item-info-no-price">
																							Trouvez la SEAT qu&#39;il vous faut
																						</h5>




																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/seat-recommender.png" loading="lazy" alt="Trouvez la SEAT qu&#39;il vous faut" title="Trouvez la SEAT qu&#39;il vous faut"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">



																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/seat-recommender" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Commencez</span>
																				</a>
																			</div>
																		</div>


																	</div>
																</div>



															</div>
														</div>
													</div>


												</div>













												<div class="navigation-main-item navigation-main-models" data-index="1">

													<div class="main-item">
														Gamme eScooters
													</div>


												</div>












												<div class="gh-panel navigation-main-item navigation-main-models" data-index="1">

													<div class="main-item-panel-loader">
														<div class="main-item-panel-frame">
															<div class="back-menu">Menu</div>
															<div class="main-item main-item-mobile">
																Gamme eScooters
															</div>
															<div class="main-item-panel">


																<div class="item-panel">

																	<div class="model-item-container">



																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique,countries:fr/seat-website/Electrique/escooter">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125-performance" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125-performance">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							SEAT MÓ 125 Performance
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								Achat dès 8.900 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-mo-125-performance-electric-scooter.png" loading="lazy" alt="SEAT MÓ 125 Performance" title="SEAT MÓ 125 Performance"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125-performance" onclick="s_objectID='globalheader_configureCtaLabel_other_'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Découvrez l&#39;eScooter</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125-performance" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">À partir de 150 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique,countries:fr/seat-website/Electrique/escooter">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125" target="_self" onclick="trackingDataLayerExternal(this, true, true)" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							SEAT MÓ 125
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								Achat dès 7.275 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/e-scooter125.png" loading="lazy" alt="SEAT MÓ 125" title="SEAT MÓ 125"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125" onclick="s_objectID='globalheader_configureCtaLabel_other_'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Découvrez l&#39;eScooter</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-125" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">À partir de 118 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique,countries:fr/seat-website/Electrique/escooter">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-50" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-50">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5>
																							SEAT MÓ 50
																						</h5>


																						<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">

								Achat dès 5.900 €
							</span>

																						</div>



																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/seat-mo-50-electric-scooter.png" loading="lazy" alt="SEAT MÓ 50" title="SEAT MÓ 50"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-50" onclick="s_objectID='globalheader_configureCtaLabel_other_'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Découvrez l&#39;eScooter</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-50" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">À partir de 90 €/mois</span>
																				</a>
																			</div>
																		</div>




																		<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique,countries:fr/seat-website/Electrique/trottinette">
																			<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-65" onclick="trackingDataLayerExternal(this, true, true)" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-65">
																				<div class="model-item-image-cta">
																					<div class="model-item-info">
																						<h5 class="model-item-info-no-price">
																							SEAT MÓ 65
																						</h5>

																					</div>
																					<div class="model-item-img wx-aspect-ratio">




																						<img src="https://seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/e-kickscooter65.png" loading="lazy" alt="Découvrez-la" title="SEAT MÓ 65"/>

																					</div>
																				</div>
																			</a>
																			<div class="model-item-cta-list">

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-65" onclick="s_objectID='globalheader_configureCtaLabel_other_'; trackingDataLayerExternal(this)" target="_blank" class="model-item-cta">
																					<span class="cta-text">Prendre RDV</span>
																				</a>

																				<a href="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/seat-mo-65" onclick="s_objectID='globalheader_TestDrive_other_'; trackingDataLayerExternal(this)" target="_self" class="model-item-cta model-item-cta-orange">
																					<span class="cta-text">Découvrez la trottinette</span>
																				</a>
																			</div>
																		</div>


																	</div>
																</div>



															</div>
														</div>
													</div>


												</div>











												<div class="navigation-main-item navigation-main-dropdown" data-index="2">

													<div class="main-item">
														Achat et Location
													</div>


												</div>










												<div class="gh-panel navigation-main-item navigation-main-dropdown" data-index="2">

													<div class="main-item-panel-loader">
														<div class="main-item-panel-frame">
															<div class="back-menu">Menu</div>
															<div class="main-item main-item-mobile">
																Achat et Location
															</div>
															<div class="main-item-panel">





																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offres.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_blank">
			<span class="item-panel-label">
				Toutes nos offres
			</span>
																		<span class="item-panel-description">
				Découvrez nos offres selon vos besoins.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-financement.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Financer sa SEAT
			</span>
																		<span class="item-panel-description">
				Découvrez toutes les formules de financement et choisissez celle qui vous convient le mieux.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offre-lld.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Location Longue Durée
			</span>
																		<span class="item-panel-description">
				Choisissez votre offre de loyer sur mesure avec l&#39;offre de financement qui vous correspond.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-neuf.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Stock neuf en ligne
			</span>
																		<span class="item-panel-description">
				Découvrez le stock SEAT. Nos véhicules sont disponibles en 72h !
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-sans-engagement.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				SEAT Sans Engagement
			</span>
																		<span class="item-panel-description">
				Bénéficiez de plus de souplesse avec notre offre sans apport, résiliable sans frais, ajustable et facile à mettre en œuvre.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/professionnels.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Pour les professionnels
			</span>
																		<span class="item-panel-description">
				Gestionnaires de flotte et Petites entreprises, optimisez vos coûts et créez vos propres opportunités.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-occasion.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Stock d’occasion en ligne
			</span>
																		<span class="item-panel-description">
				Découvrez le stock SEAT de véhicules d&#39;occasion disponibles en 72h !
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-recommender.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Trouvez la SEAT qu&#39;il vous faut
			</span>
																		<span class="item-panel-description">
				Trouvez la meilleure SEAT pour vous, choisissez vos préférences et vos habitudes de conduite.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/redirection-offres/ventes-privees-seat.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Ventes Privées SEAT
			</span>
																		<span class="item-panel-description">
				Une offre sans engagement sur Ibiza et Arona COPA disponible sans apport et sans engagement.
			</span>
																	</a>
																</div>




															</div>
														</div>
													</div>


												</div>











												<div class="navigation-main-item navigation-main-dropdown" data-index="3">

													<div class="main-item">
														Après-vente
													</div>


												</div>










												<div class="gh-panel navigation-main-item navigation-main-dropdown" data-index="3">

													<div class="main-item-panel-loader">
														<div class="main-item-panel-frame">
															<div class="back-menu">Menu</div>
															<div class="main-item main-item-mobile">
																Après-vente
															</div>
															<div class="main-item-panel">





																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/rdv-en-ligne.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Rendez-vous en atelier
			</span>
																		<span class="item-panel-description">
				En moins de 2 minutes, 24h/24, 7j/7, prenez rendez-vous dans votre Point Service pour l’entretien de votre SEAT.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/devis-en-ligne.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Devis en ligne
			</span>
																		<span class="item-panel-description">
				Obtenez vos tarifs d’entretien, pneumatiques et contrôle technique en quelques clics.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/personnalisez-votre-offre-entretien.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Contrat d&#39;entretien SEAT
			</span>
																		<span class="item-panel-description">
				Mensualisez vos dépenses d&#39;entretien.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/accessoires.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Accessoires
			</span>
																		<span class="item-panel-description">
				Des accessoires originaux adaptés à votre style.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/manuels.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Manuels
			</span>
																		<span class="item-panel-description">
				Le manuel contient des informations, des recommandations, des conseils et des avertissements.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/seat-connect.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Services en ligne SEAT CONNECT
			</span>
																		<span class="item-panel-description">
				Toujours en contact avec votre monde.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/garantie.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Assistance et Garantie
			</span>
																		<span class="item-panel-description">
				Découvrez la solution qui vous convient le mieux selon l’ancienneté et le kilométrage de votre voiture.
			</span>
																	</a>
																</div>



																<div class="item-panel">

																	<a href="https://seat.fr/content/countries/fr/seat-website/fr/menu-proprietaire/offres-sur-mesure-segments.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_'; trackingDataLayerExternal(this)" target="_self">
			<span class="item-panel-label">
				Offres véhicules de plus de 5 ans
			</span>
																		<span class="item-panel-description">
				Pour rouler encore plus longtemps, choisissez la qualité constructeur au meilleur prix, jusqu&#39;au 11 novembre 2023.
			</span>
																	</a>
																</div>




															</div>
														</div>
													</div>


												</div>








												<div class="navigation-main-item navigation-main-link" data-index="4">


													<div class="main-item">

														<a href="https://seat.fr/content/countries/fr/seat-website/fr/professionnels.html?wcmmode=disabled" onclick="s_objectID='globalheader_mainLink_'; trackingDataLayerExternal(this)" target="_self">
															Professionnels
														</a>
													</div>

												</div>







												<div class="gh-panel navigation-main-item navigation-main-link" data-index="4">


													<div class="main-item">

														<a href="https://seat.fr/content/countries/fr/seat-website/fr/professionnels.html?wcmmode=disabled" onclick="s_objectID='globalheader_mainLink_'; trackingDataLayerExternal(this)" target="_self">
															Professionnels
														</a>
													</div>

												</div>





												<div class="navigation-panel-footer">
													<div class="utility-links">




														<div class="utility-link">

															<a href="https://seat.fr/content/countries/fr/seat-website/fr/configurateur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_cc'; trackingDataLayerExternal(this)">

																<div class="utility-link-image">




																	<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icon-library/configure-orange.svg" loading="lazy" alt="Configurateur" title="Configurateur"/>

																</div>

																<span class="utility-link-label">
				Configurateur
			</span>
															</a>
														</div>



														<div class="utility-link">

															<a href="https://seat.fr/content/countries/fr/seat-website/fr/trouver-un-distributeur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_'; trackingDataLayerExternal(this)">

																<div class="utility-link-image">




																	<img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-library-hover-orange/find-a-dealer.svg" loading="lazy" alt="Trouver un distributeur" title="Trouver un distributeur"/>

																</div>

																<span class="utility-link-label">
				Trouver un distributeur
			</span>
															</a>
														</div>



														<div class="utility-link">

															<a href="https://offres.seat.fr/" target="_blank" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_other'; trackingDataLayerExternal(this)">

																<div class="utility-link-image">




																	<img src="https://seat.fr/content/dam/public/seat-website/generic/icons/icon-library-hover-orange/configure.svg" loading="lazy" alt="Véhicules en stock" title="Véhicules en stock"/>

																</div>

																<span class="utility-link-label">
				Véhicules en stock
			</span>
															</a>
														</div>










														<div class="utility-link ws-show-s ws-hide-m-l-xl">

															<a class="utility-link-cta" href="https://seat.fr/content/countries/fr/seat-website/fr/essai.html?wcmmode=disabled" target="_self" onclick="s_objectID='globalheader_iconLinkLabel_td'; trackingDataLayerExternal(this)">
																<div class="utility-link-image">
																	<img srcset="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/icon-library/steering-wheel.svg" loading="lazy" alt=""/>
																</div>
																<span class="utility-link-label">Réserver un essai</span>
															</a>
														</div>


														<div class="js-INDmenu-btn_mobile utility-link"></div>
													</div>
												</div>
											</div>
										</div>
									</div>




								</div>
								<div class="icon-links">













									<div class="icon-link ">

										<a  href="https://rdv-atelier.seat-entretien.fr/" target="_blank" onclick="s_objectID='globalheader_iconLinkLabel_'; trackingDataLayerExternal(this)">




											<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/icon-library/calendar.svg" loading="lazy"/>

										</a>
									</div>




									<div class="icon-link ws-hide-s">

										<a href="https://seat.fr/content/countries/fr/seat-website/fr/essai.html?wcmmode=disabled" target="_self" onclick="s_objectID='globalheader_iconLinkLabel_td'; trackingDataLayerExternal(this)">




											<img src="https://seat.fr/content/dam/countries/fr/seat-website/generic/icons/icon-library/steering-wheel.svg" loading="lazy"/>

										</a>
									</div>





									<span class="js-INDmenu-btn_desktop"></span>







									<div class="icon-link menu-link"></div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<input type="hidden"/>
			</div>
		</div>
	</div>
</div>
<span class="d-none" data-home="true"></span>
<div class="container-body">