{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <section class="product financement-echeance-rib">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i class="step-title">Échéance & RIB</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-echeance-rib">
        <div class="seat-container container">
            <div>
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                    <p class="back__content text-line-h-16" >
                    <span>
                      <img src="images/financement/arrow-left.svg" alt="arrow__left">
                    </span>
                        retour
                    </p>
                    </button>
                </div>
            </div>
            <div class="item">
                <div id="financement-header">
                    <p class="title">Échéance & RIB<span class="text-c-orange">*</span></p>
                    <span class="text-desc"><span class="text-c-orange">*R</span>elevé d'<span
                                class="text-c-orange">I</span>dentité <span
                                class="text-c-orange">B</span>ancaire.</span>
                </div>
            </div>
            <div>
                <form class="form-fill" id="formFinancementEcheanceRIB" enctype="multipart/form-data">
                    <input type="hidden" name="application_id" value="{{ application_id }}">
                    <!--<input type="hidden" name="bypass" value="bankpush">-->
                    <span class="text-echeance">Sélectionnez la date d’échéance de vos paiements</span>
                    <div class="wrapper-echeance row mx-0">
                        <div class="col-12 col-md-6 mb-4 mb-md-0 text-center">
                            <span class="text-uppercase">Prélèvement automatique</span>
                            <ul>
                                <li>Pratique pour rembourser sans même y penser.<br>
                                    Vos échéances tombent le même jour chaque mois !

                                </li>
                            </ul>
                        </div>
                        <hr class="mb-0 d-block d-md-none">
                        <div class="col-12 col-md-6 mt-4 mt-md-0 text-center">
                            <span class="text-uppercase">Gestion du budget</span>
                            <ul>
                                <li>Votre première échéance sera prélevée le mois de la livraison de votre e-scooter SEAT MÓ.</li>

                            </ul>
                        </div>
                    </div>
                    <div class="mt-5">
                        <div>
                            <span class="text-echeance">
                                Une mensualité, cinq possibilités :
                                <br>vous choisissez !
                            </span>
                            <div class="date-selection">
                                <div class="row list-items mx-0">
                                    <div class="item text-center choice">
                                        <div class="text-uppercase selected-dueday">jour d’échéance</div>
                                        <div class="mt-4 dueday-number">1<sup>er</sup> du mois</div>
                                    </div>
                                    <div class="options">
                                        <div class="carousel">
                                            <label class="item text-center text-uppercase" for="dueDay-1">
                                                <div class="justify-content-center">1<span class="text-uppercase first-day">er</span></div>
                                                <div>du mois</div>
                                                <label class="custom-checkbox">
                                                    <input type="radio" name="due-day" value="1" class="custom-control-input" id="dueDay-1" {% if selectedDueDay == 1 %}checked{% endif %}>
                                                    <span class="custom-control-label d-block"></span>
                                                </label>
                                            </label>
                                            <label class="item text-center text-uppercase" for="dueDay-5">
                                                <div class="justify-content-center">5</div>
                                                <div>du mois</div>
                                                <label class="custom-checkbox">
                                                    <input type="radio" name="due-day" value="5" class="custom-control-input" id="dueDay-5" {% if selectedDueDay == 5 %}checked{% endif %}>
                                                    <span class="custom-control-label d-block"></span>
                                                </label>
                                            </label>
                                            <label class="item text-center text-uppercase" for="dueDay-15">
                                                <div class="justify-content-center">15</div>
                                                <div>du mois</div>
                                                <label class="custom-checkbox">
                                                    <input type="radio" name="due-day" value="15" class="custom-control-input" id="dueDay-15" {% if selectedDueDay == 15 %}checked{% endif %}>
                                                    <span class="custom-control-label d-block"></span>
                                                </label>
                                            </label>
                                            <label class="item text-center text-uppercase" for="dueDay-20">
                                                <div class="justify-content-center">20</div>
                                                <div>du mois</div>
                                                <label class="custom-checkbox">
                                                    <input type="radio" name="due-day" value="20" class="custom-control-input" id="dueDay-20" {% if selectedDueDay == 20 %}checked{% endif %}>
                                                    <span class="custom-control-label d-block"></span>
                                                </label>
                                            </label>
                                            <label class="item text-center text-uppercase" for="dueDay-25">
                                                <div class="justify-content-center">25</div>
                                                <div>du mois</div>
                                                <label class="custom-checkbox">
                                                    <input type="radio" name="due-day" value="25" class="custom-control-input" id="dueDay-25" {% if selectedDueDay == 25 %}checked{% endif %}>
                                                    <span class="custom-control-label d-block"></span>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="arrow-item d-block d-lg-none">
                                    <img src="images/financement/arrow-long-left.svg" class="arrow arrow-left" onclick="prevSlide()"/>
                                    <img src="images/financement/arrow-long-left.svg" class="arrow arrow-right is-active" onclick="nextSlide()"/>
                                </div>
                            </div>
                            <div class="text-desc text-desc-selection mt-md-0">
                                La sélection d’une date d’échéance à ce stade ne vous engage pas à l’achat de votre e-scooter.
                                Elle ne pourra cependant pas être modifiée en concession ultérieurement.
                                Assurez-vous donc de renseigner une date adaptée aux prélèvements de vos mensualités.
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 block-import">
                        <p class="text-echeance">Déposez votre RIB</p>
                        <span class="text-desc">Les formats autorisés sont : <span class="accept-format">JPEG, PNG, PDF.</span></span>
                        <div class="import-file d-flex align-items-center mt-4">
                            <input type="file" name="files[]" accept=".png, .pdf, .jpeg" class="import-file__input d-none">
                            <div class="text-center w-100">
                                <img class="mx-auto d-block mb-5 image-default" src="images/financement/icon-file.svg" alt="icon-file">
                                <div class="d-flex block-preview-image">
                                    <img class="mx-auto d-block mb-5 preview d-none" src="" alt="icon-file">
                                </div>
                                <iframe class="mx-auto d-block preview-pdf mb-5 d-none" src="" width="164px" height="148px"></iframe>
                                {% if files is empty %}
                                    <button class="btn btn-custom btn-import-file text-line-h-26 mb-2">Importer un fichier</button>
                                    <button class="btn btn-custom btn-next-step text-line-h-26 mb-2 d-none" onclick="trackingDataLayerInternal(this)" data-url="votre-solvabilite-document.html">Étape suivante</button>
                                    <button class="btn btn-custom btn-import-other-file text-line-h-26 mb-2 d-none">Importer un  autre fichier</button>
                                {% else %}
                                    <button class="btn btn-custom btn-import-file text-line-h-26 mb-2 d-none">Importer un fichier</button>
                                    <button class="btn btn-custom btn-next-step text-line-h-26 mb-2" onclick="trackingDataLayerInternal(this)" data-url="votre-solvabilite-document.html">Étape suivante</button>
                                    <button class="btn btn-custom btn-import-other-file text-line-h-26 mb-2">Importer un  autre fichier</button>
                                {% endif %}
                                {% if app.request.query.get('message') %}
                                    <div class="text-danger">{{ app.request.query.get('message') }}</div>
                                {% endif %}
                                <div class="validation-text text-danger font-weight-bold d-none"></div>
                            </div>
                        </div>
                        <p class="text-imported-part mb-0">Pièce(s) importée(s) :</p>
                        {% if files is empty %}
                            <div class="card-file-name import-default d-block d-md-flex">
                                <div class="dot-file-name d-flex align-items-center">
                                    <div class="dot"></div>
                                    <span class="file-name">Aucune pièce pour le moment</span>
                                </div>
                                <img class="img-preview d-none" src=""/>
                                <iframe class="pdf-preview d-none" src=""></iframe>
                                <div class="block-preview d-none">
                                    <span class="preview-img">Voir</span>
                                    <a class="delete-file text-c-orange">Supprimer</a>
                                </div>
                            </div>
                        {% else %}
                            {% for file in files %}
                                <div class="card-file-name d-block d-md-flex">
                                    <div class="dot-file-name d-flex align-items-center">
                                        <div class="dot"></div>
                                        <span class="file-name">{{ file['name'] }}</span>
                                    </div>
                                    <img class="img-preview d-none" src="upload/media/default/0001/01/{{ file['path'] }}"/>
                                    <div class="block-preview">
                                        <span class="preview-img" onclick="window.open('{{ app.request.getSchemeAndHttpHost() ~ '/upload/media/default/0001/01/' ~ file['path'] }}')">Voir</span>
                                        <a class="delete-file text-c-orange" data-id="{{ file['id'] }}">Supprimer</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>
<style>
    @media only screen and (max-width: 992px) {
        .financement-echeance-rib .seat-container #formFinancementEcheanceRIB .date-selection .list-items .item:nth-child(2n) {
            margin-right: 25px !important;
        }
    }
</style>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement3-2.js"></script>
    <script>
        $(document).ready(function () {
            $('#dueDay-' + {{ selectedDueDay }}).prop('checked', true);

            if ({{ selectedDueDay }} == 1) {
                $('.dueday-number').html('1<sup>er</sup> du mois')
            } else {
                $('.dueday-number').html({{ selectedDueDay }} + ' du mois')
            }

            // Dynamic data layer
            var dataLayer = {
                'channel': 'pre-financing',
                'virtualPageName': 'SEAT – Mo Pre Financing – online request step 3.2'
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        })

        function prevSlide() {
            $('.carousel').find('button.slick-prev.slick-arrow').trigger('click');
        }

        function nextSlide() {
            $('.carousel').find('button.slick-next.slick-arrow').trigger('click');
        }
    </script>
{% endblock %}
