{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
    <section class="product">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Confirmez vos données personnelles</i>
                            </div>

                            <div class="progress-steps step-validation">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i>Validez l’étape 1 pour accéder à l’étape 2</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-personal-data financement-confirm">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 back-step">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="row flex-md-row m-0">
                    <div class="container">
                        <div class="col-12 container" id="financement-header">
                            <p>Validons vos informations</p>
                            <span class="text-desc">Afin d’assurer un meilleur suivi de votre demande vérifiez les informations précédemment saisies.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-fill" id="formFinancementConfirm">
                <div class="container">
                    <div class="form-fill__input">
                        <form method="POST" action="{{ path('financement-prerequis') }}" id="formConfirm" oninput='zipcode.setCustomValidity(zipcode.value.length != 5 ? "le code postal n&apos;est pas valide." : "");zipcode.setCustomValidity( zipcode.value.length == 5 && validateZipcode() ? "le code postal n&apos;est pas valide." : "");'>
                            <input type="hidden" name="id" value="{{ app.request.get('customerApplication') }}">
                            <div class="slideshow-container">
                                <div class="form-group-information row">
                                    <div class="col-12 mb-3">
                                        <div class="mb-3 text-c-grey form-civilite">
                                            <div class="d-block d-md-flex mb-3">
                                                <label class="form-fill__input--label-radio text-line-h-18 civili">CIVILITÉ</label>
                                                <span class="text-c-orange text-modifier">Modifier</span>
                                            </div>
                                            <div class="d-flex">
                                                <input type="radio" name="civilite" id="civilite-m" value="mr" class="input-success" {% if data['civilite']=="mr" %}selected="selected" {% endif%} onclick="return false;">
                                                <label for="civilite-m" class="form-fill__input--radio mr-5 text-line-h-14 {% if data['civilite']=="mr" %}checked{% endif%}"
                                                       required="">Monsieur</label>
                                                <input type="radio" name="civilite" id="civilite-f" value="mme" class="input-success" {% if data['civilite']=="mme" %}selected="selected" {% endif%} onclick="return false;">
                                                <label for="civilite-f" class="form-fill__input--radio text-line-h-14 {% if data['civilite']=="mme" %}checked{% endif%}">Madame</label>
                                            </div>
                                        </div>
                                    </div>

                                    {% if data['civilite']=="mr" %}

                                        <script>
                                            $(document).ready(function () {
                                                $("input[name=civilite][value=mr]").prop('checked', true);
                                            });

                                        </script>
                                    {% endif%}
                                    {% if data['civilite']=="mme" %}
                                        <script>
                                            $(document).ready(function () {
                                                $("input[name=civilite][value=mme]").prop('checked', true);
                                            });

                                        </script>
                                    {% endif%}
                                    <div class="col-12 col-md-6">
                                        <div class="form-group position-relative">
                                            <input type="text" id="nom" name="nom" value="{{ data['nom'] }}" readonly required>
                                            <label for="nom">Nom</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="text" id="prenom" name="prenom" value="{{ data['prenom'] }}" readonly required>
                                            <label for="prenom">Prénom</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="text" id="maiden-name" name="maiden-name" value="{{ data['maiden-name'] }}" readonly>
                                            <label for="maiden-name">Nom de jeune fille</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative date-picker-ios">
                                            <input class="d-flex" type="date" id="date-of-birth" name="date-of-birth" value="{{ data['date-of-birth'] }}"  readonly required>
                                            <label for="date-of-birth">Date de naissance</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="city-of-birth" name="city-of-birth" value="{{ data['city-of-birth'] }}" readonly required>
                                            <label for="city-of-birth">Ville de naissance</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="number" id="postal-code" name="code-postal-naissance" value="{{ data['code-postal-naissance'] }}" readonly required>
                                            <label for="postal-code">Code postal de naissance</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-to-know row">
                                    <div class="d-block d-md-flex justify-content-between">
                                        <p class="text-header text-uppercase">Pour mieux vous connaître</p>
                                        <span class="text-c-orange text-modifier">Modifier</span>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="address" name="address" value="{{ data['address'] }}" readonly required>
                                            <label for="address">Adresse</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="text" id="additional-address" name="additional-address" value="{{ data['additional-address'] }}" readonly>
                                            <label for="additional-address">Complément d’adresse</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="number" id="code-postal" name="code-postal" value="{{ data['code-postal'] }}" readonly required>
                                            <label for="code-postal">Code Postal</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="text" id="city" name="city" value="{{ data['city'] }}" readonly required>
                                            <label for="city">Ville</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="country" name="country" value="{{ data['country'] }}" readonly required>
                                            <label for="country">Pays</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="nationality" name="nationality" value="{{ data['nationality'] }}" readonly required>
                                            <label for="nationality">Nationalité</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="principal-residence" name="principal-residence" value="{{ data['principal-residence'] }}" readonly required>
                                            <label for="principal-residence">Résidence Principale</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-situation-familiale row">
                                    <div class="d-block d-md-flex justify-content-between">
                                        <p class="text-header text-uppercase">Situation familiale</p>
                                        <span class="text-c-orange text-modifier">Modifier</span>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="text" id="family-status" name="family-status" value="{{ data['family-status'] }}" readonly required>
                                            <label for="family-status">Situation de famille</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mb-3">
                                        <div class="form-group position-relative">
                                            <input type="number" id="number-of-dependent-children" name="number-of-dependent-children" value="{{ data['number-of-dependent-children'] }}" readonly required>
                                            <label for="number-of-dependent-children">Nombre d’enfant.s à charge</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-professional-situation row">
                                    <div class="d-block d-md-flex justify-content-between">
                                        <p class="text-header text-uppercase">Situation Professionnelle</p>
                                        <span class="text-c-orange text-modifier">Modifier</span>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="occupation" name="occupation"  value="{{ data['occupation'] }}" readonly required>
                                            <label for="occupation">Profession</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="text" id="type-of-contract" name="type-of-contract"  value="{{ data['type-of-contract'] }}" readonly required>
                                            <label for="type-of-contract">Type de contrat</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative date-picker-ios">
                                            <input class="d-flex" type="date" id="hiring-date" name="hiring-date" value="{{ data['hiring-date'] }}" readonly required>
                                            <label for="hiring-date">Date d’embauche</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input class="d-flex" type="text" id="employeur" name="employeur" value="{{ data['employeur'] }}" readonly required>
                                            <label for="employeur">Employeur</label>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input class="d-flex" type="number" id="revenu-net-mensuel" name="revenu-net-mensuel" value="{{ data['revenu-net-mensuel'] }}" readonly required>
                                            <label for="revenu-net-mensuel">Revenu net mensuel</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input class="d-flex" type="number" id="autres-revenus" name="autres-revenus" value="{{ data['autres-revenus'] }}" readonly required>
                                            <label for="autres-revenus">Autres revenus</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input class="d-flex" type="number" id="charges-immobilieres" name="charges-immobilieres" value="{{ data['charges-immobilieres'] }}" readonly required>
                                            <label for="charges-immobilieres">Charges immobilières</label>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input class="d-flex" type="number" id="autres-remboursements-mensuels" name="autres-remboursements-mensuels" value="{{ data['autres-remboursements-mensuels'] }}" readonly required>
                                            <label for="autres-remboursements-mensuels">Autres remboursements mensuels</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group-contact row">
                                    <div class="d-block d-md-flex justify-content-between">
                                        <p class="text-header text-uppercase">Contact</p>
                                        <span class="text-c-orange text-modifier">Modifier</span>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input type="email" id="email" name="email" value="{{ data['email'] }}" readonly required>
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <style>
                                        .contact input[type="tel"] {
                                            padding-left: 0 !important;
                                        }
                                        /*.contact .form-fill__input input[type="tel"].filled ~ label {
                                            top: 0.8rem;
                                        }*/
                                    </style>
                                    <div class="col-12 col-md-6 mt-4">
                                        <div class="form-group position-relative">
                                            <input id="phone" name="phone" type="tel" value="{{ data['phone'] }}" class="" required readonly>
                                            <label class="label-phone" for="phone">Numéro de téléphone</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="card-btn">
                                <button type="submit" class="btn btn-custom btn-confirm text-line-h-26 mb-4" id="btn-confirm" formaction="{{ path('financement-prerequis') }}" onclick="trackingDataLayerInternal(this)">Envoyez vos informations</button>
                            </div>
                            <p class="legal-mention">
                                <br>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD) nous vous informons que des données à caractère personnel vous concernant, font l'objet d'un traitement informatique mis en œuvre par Volkswagen Financial Services responsable de traitement. Les données sont collectées afin de permettre l'analyse de votre dossier de financement. La base juridique du traitement est le contrat et plus spécifiquement l’exécution de mesures précontractuelles prises à la demande de la personne concernée. Nous vous informons que vous disposez d’un droit d’accès, de rectification et de suppression sur les données vous concernant en écrivant à Volkswagen Bank - Délégué à la protection des données, à l’adresse suivante - 11, avenue de Boursonne - BP 61 - 02601 Villers-Cotterêts Cedex. Vous disposez enfin du droit d’introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés (CNIL).
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div id="responseMessage" class="d-none p-5 my-5">
                <p class="f-24 text-line-h-24">Merci. Votre demande de contact a bien été prise en compte.</p>
                <p class="f-24 text-line-h-24">Un distributeur SEAT vous contactera rapidement.</p>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>



{% endblock %}
{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement1-4.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/
    </script>
    <script>
        /* const phoneInputField = document.getElementById('phone');
        const phoneInput = window.intlTelInput(phoneInputField, {
            // initialCountry: "auto",
            initialCountry:"FR",
            formatOnDisplay: false,
            preferredCountries: ["fr", "us"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        }); */
        // Set date input field's max date to today
        $(function(){
            $('[type="date"]').prop('max', function(){
                return new Date().toJSON().split('T')[0];
            });
        });

        $('.back-step').on('click', function() {
            $('.text-modifier').first().trigger('click');
        });

        $(document).ready(function () {

            // Dynamic data layer
            var dataLayer = {
                'channel': 'pre-financing',
                'virtualPageName': 'SEAT – Mo Pre Financing – online request step 1.2'
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
        });
    </script>
{% endblock %}
