{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header_js %}
    <script src="js/conf_{{ gamme }}.js"></script>
{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
<section class="product">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div id="stickyHeaderOffre">
                <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
            </div>
        </div>
    </div>
</section>

<section class="financement">
    <div class="seat-container">
        <div class="container">
            <div class="back-container">
                <button class="back border-0 p-0 go-back-configurator">
                    <p class="back__content text-line-h-16" >
                <span>
                  <img src="images/contact/arrow-back.png" alt="arrow__left">
                </span>
                        retour
                    </p>
                </button>
            </div>
        </div>
        <div class="item">
            <div class="row flex-md-row m-0">
                <div class="container">
                    <div class="col-12 container" id="financement-header">
                        <p>Financez votre e-scooter</p>
                    </div>
                </div>
                <div class="d-flex common-info pl-0 pr-0">
                    <div class="container d-block d-md-flex flex-md-row-reverse">
                        <div class="col-12 col-md-5 my-5 d-flex align-items-center">
                            <div class="item__profile">
                                <div class="item__img"></div>
                                <img src="images/configurator/energy-label.png" alt="energy" class="energy d-none d-md-block">
                            </div>
                        </div>
                        <div class="col-12 col-md-7 item__common_info d-flex flex-column align-items-md-start justify-content-center my-5 pl-0">
                            <div class="item__common-offer">
                                <p class="text-config-header mb-0">Votre offre</p>
                                <div class="item__detail mr-3">
                                    <div class="text-bold">Vous êtes intéressé par l'offre de LOA à partir de <span class="var_prix_a_partir_de text-c-orange">xxxx</span><span class="text-c-orange"> €/mois<span class="text-c-orange">*</span>.</span>
                                        <img width="12px" height="12px" type="button" data-bs-toggle="modal" onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention">
                                    </div>
                                    <span class="text-regular">LOA sur <span class="text-bold"><span class="var_loa_duree text-c-orange">xxxx</span> <span class="text-c-orange">mois</span></span> et <span class="text-bold"><span class="text-c-orange"><span><span class="var_kilometer">xxxx</span> km<sup>(1)</sup></span>.</span><br>
                                    <span class="text-regular">Montant total dû : <span class="text-bold"><span class="var_montant_total_du text-c-orange">xxxx</span><span class="text-c-orange">€</span></span>
                                    <img width="12px" height="12px" type="button" data-bs-toggle="modal"  onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/configurator/icon-information-transparent.svg" alt="icon-legal-mention">
                                    </span>
                                    <div class="line-financement"></div>
                                </div>
                            </div>
                            <div class="item__common-selection mt-4">
                                <p class="text-config-header">Votre sélection</p>
                                <div class="selection__item color-circle">
                                    <div class="selection__item--image">
                                    </div>
                                    <div class="selection__item--info">
                                        <p class="text-header"></p>
                                        <div class="selection__item--description"></div>
                                    </div>
                                    <img src="images/configurator/energy-label.png" alt="energy" class="energy d-md-none">
                                </div>
                            </div>
                            <div class="line-financement"></div>
                            <div class="item__common-accessoires mt-4 d-none" id="accessoires">
                                <p class="text-config-header">Accessoires</p>
                                <span class="text-price">À régler en concession : <span class="text-c-orange" id="totalPrice">455€</span></span>
                                <p class="text-mention d-none d-md-block">Sous-réserve de disponibilité.</p>
                                <div class="wrapper-accessoires row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <form id="contactForm" oninput='zipcode.setCustomValidity(zipcode.value.length != 5 ? "le code postal n&apos;est pas valide." : "");zipcode.setCustomValidity( zipcode.value.length == 5 && validateZipcode() ? "le code postal n&apos;est pas valide." : "");'>
        <input type="hidden" name="model" value="">
        <input type="hidden" name="colorName" value="">
        <input type="hidden" name="dataAccessory" value="">
        <input type="hidden" name="totalPriceOption" value="">
        <input type="hidden" name="gcm" value="">
        <input type="hidden" name="vdr" value="">
        <input type="hidden" name="comment" value="">
        <input type="hidden" name="dealer" value="">
        <input type="hidden" name="type" value="step">
        <input type="hidden" name="assurance" value="">

        <input type="hidden" name="loaDuree" value="">
        <input type="hidden" name="loaLoyers" value="">
        <input type="hidden" name="prixAPartirDe" value="">
        <input type="hidden" name="montantTotalDu" value="">
        <input type="hidden" name="optionAchat" value="">
        <input type="hidden" name="loyerMajore" value="">
        <input type="hidden" name="prixCatalogue" value="">
        <input type="hidden" name="kilometer" value="">

        <div class="block__conditions-financement">
            <div class="container">
                <div class="container">
                    <div class="px-0 px-md-2">
                        <p class="text-header">Comment accéder au parcours de financement en ligne ?</p>
                        <!--<p class="description-conditions">les conditions du financement en ligne :</p>
                        <p class="text-description">Vous aurez besoin de <span class="text-c-orange text-seat-bold">15 minutes </span> pour le <span class="text-c-orange text-seat-bold">compléter</span> et bénéficiez d’une
                            <span class="text-c-orange text-seat-bold">réponse sous 72h</span>. C’est <span class="text-c-orange text-seat-bold">5 fois plus rapide </span>que le traitement en concession.
                            </p>-->
                        <p class="description-conditions">
                            pour bénéficier de ce financement, vous devez remplir les conditions suivantes :
                        </p>
                    </div>
                </div>
                <div class="d-block d-md-flex card-conditions">
                    <div class="item-condition">
                        <p class="text-header">Résider en France métropolitaine.<span class="text-c-orange">*</span></p>
                        <p class="text-desc">Renseignez votre code postal:</p>

                        <div class="location-number">
                            <input class="zipcode" name="zipcode" id="zipcode" placeholder="75001" required/>
                            <div class="alert-error cl-red mt-2 d-none">Le code postal n'est pas valide</div>
                        </div>
                        <div class="alert-not-eligible d-none">
                            <div class="not-eligible">
                                <p class="text-danger">Veuillez renseigner un code postal valide.</p>
                            </div>
                        </div>
                        <p class="f-10"><span class="text-c-orange">*</span>Départements éligibles :
                            <span class="text-c-orange text-seat-bold">01</span>,
                            <span class="text-c-orange text-seat-bold">06</span>,
                            <span class="text-c-orange text-seat-bold">13</span>,
                            <span class="text-c-orange text-seat-bold">14</span>,
                            <span class="text-c-orange text-seat-bold">17</span>,
                            <span class="text-c-orange text-seat-bold">20</span>,
                            <span class="text-c-orange text-seat-bold">21</span>,
                            <span class="text-c-orange text-seat-bold">24</span>,
                            <span class="text-c-orange text-seat-bold">25</span>,
                            <span class="text-c-orange text-seat-bold">26</span>,
                            <span class="text-c-orange text-seat-bold">28</span>,
                            <span class="text-c-orange text-seat-bold">31</span>,
                            <span class="text-c-orange text-seat-bold">33</span>,
                            <span class="text-c-orange text-seat-bold">34</span>,
                            <span class="text-c-orange text-seat-bold">35</span>,
                            <span class="text-c-orange text-seat-bold">38</span>,
                            <span class="text-c-orange text-seat-bold">40</span>,
                            <span class="text-c-orange text-seat-bold">44</span>,
                            <span class="text-c-orange text-seat-bold">45</span>,
                            <span class="text-c-orange text-seat-bold">49</span>,
                            <span class="text-c-orange text-seat-bold">54</span>,
                            <span class="text-c-orange text-seat-bold">56</span>,
                            <span class="text-c-orange text-seat-bold">57</span>,
                            <span class="text-c-orange text-seat-bold">59</span>,
                            <span class="text-c-orange text-seat-bold">60</span>,
                            <span class="text-c-orange text-seat-bold">62</span>,
                            <span class="text-c-orange text-seat-bold">64</span>,
                            <span class="text-c-orange text-seat-bold">67</span>,
                            <span class="text-c-orange text-seat-bold">68</span>,
                            <span class="text-c-orange text-seat-bold">69</span>,
                            <span class="text-c-orange text-seat-bold">72</span>,
                            <span class="text-c-orange text-seat-bold">73</span>,
                            <span class="text-c-orange text-seat-bold">74</span>,
                            <span class="text-c-orange text-seat-bold">75</span>,
                            <span class="text-c-orange text-seat-bold">76</span>,
                            <span class="text-c-orange text-seat-bold">77</span>,
                            <span class="text-c-orange text-seat-bold">86</span>,
                            <span class="text-c-orange text-seat-bold">87</span>,
                            <span class="text-c-orange text-seat-bold">91</span>,
                            <span class="text-c-orange text-seat-bold">92</span>,
                            <span class="text-c-orange text-seat-bold">93</span>,
                            <span class="text-c-orange text-seat-bold">94</span>.

                        </p>
                    </div>
                    <div class="item-condition">
                        <p class="text-header">Ce financement est réservée aux <span class="text-c-orange text-seat-bold">particuliers uniquement.</span></p>
                        <p class="text-desc text-declare">Je déclare être :</p>
                        <div class="declare">
                            <input type="radio" name="declare" id="particulier" value="un-particulier" class="input-success" checked>
                            <label for="particulier" class="form-fill__input--radio text-line-h-14">Un particulier</label>
                            <input type="radio" name="declare" id="professionnel" value="professionnel" class="input-success">
                            <label for="professionnel" class="form-fill__input--radio text-line-h-14">Un professionnel</label>
                        </div>
                    </div>
                </div>
                <div class="item-information alert-eligible text-center d-none">
                    <img src="images/configurator/icon-success.svg" alt="icon-information-blue" />
                    <div class="text-desc eligible">
                        <p>Vous êtes éligible à notre offre de financement en ligne.</p>
                        <p class="text-eligible">Pour en bénéficier, remplissez les premières informations ci-dessous.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="legalMentionModal" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="legal-header">
                        <h5 class="header--small">Location avec option d'achat</h5>
                        <p class="sub-title pt-3">Un crédit vous engage et doit être remboursé.</p>
                        <p class="sub-title">Vérifiez vos capacités de remboursement avant de vous engager.</p>
                        <div class="legal-btn-close">
                            <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close"/>

                            <!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                            <!--                                <span aria-hidden="true">&times;</span>-->
                            <!--                            </button>-->
                        </div>
                    </div>
                    <div class="legal-body">
                        <div class="row">
                            <div class="col-md-10 col-8">
                                <p>Prix Catalogue</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p><span class="var_prix_catalogue">xxxx</span>€</p>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-md-10 col-8">
                                <p>Bonus Écologique</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p><span class="var_loyer_majore">xxxx</span>€</p>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-md-10 col-8">
                                <p class="textSeatBold">1er loyer au titre de la location</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p class="textSeatBold"><span class="var_loyer_majore">xxxx</span>€</p>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-md-10 col-8">
                                <p class="textSeatBold"><span class="var_loyer_au_titre_de_location">xxxx</span> loyer au titre de location</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p class="textSeatBold"><span class="var_prix_a_partir_de">xxxx</span>€</p>
                            </div>
                            <div class="col-12">
                                <hr>
                            </div>
                            <div class="col-md-10 col-8">
                                <p>Durée</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p><span class="var_loa_duree">xxxx</span> mois</p>
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-md-10 col-8">
                                <p>Kilométrage annuel</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p><span class="var_kilometer"></span> km</p>
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-md-10 col-8">
                                <p>Option d’achat</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p><span class="var_option_achat">xxxx</span>€</p>
                            </div>
                            <div class="col-12"><hr></div>
                            <div class="col-md-10 col-8">
                                <p class="textSeatBlack">Soit un montant total dû</p>
                            </div>
                            <div class="col-md-2 col-4 text-right">
                                <p class="textSeatBlack"><span class="var_montant_total_du">xxxx</span>€</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="description">
                                <div class="text-desc var_mention_legale"></div>
                                <div class="button-control text-center">
                                    <button class="btn-show">Lire les mentions légales</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-fill d-none" id="contactFormLead">
            <div class="container">
                <div class="contact-form">
                    <div class="information-first">
                        <div class="form-fill__header">
                            <p class="text-line-h-36">Votre distributeur SEAT</p>
                        </div>
                        <div id="distributeur-map"></div>
                        <div class="block-choice-distributeur d-block d-lg-flex">
                        </div>
{#                        <div class="block-description-distributeur">#}
{#                            Pour le moment, seule votre concession <span>Axone Automobiles Paris 13 est éligible à notre offre de financement en ligne.</span></br>#}
{#                            Vos autres distributeurs seront prochainement disponibles.#}
{#                        </div>#}
                        <div class="block-description-financement">
                            Assurez-vous d'être en <span class="text-c-orange">mesure de vous déplacer</span> chez votre distributeur pour <span class="text-c-orange">signer votre dossier</span> de financement.
                        </div>
                    </div>
                    <div class="form-fill__input">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <div class="f-w-400 text-line-h-16 avez-vous">
                                    <p class="additional-info">Vos premières informations</p>
                                    <p class="pb-2 d-flex d-md-block flex-column text-question"><b>Êtes-vous titulaire d'un des trois permis suivants ?<span class="text-c-orange">*</span></b>
                                        <i class="d-inline-flex align-items-center"> Permis 125 / Permis A1 / Permis B
                                            <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-permit-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#permitModal" class="icon-permit-modal">
                                        </i>
                                    </p>
                                    <div class="text-c-grey form-permit pb-2">
                                        <input type="radio" name="permit" id="oui-p" value="G" class="input-success" required>
                                        <label for="oui-p" class="form-fill__input--radio mr-5">Oui</label>
                                        <input type="radio" name="permit" id="non-p" value="F" class="input-success">
                                        <label for="non-p" class="form-fill__input--radio">Non</label>
                                    </div>

                                    <p class="pb-2 d-flex d-md-block flex-column text-question"><b>Certifiez vous être une personne majeure ?<span class="text-c-orange">*</span></b></p>
                                    <div class="text-c-grey form-personne-majeure pb-3">
                                        <input type="radio" name="personne-majeure" id="oui-pm" value="G" class="input-success" required />
                                        <label for="oui-pm" class="form-fill__input--radio mr-5">Oui</label>
                                        <input type="radio" name="personne-majeure" id="non-pm" value="F" class="input-success" />
                                        <label for="non-pm" class="form-fill__input--radio">Non</label>
                                        <div class="tooltip" id="personneMajeureTooltip">
                                            <i class="fas fa-exclamation-triangle"></i>
                                            &nbsp;La majorité est requise pour accéder au financement en ligne.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="commercial-offer">OFFRES COMMERCIALES<span class="text-c-orange">*</span></p>
                                <p class="f-w-400 pb-2 text-line-h-16 oui-text d-none d-md-block"><i>J’accepte de recevoir des offres commerciales,
                                        y compris des offres personnalisées, relatives aux produits et services commercialisés par SEAT France,
                                        division de Volkswagen Group France, par l’établissement vendeur et Volkswagen Financial Services.**</i></p>
                                <p class="f-w-400 pb-2 text-line-h-16 oui-text d-block d-md-none"><i>J’accepte de recevoir des offres commerciales,
                                        y compris des offres personnalisées, relatives aux produits et services commercialisés par SEAT France,
                                        division de Volkswagen Group France et par l’établissement vendeur.**</i></p>
                                <div class="text-c-grey form-privacy_email">
                                    <input type="radio" name="privacy_email" id="oui-m" value="G" class="input-success" required>
                                    <label for="oui-m" class="form-fill__input--radio mr-5" >Oui</label>
                                    <input type="radio" name="privacy_email" id="non-f" value="F" class="input-success">
                                    <label for="non-f" class="form-fill__input--radio">Non</label>
                                </div>
                            </div>
                        </div>
                        <div class="conditions-form">
                            <input type="hidden" name="gamme" value="{{ gamme }}">
                            <input type="checkbox" id="conditions" required><label for="conditions">J’ai lu et j’accepte les Conditions Générales d’Utilisations <a class="cgu-link" href="{{ path('download_cgu_pdf') }}" target="_blank" onclick="trackingDataLayerInternal(this)"> (Voir les CGU) </a></label>
                        </div>
                        <p class="text-veuillez">Pour passer à l'étape suivante, veuillez compléter les informations ci-dessus.</p>
                        <div class="card-btn mt-4">
                            <button class="btn btn-custom btn-leadconnect btn-recontact text-line-h-26 d-none" onclick="trackingDataLayerInternal(this)" formaction="{{ path('leadconnect') }}" formmethod="GET">Être recontacté(e)</button>
                            <button class="btn btn-custom btn-ligne text-line-h-26 disabled" rel="financement-donnees-personnelles.html" id="gotoStep1-3" onclick="trackingDataLayerInternal(this)" formaction="{{ path('process_configurator_contact') }}" formmethod="POST" disabled>Demande de financement en ligne</button>
                            <a class="btn btn-custom btn-leadconnect btn-concession text-line-h-26 btn-en-concession" onclick="trackingDataLayerInternal(this); linkToConcession(this, event); trackingCTAGoToLeadForm(this)" href="{{ path('contact.html') }}">Financement en concession</a>                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div id="responseMessage" class="d-none col-12 p-0 mt-5">
            <div class="d-flex flex-column-reverse flex-md-row">
                <div class="col-12 response-content col-md-6 d-flex flex-column my-5">
                    <div class="d-flex justify-content-start text-title">
                        <p>Formulaire envoyé</p>
                    </div>
                    <div class="d-flex flex-column justify-content-start text-detail mt-4">
                        <p>Votre demande a bien été envoyée !</p>
                        <p>Vous serez recontacté par un conseiller SEAT proche de chez vous.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex p-0 justify-content-center">
                    <img class="w-100" src="images/formulaire-envoye-bg.png" alt="item_image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-section"></section>

<div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

    <!-- Modal Permit -->
    <div class="modal fade" id="permitModal" tabindex="-1" style="top: 0; left: 0;">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <div class="w-100">
                        <div class="flex-row-reverse d-flex">
                            <img type="button" data-bs-dismiss="modal" aria-label="Close" src="images/configurator/icon-close.svg" alt="icon-close-service-modal" />
                        </div>
                    </div>
                </div>
                <div class="modal-body text-start">
                    <div>
                        Si vous êtes né avant 1988, vous n'avez pas besoin de titre de conduite pour conduire
                        un cyclomoteur ou un quadricycle léger à moteur. Par ailleurs, vous n'avez pas besoin du BSR (catégorie AM)
                        si vous avez déjà
                        <a href="https://www.demarches.interieur.gouv.fr/particuliers/quel-permis-quelle-categorie-vehicules" target="_blank">
                            <span class="text-c-orange text-decoration-underline" >une autre catégorie de permis </span>
                        </a>
                        (par exemple le <a class="text-c-orange text-decoration-underline" href="https://www.demarches.interieur.gouv.fr/particuliers/permis-b-voiture-camionnette" target="_blank">
                            <span class="text-c-orange text-decoration-underline">permis B</span></a>)
                        ou un titre européen équivalent.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
{% endblock %}
{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="js/configurator.js"></script>
<script src="js/financement1-2.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?file=api&v=3.x&key=AIzaSyCv7rSomxRxdgsyYFwJGiKsJpee6HG3E-Y&language=fr"
        async defer></script>
<script src="/js/@googlemaps/markerclusterer/dist/index.min.js"></script>
<script>
    $(document).ready(function() {
        var markers;
        var markerCluster;
        var activeMarker;
        const iconMarkerChecked = 'images/configurator/icon-marker-checked.svg';
        const iconMarker        = 'images/configurator/icon-marker.svg';

        function initMap(data) {
            if (document.getElementById('distributeur-map')) {
                let latSum = 0;
                let lngSum = 0;
                markers = data.map((data, i) => {
                    const position = {lat: parseFloat(data.lat), lng: parseFloat(data.lng)};

                    latSum += position.lat;
                    lngSum += position.lng;

                    const marker = new google.maps.Marker({
                        position,
                        icon: iconMarker,
                        kvps: data.kvps,
                    });

                    marker.addListener("click", () => {
                        $('input[name="dealer"]').closest('.item-choice').removeClass('border-active');
                        $('input[data-kvps=' + $(marker)[0].kvps + ']').prop('checked', true).closest('.item-choice').addClass('border-active');

                        activeMarker && activeMarker.setIcon(iconMarker);
                        marker.setIcon(iconMarkerChecked);
                        activeMarker = marker;
                    });

                    return marker;
                });

                const map = new google.maps.Map(document.getElementById("distributeur-map"), {
                    zoom: 10,
                    center: { lat: latSum / data.length, lng: lngSum / data.length },
                    disableDefaultUI: false,
                    mapTypeControl: false,
                    zoomControl: true,
                    streetViewControl: false,
                    fullscreenControl: false,
                });

                map.setOptions({
                    styles: [
                        {
                            "featureType": "water",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#e9e9e9"
                                },
                                {
                                    "lightness": 17
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                },
                                {
                                    "lightness": 20
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 17
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 29
                                },
                                {
                                    "weight": 0.2
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 18
                                }
                            ]
                        },
                        {
                            "featureType": "road.local",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 16
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f5f5f5"
                                },
                                {
                                    "lightness": 21
                                }
                            ]
                        },
                        {
                            "featureType": "poi.park",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#dedede"
                                },
                                {
                                    "lightness": 21
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.stroke",
                            "stylers": [
                                {
                                    "visibility": "on"
                                },
                                {
                                    "color": "#ffffff"
                                },
                                {
                                    "lightness": 16
                                }
                            ]
                        },
                        {
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "saturation": 36
                                },
                                {
                                    "color": "#333333"
                                },
                                {
                                    "lightness": 40
                                }
                            ]
                        },
                        {
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "geometry",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                },
                                {
                                    "lightness": 19
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.fill",
                            "stylers": [
                                {
                                    "color": "#fefefe"
                                },
                                {
                                    "lightness": 20
                                }
                            ]
                        },
                        {
                            "featureType": "administrative",
                            "elementType": "geometry.stroke",
                            "stylers": [
                                {
                                    "color": "#fefefe"
                                },
                                {
                                    "lightness": 17
                                },
                                {
                                    "weight": 1.2
                                }
                            ]
                        }
                    ]
                });
                const renderer = {
                    render({ count, position }) {
                        return new google.maps.Marker({
                            label: { text: String(count), color: "white", fontSize: "12px", className: 'marker-clusterer-number' },
                            position,
                            icon: iconMarker
                        })
                    }
                }

                var bounds = new google.maps.LatLngBounds();

                markers.forEach(function(marker) {
                    bounds.extend(marker.position);
                });

                map.setCenter(bounds.center);
                map.fitBounds(bounds);
                markerCluster = new markerClusterer.MarkerClusterer({ map, markers, renderer });
            }
        }

        $('#zipcode').on('input', function() {
           var zipcode = $(this).val();
           if (zipcode.length === 5) {
               var apiUrl = window.iFrameResizerSeat125Mo
               $.get(apiUrl.targetApiPartiTech + '/get-distributors/'+ zipcode, function (data) {
                   initMap(data.items);
                   $('.block-choice-distributeur').empty().append(data.template.content).find('input[name=dealer]').on('change', function() {
                       var input = $(this);
                       $(this).closest('.item-choice').addClass('border-active');
                       $('input[name=dealer]').not($(this)).closest('.item-choice').removeClass('border-active');

                       markers.forEach(function(marker) {
                           if (marker.kvps === input.data('kvps')) {
                               marker.setIcon(iconMarkerChecked);
                               activeMarker = marker;
                           } else {
                               marker.setIcon(iconMarker);
                           }
                       });
                   });

                   $('input[name="permit"], input[name="personne-majeure"], input[name="privacy_email"], input[type="checkbox"][required]').change(function () {
                       var allInputsChecked = true;

                       $('input[name="permit"], input[name="personne-majeure"], input[name="privacy_email"], input[type="checkbox"][required]').each(function () {
                           if ($(this).is(':checkbox') && !$(this).prop('checked')) {
                               allInputsChecked = false;
                           } else if ($(this).is(':radio') && !$('input[name="' + this.name + '"]:checked').length) {
                               allInputsChecked = false;
                           }
                       });

                       if ($('input[name="personne-majeure"]:checked').val() === 'F') {
                           allInputsChecked = false;
                       }

                       if (allInputsChecked) {
                           $('button.btn-ligne').prop('disabled', false).removeClass('disabled');
                       } else {
                           $('button.btn-ligne').prop('disabled', true).addClass('disabled');
                       }
                   });

                   $("input[name='personne-majeure']").on('change', function () {
                       if ($(this).val() === 'F') {
                           $('button.btn-ligne').prop('disabled', true).addClass('disabled');
                       }
                   })
               });
           }
        });

        saveLocalStorage();
        restoreState();

        function saveLocalStorage() {
            sessionStorage.setItem('url-step-pre-command', window.location.href);
            $('input[name=permit]').on('change', function() {
                sessionStorage.setItem('permit-value', $(this).val());
            });

            $('input[name=personne-majeure]').on('change', function() {
                sessionStorage.setItem('personne-majeure', $(this).val());
            });

            $('input[name=privacy_email]').on('change', function() {
                sessionStorage.setItem('privacy-email', $(this).val());
            });

            $('input#conditions').on('change', function() {
                sessionStorage.setItem('conditions', $(this).val());
            });

            $('input[name=zipcode]').on('input', function() {
                sessionStorage.setItem('zipcode', $(this).val());
            })

            $('input[name=dealer]').on('input', function() {
                sessionStorage.setItem('dealer', $(this).val());
            })
        }
        function restoreState() {
            if (sessionStorage.getItem('conditions')) {
                $('input#conditions').prop('checked', true);
                sessionStorage.removeItem('conditions');
            }

            if (sessionStorage.getItem('zipcode')) {
                $('input[name=zipcode]').val(sessionStorage.getItem('zipcode'));
                sessionStorage.removeItem('zipcode');
            }

            if (sessionStorage.getItem('personne-majeure')) {
                $('input[name=personne-majeure][value=' + sessionStorage.getItem('personne-majeure') + ']').prop('checked', true);
                sessionStorage.removeItem('personne-majeure');
            }

            if (sessionStorage.getItem('permit-value')) {
                $('input[name=permit][value=' + sessionStorage.getItem('permit-value') + ']').prop('checked', true);
                sessionStorage.removeItem('permit-value');
            }

            if (sessionStorage.getItem('privacy-email')) {
                $('input[name=privacy_email][value=' + sessionStorage.getItem('privacy-email') + ']').prop('checked', true);
                sessionStorage.removeItem('privacy-email');
            }

            if (sessionStorage.getItem('dealer')) {
                $('input[name=dealer][value=' + sessionStorage.getItem('dealer') + ']').prop('checked', true);
                sessionStorage.removeItem('dealer');
            }
        }

        $('.go-back-configurator').click(function () {
            window.location.href = sessionStorage.getItem('url-step-configurator');
            sessionStorage.removeItem('url-step-configurator');
        })

        // Dynamic data layer
        var dataLayer = {
            'channel': 'pre-financing',
            'virtualPageName': 'SEAT – Mo Pre Financing – prefinancing eligibility'
        }

        dynamic_dataLayer.call('setDefaultValues', dataLayer);
        console.log(dataLayer);
        //
    })

    function linkToConcession(element, event) {
        event.preventDefault();

        const queryString = window.location.search;
        const urlParams   = new URLSearchParams(queryString);
        var data = {
            colorValue: $.parseJSON(urlParams.get('data')).colorValue,
            dataAccessory: $.parseJSON(urlParams.get('data')).dataAccessory
        }

        var zipcode = $('#zipcode').val();
        var dealer  = $('input[name=dealer].custom-control-input').data('kvps');
        var gamme   = urlParams.get('gamme') ?? '';
        var url     = '/contact.html?zipcode=' + zipcode + '&dealer=' + dealer + '&gamme=' + gamme + '&data='+encodeURIComponent(JSON.stringify(data));

        $(element).attr('href', url);
        window.location.href = url;
    }
</script>
{% endblock %}
