{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}

    <section class="product financement-prerequis">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Prérequis</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-prerequis">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="flex-md-row m-0">
                    <div class="col-12 container" id="financement-header">
                        <p>Vos pièces justificatives</p>
                        <span class="text-desc">Pour compléter votre dossier de financement, certains documents nous sont nécessaires.</span>
                    </div>
                </div>
            </div>

            <div class="form-fill" id="formFinancementPrerequis">
                <div class="container">
                    <div class="form-fill__input">
                        <p class="text-we-need">Pour compléter votre dossier, munissez-vous des documents suivants :</p>
                        <form id="formPrerequis">
                            <input type="hidden" name="application_id" value="{{ application_id }}">
                            <input type="hidden" name="is-send-lead" value="1">
                            <div class="wrapper-document d-block d-md-flex justify-content-evenly">
                                <div class="card-document card-address">
                                    <div class="text-center block-img">
                                        <img src="images/financement/icon-proof-of-address.svg" alt="d’Un justificatif de domicile">
                                    </div>
                                    <p class="text-uppercase text-center">justificatif de domicile</p>
                                    <div class="mt-5">
                                        <p class="text-valid">Liste des documents acceptés* : </p>
                                        <ul>
                                            <li>Facture d’eau, gaz, internet, téléphone fixe, électricité.</li>
                                            <li>Attestation d’assurance habitation.</li>
                                            <li>Quittance de loyer.</li>
                                            <li>Attestation sur l’honneur d’hébergement.</li>
                                        </ul>
                                        <p  class="text-condition"><span class="text-c-orange">*</span>Le document doit avoir moins de 3 mois</p>
                                        <p class="text-valid">Méthode de transfert</p>
                                        <ul>
                                            <li>Dépôt d’un fichier numérisé. </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-document card-identity mt-5 mt-md-0">
                                    <div class="text-center block-img">
                                        <img src="images/financement/icon-identity-document.svg" alt="d’Un document d’identité">
                                    </div>
                                    <p class="text-uppercase text-center">document d’identité</p>
                                    <div class="mt-5">
                                        <p class="text-valid">Liste des documents acceptés :</p>
                                        <ul class="list-documents">
                                            <li>Carte d’identité recto/verso, lisible et en en cours de validité.</li>
                                            <li>Passeport lisible et en cours de validité (page sur laquelle figure la photo).</li>
                                            <li>Titre de séjour recto/verso, lisible et en cours de validité.</li>
                                        </ul>

                                        <p class="text-valid">Méthode de transfert</p>
                                        <ul>
                                            <li>Une vidéo de votre justificatif d’identité.</li>
                                            <li>Une vidéo de votre visage.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="card-btn">
                                <div class="block-btn-verification">
                                    <button type="submit" class="btn btn-custom btn-verification text-line-h-26 mb-2" formaction="{{ path('financement-justificatif-de-domicile') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Démarrer la vérification</button>
                                </div>
                                <div class="block-btn-verification-later">
                                    <button type="submit" class="btn btn-custom btn-verification-later text-line-h-26 mb-2" formaction="{{ path('recorded-information') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Vérifier plus tard</button>
                                </div>
                            </div>
                            <p class="legal-mention"><br>
                                Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD) nous vous informons que des données à caractère personnel vous concernant, en l'occurrence votre document d'identité et votre autoportrait numérique (selfie) font l'objet d'un traitement informatique mis en œuvre par Quicksign agissant en tant que sous-traitant pour le compte de Volkswagen Bank, responsable de traitement. Les données sont collectées afin de vérifier que l'image de l’autoportrait numérique (selfie) correspond à celle provenant du document d'identité communiqué.
                                La base juridique du traitement est le consentement. Les données collectées dans le cadre de la vérification de l'identité sont conservées pour une durée correspondant au temps de la vérification.
                                Nous vous informons que vous disposez d’un droit d’accès, de rectification et de suppression sur les données vous concernant en écrivant à Volkswagen Bank –
                                Délégué à la protection des données, à l’adresse suivante - 11, avenue de Boursonne - BP 61 - 02601 Villers-Cotterêts Cedex.
                                Vous disposez enfin du droit d’introduire une réclamation auprès de la Commission nationale de l’informatique et des libertés (CNIL).
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div id="responseMessage" class="d-none p-5 my-5">
                <p class="f-24 text-line-h-24">Merci. Votre demande de contact a bien été prise en compte.</p>
                <p class="f-24 text-line-h-24">Un distributeur SEAT vous contactera rapidement.</p>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/
        $(document).ready(function() {
            // Dynamic data layer
            var dealerCode = "{{ customerApplication.distributeurs.kvps }}"
            var dealerName = "{{ customerApplication.distributeurs.raisonSociale }}"
            var carCode = "{{ escooterConfiguration.vehicleEngine }}";
            var carName = getCarNameFormCarCode(carCode);

            var dataLayer = {
                'channel': 'Pre Financing',
                'digitalElement': 'SEAT MO',
                'formID': 'Pre-Financial-Request',
                'eventName': "app-step-5",
                'applicationType': "form",
                'applicationName': 'Finance Request',
                'applicationStep': '5-QYC-pre-requirement',
                'dealerName': dealerName,
                'dealerCode': dealerCode,
                'carName': carName,
                'carCode': carCode,
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        })
    </script>
{% endblock %}
