{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
    <section class="financement recorded-information">
        <div class="seat-container">
            <div class="item">
                <div class="row flex-md-row m-0">
                    <div class="container wrapper-content row d-flex">
                        <div class="block-left col-12 col-md-6">
                            <div class="content">
                                <p class="mb-3">Informations enregistrées</p>
                                <span class="text-desc mb-3 d-block">Vérifiez votre boîte mail, nous vous avons transmis un mail, vous permettant de reprendre la saisie de votre parcours ultérieurement.
                                </span>
                                <a href="/" class="btn btn-custom btn-back-home mt-5">Revenir à l’accueil</a>
                            </div>
                        </div>
                        <div class="block-right col-12 col-md-6">
                            <img src="images/financement/recorded-information.png" alt="Recorded Information">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement1-4.js"></script>
{% endblock %}
