{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block header_js %}
    <script src="js/conf_{{ escooterConfiguration.vehicleEngine }}.js"></script>
{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <section class="product financement-votre-dossier financement-recapitulatif-de-votre-dossier">
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5 step3">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>
                            <div class="progress-steps step-identification">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-votre-dossier">
        <div class="seat-container">
            <div class="item">
                <div class="success-offer-wrapper">
                    <div class="container px-sm-0">
                        <div class="success-message text-center">
                            <div>
                                <img src="images/Icons/check.svg" >
                            </div>
                            <div class="title mt-3">Dossier transmis</div>
                            <div class="description mt-3">
                                Nous analysons votre dossier ainsi que l’ensemble des éléments.<br>Nous vous enverrons sous 72h une réponse par mail.
                            </div>
                        </div>
                    </div>
                    <div class="col-12 container" id="financement-header">
                        <p class="title text-start text-md-center">Récapitulatif de votre demande</p>
                    </div>
                </div>
            </div>
            <div class="summary-offer-wrapper">
                <div class="container d-block d-md-flex justify-content-between px-sm-0">
                    <div class="block-left w-100 w-md-50 pr-0 pr-md-5">
                        <p class="text-title">Votre offre</p>
                        <p class="text-financing">Vous êtes intéressé par l'offre de LOA.</p>
                        <div class="line-grey"></div>
                        <div class="financement-loa">
                            <div class="card-title f-w-700 mb-0">
                                <div class="d-flex">
                                    <p class="d-flex"><span>Au prix de&nbsp;</span> <span>{{ escooterConfiguration.prixAPartirDe }}</span>€/mois<span class="text-c-orange">*</span>&nbsp;</p>
                                    <span class="text-dark">
                                        <img width="12px" height="12px" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention" data-type="info" class="hand-cursor align-baseline" onclick="trackingDataLayerPopup(this)">
                                  </span>
                                </div>
                            </div>
                            <p class="text-regular">
                                LOA sur <span class="text-medium"><span class="loa-duree-value">{{ escooterConfiguration.loaDuree }}</span> mois</span> et <span class="text-medium">{{ escooterConfiguration.vehicleKmAnnual|number_format(0, '.', ' ') }}km</span> 1er loyer majoré de <span class="text-medium"><span>{{ escooterConfiguration.loyerMajore }}</span>€</span> ramené à 0€ après déduction du
                                bonus écologique de <span class="font-weight-light">{{ escooterConfiguration.loyerMajore }}</span>€<span class="text-c-orange">*</span>, suivi de <span class="text-medium">{{ escooterConfiguration.loaLoyers }}</span> <span class="text-medium">loyers</span> de <span class="text-medium"><span>{{ escooterConfiguration.prixAPartirDe }}</span>€</span>.
                            </p>
                            <p class="text-header">
                                Vos assurances additionnelles
                            </p>
                            <div class="line-1"></div>
                            {% if escooterConfiguration.optinInsuranceGCM %}
                            <div class="row additional-benefits gcm">
                                <div class="col-12">
                                    <div class="accessoires__item">
                                        <div class="accessoires__item--info">
                                            <div class="d-flex">
                                                <p class="text-regular mb-0"><span class="text-c-orange text-medium">G</span>arantie <span class="text-c-orange text-medium">C</span>apital <span class="text-c-orange text-medium">M</span>oto <span class="text-c-orange text-medium">(GCM)</span>
                                                    <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-gcm-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#gcmModal" class="hand-cursor">
                                                </p>
                                            </div>
                                            <p class="text-regular gcm-value">xxx<span class="text-c-orange">*</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if escooterConfiguration.optinInsuranceVDR %}
                            <div class="row additional-benefits vdr">
                                <div class="col-12">
                                    <div class="accessoires__item">
                                        <div class="accessoires__item--info">
                                            <div class="d-flex">
                                                <p class="text-regular mb-0"><span class="text-c-orange text-medium">V</span>éhicule <span class="text-c-orange text-medium">D</span>e <span class="text-c-orange text-medium">R</span>emplacement <span class="text-c-orange text-medium">(VDR)</span>
                                                    <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-vdr-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#vdrModal" class="hand-cursor">
                                                </p>
                                            </div>
                                            <p class="text-regular">5€ / mois<span class="text-c-orange">*</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <p class="text-header">
                                Montant total dû&nbsp;<span class="text-c-orange">{{ escooterConfiguration.montantTotalDu }}</span><span class="text-c-orange">&nbsp;€*&nbsp;</span>
                                <img width="12px" height="12px" src="images/configurator/icon-information-orange.svg" alt="icon-legal-mention" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" data-type="info" class="hand-cursor d-inline-block align-baseline" onclick="trackingDataLayerPopup(this)">
                            </p>
                            <div class="line-1"></div>
                            <p class="text-regular text-offer">
                                Offre valable du <span class="date_offre text-c-orange"></span>
                            </p>
                            <div class="text-medium text-decoration-underline text-contribution m-0">
                                Votre apport de&nbsp;<span class="ml-0">{{ escooterConfiguration.loyerMajore }}</span>&nbsp;€ remboursé avec l’aide gouvernementale&nbsp;
                                <img class="d-inline-block align-items-center hand-cursor" onclick="trackingDataLayerPopup()" data-type="info" src="images/configurator/icon-information-orange.svg" alt="icon-offers-modal" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal">
                            </div>
                            <div class="warranty text-regular mb-4">
                                <ul>
                                    <li>2 ans de garantie constructeur pour le scooter et garantie de 4 ans
                                        (ou 40.000 km) pour la batterie.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block-right w-100 w-md-50">
                        <div class="mb-4">
                            <p class="text-title">Votre sélection</p>
                            <div class="selection__item color-circle d-flex align-items-center">
                                <div class="selection__item--image"></div>
                            <div class="selection__item--info">
                                <p class="text-header"></p>
                                <div class="selection__item--description" data-vehicle-model="{{ vehicleModel }}">
                                    <p class="text-description mb-0 {{ vehicleModel }}">{{ escooterConfiguration.colorName }}</p></div>
                            </div>
                        </div>
                        </div>
                        <div class="line-grey d-block d-md-none"></div>
                        <div>
                            <p class="text-title">Accessoires</p>
                            <p class="text-accessories">À régler en concession : <span class="text-c-orange">{{ vehicleOptionsPrice }}€</span></p>
                            <p class="text-mention d-none d-md-block">Sous-réserve de disponibilité.</p>
                            <div class="wrapper-accessoires row" data-accessoires="{{ vehicleOptions }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="distributeur-wrapper">
                <div class="container px-sm-0">
                    <p class="text-demande">Votre distributeur :</p>
                    <div class="detail-info d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center">
                        <div class="margin-mobile name text-info-bold">{{ distributeur.raisonSociale }}</div>
                        <div class="margin-mobile address d-flex align-items-start align-items-md-center">
                            <div class="mr-2">
                                <img src="images/Icons/position.svg">
                            </div>
                            <div>
                                <div>{{ distributeur.adresse }}</div>
                                <div class="text-info-bold">{{ distributeur.codePostal }} {{ distributeur.ville }}</div>
                            </div>
                        </div>
                        <div class="margin-mobile calendar d-flex align-items-start align-items-md-center">
                            <div class="mr-2">
                                <img src="images/Icons/calendar.svg">
                            </div>
                            <div>
                                <div>
                                    <span class="text-info-bold">Lundi au vendredi :</span><br class="d-block d-md-none"><span> 09h00 - 12h30 / 14h00 - 18h30</span>
                                </div>
                                <div>
                                    <span class="text-info-bold">Samedi</span><br class="d-block d-md-none"><span> 09h00 - 12h30 / 14h00 - 18h30</span>
                                </div>
                            </div>
                        </div>
                        <div class="margin-mobile phone-number d-flex align-items-start align-items-md-center">
                            <div class="mr-2">
                                <img src="images/Icons/phone.svg">
                            </div>
                            {% set splitPhone = distributeur.telephone|split('', 2) %}
                            {% set phone = splitPhone|join(' ') %}
                            <div class="text-info-bold">{{ phone }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="last-step-wrapper">
                <div class="container px-sm-0">
                    <p class="text-demande">Et maintenant ?</p>
                    <div class="carousel wrapper-response">
                        <div class="card-last-step card-response">
                            <span class="text-c-orange">1</span>
                            <div class="line-orange"></div>
                            <p class="text-title text-uppercase">SEAT Financial<br>Services S’ENGAGE</p>
                            <p class="text-content">À vous donner une réponse<br>par email sous 72H ouvrées.</p>
                        </div>
                        <div class="card-last-step card-signature">
                            <span class="text-c-orange">2</span>
                            <div class="line-orange"></div>
                            <p class="text-title text-uppercase">SI VOUS ÊTES<br>SOLVABLE</p>
                            <p class="text-content">Un concessionnaire prendra contact avec vous dans les plus brefs délais pour convenir d’un rdv.</p>
                        </div>
                        <div class="card-last-step card-livraison">
                            <span class="text-c-orange">3</span>
                            <div class="line-orange"></div>
                            <p class="text-title text-uppercase">La signature<br>de votre contrat</p>
                            <p class="text-content">Lors de votre rendez-vous, vous pourrez signer votre contrat et convenir d’une date de livraison.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="data-processing-wrapper">
                <div class="container px-sm-0">
                    <p class="text-demande">Le traitement des données</p>
                    <div class="block-data-processing">
                        <img src="images/financement/icon-secured-data.svg" alt="Secured Data">
                        <div class="line-orange"></div>
                        <p class="text-uppercase">Vos données</p>
                        <span class="text-desc">SEAT s’engage à sécuriser vos données<br> pour en assurer la confidentialité.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="legalMentionModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="legal-header">
                    <h5 class="header--small">Location avec option d'achat</h5>
                    <p class="sub-title pt-3">Un crédit vous engage et doit être remboursé.</p>
                    <p class="sub-title">Vérifiez vos capacités de remboursement avant de vous engager.</p>
                    <div class="legal-btn-close">
                        <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                        <!--                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                    </div>
                </div>
                <div class="legal-body">
                    <div class="row">
                        <div class="col-md-10 col-8">
                            <p>Prix Catalogue</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span>{{ escooterConfiguration.prixCatalogue }}</span>€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p>Bonus Écologique</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span>{{ escooterConfiguration.loyerMajore }}</span>€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBold">1er loyer au titre de la location</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBold"><span>{{ escooterConfiguration.loyerMajore }}</span>€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBold"><span class="loyer_au_titre_de_location"></span> loyer au titre de location</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBold"><span>{{ escooterConfiguration.prixAPartirDe }}</span>€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p>Durée</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span>{{ escooterConfiguration.loaDuree }}</span> mois</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p>Kilométrage annuel</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p>{{ escooterConfiguration.vehicleKmAnnual|number_format(0, '.', ' ') }}km</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p>Option d’achat</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span>{{ escooterConfiguration.optionAchat }}</span>€</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBlack">Soit un montant total dû</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBlack"><span>{{ escooterConfiguration.montantTotalDu }}</span>€</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            <div class="text-desc mention_legale">
                            </div>
                            <div class="button-control text-center">
                                <button class="btn-show">Lire les mentions légales</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="gcmModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <div class="w-100">
                        <div class="flex-row-reverse d-flex">
                            <img type="button" data-bs-dismiss="modal" aria-label="Close" src="images/configurator/icon-close.svg" alt="icon-close-service-modal" />
                        </div>
                        <div class="d-flex">
                            <h5 class="modal-title text-uppercase"><span class="text-c-orange">G</span>arantie <span class="text-c-orange">C</span>apital <span class="text-c-orange">M</span>oto <span class="text-c-orange">(GCM)</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-start">
                    <div class="text-destruction">
                        En cas de destruction ou de vol de votre eScooter, la Garantie Capital Moto vous permet de
                        reconstituer la valeur d’achat de votre véhicule pendant 4 ans, en complétant le remboursement
                        de votre assureur. Vous protégez ainsi votre capital et vous pouvez acquérir votre nouvelle moto
                        en toute tranquillité.
                    </div>
                    <div>
                        Assurance souscrite auprès de la société ICARE ASSURANCE, SA au capital 2 358 816 € - RCS Nanterre :
                        327 061 339 - 93 rue Nationale 92100 Boulogne Billancourt. Entreprise régie par le Code des
                        assurances.
                        Assurance souscrite exclusivement avec un financement, sous réserve d’acceptation par VOLKSWAGEN BANK
                        GMBH – SARL de droit allemand – Capital social: 318 279 200 € - Siège social: Braunschweig
                        (Allemagne) – RC/HRB Braunschweig: 1819 – Etablissement de crédit de l’EEE et intermédiaire en
                        assurance européen inscrit à l’IHK Braunschweig sous le n°D-HNQM-UQ9MO-22 exerçant en libre
                        établissement (<a href="www.orias.fr"><span class="text-c-orange text-decoration-underline">www.orias.fr</span></a>) - Succursale France : Bâtiment Ellipse – 15, avenue de la Demi-Lune – 95700 Roissy Charles de Gaulle Cedex – RCS PONTOISE 451 618 904 – Administration et adresse postale: 11, avenue de Boursonne – B.P. 61 – 02600 Villers-Cotterêts.
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="offersModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <div class="w-100">
                        <div class="flex-row-reverse d-flex">
                            <img src="images/configurator/icon-close-modal.svg" alt="icon-close-offers-modal" type="button" data-bs-dismiss="modal" aria-label="Close" />
                            <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                        </div>
                        <div class="d-flex">
                            <h5 class="modal-title">Pour bénéficier du bonus écologique, vous devez être majeur et domicilié en France.</h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-start">
                    <p class="text-le-vehicle">Le véhicule doit remplir toutes les conditions suivantes :</p>
                    <ul>
                        <li>Véhicule <span class="text-seat-bold">neuf</span></li>
                        <li>Véhicule électrique</li>
                        <li>Véhicule immatriculé en France dans <a href="https://www.service-public.fr/particuliers/vosdroits/F35476" target="_blank" >une série définitive: Immatriculation d'un véhicule obtenue après une 1re immatriculation provisoire, lorsque le dossier technique et administratif est complet.</a></li>
                        <li>Véhicule soit acheté, soit loué dans le cadre d'un contrat d'une durée de 2 ans ou plus.</li>
                        <li>Le véhicule ne doit pas être vendu dans l'année suivant son achat ou sa location, ni avant d'avoir parcouru au moins 2 000 km.</li>
                    </ul>
                    <p class="text-c-orange text-seat-bold">L'aide est versée au maximum une fois par personne tous les 3 ans.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="vdrModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <div class="w-100">
                        <div class="flex-row-reverse d-flex">
                            <img type="button" data-bs-dismiss="modal" aria-label="Close" src="images/configurator/icon-close.svg" alt="icon-close-service-modal" />
                        </div>
                        <div class="d-flex">
                            <h5 class="modal-title text-uppercase"><span class="text-c-orange">V</span>éhicule <span class="text-c-orange">D</span>e <span class="text-c-orange">R</span>emplacement <span class="text-c-orange">(VDR)</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="modal-body text-start">
                    <div>
                        Parce que certaines circonstances peuvent conduire à l’immobilisation de votre eScooter, Seat
                        Financial Services a mis au point une solution pour vous apporter une mobilité de chaque
                        instant.
                    </div>
                    <div class="text-advantages">
                        <div>Les avantages</div>
                        <ul>
                            <li>L’assurance de rester entre de bonnes mains : notre plateforme d’experts vous accueille 24H/24 et 7J/7.</li>
                            <li>Votre mobilité est assurée en toute sérénité.</li>
                            <li>Une assurance médicale incluse.</li>
                            <li>Vous avez accès à un eScooter de remplacement ou à un véhicule de catégorie économique*</li>
                        </ul>
                    </div>
                    <div>
                        Les prestations sont fournies par <span class="text-c-orange text-decoration-underline">Europ Assistance S.A</span>
                        au capital de 48 123 637 €, entreprise régie par le <span class="text-bold">Code des Assurances</span>, immatriculée au <span class="text-bold">Registre du Commerce</span> et des Sociétés de Paris sous le numéro <span class="text-bold">451 366 405, sise 2 rue Pillet-Will, 75009 Paris.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement3-3.js"></script>
    <script>
        $(document).ready(function() {
            // Dynamic data layer
            var dealerCode = "{{ distributeur.kvps }}"
            var dealerName = "{{ distributeur.raisonSociale }}"
            var carCode    = "{{ escooterConfiguration.vehicleEngine }}";
            var carName    = getCarNameFormCarCode(carCode);

            var dataLayer = {
                'channel': 'Pre Financing',
                'digitalElement': 'SEAT MO',
                'formID': 'Pre-Financial-Request',
                'eventName': 'appStepFinal',
                'applicationType': 'form',
                'applicationName': 'Finance Request',
                'applicationStep': 'appStepFinal - File sent',
                'dealerName': dealerName,
                'dealerCode': dealerCode,
                'carName': carName,
                'carCode': carCode
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        })
    </script>
{% endblock %}
