{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}

    <section class="product financement-prerequis">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Justificatif de domicile</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-justificatif">
        <div class="seat-container">
            {% if isShowBackButton %}
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            {% endif %}
            <div class="item">
                <div class="col-12 container" id="financement-header">
                    <p>Votre justificatif de domicile</p>
                </div>
            </div>

            <div class="form-fill" id="formFinancementJustificatif">
                <div class="container">
                    <div class="form-fill__input">
                        <form id="formJustificatif" enctype="multipart/form-data">
                            <p class="mb-0 sub-title">Prérequis & Documents valables</p>
                            <input type="hidden" name="application_id" value="{{ application_id }}">
                            <div class="wrapper-prerequis row mx-0">
                                <div class="col-12 col-md-6">
                                   <span class="text-c-orange text-uppercase">Documents acceptés</span>
                                    <ul>
                                        <li>Facture d’eau, gaz, internet, téléphone fixe, électricité.</li>
                                        <li>Attestation d’assurance habitation.</li>
                                        <li>Quittance de loyer.</li>
                                        <li>Attestation sur l’honneur d’hébergement.</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 mt-4 mt-md-0">
                                    <span class="text-c-orange text-uppercase">Prérequis</span>
                                    <ul>
                                        <li>Document de moins de 3 mois au nom du client.</li>
                                        <li>Document au format .JPEG, .PNG, .PDF uniquement</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-4 block-import">
                                <p class="text-prerequis">Déposer mon justificatif de domicile</p>
                                <div class="import-file d-flex align-items-center">
                                    <input type="file" name="files[]" accept=".png, .pdf, .jpeg" class="import-file__input d-none">
                                    <div class="text-center w-100">
                                        <img class="mx-auto d-block mb-5 image-default" src="images/financement/icon-file.svg" alt="icon-file">
                                        <div class="d-flex block-preview-image">
                                            <img class="mx-auto d-block mb-5 preview d-none" src="" alt="icon-file">
                                        </div>
                                        <iframe class="mx-auto d-block preview-pdf mb-3 d-none" src="" width="164px" height="148px"></iframe>
                                        {% if files is empty %}
                                            <button class="btn btn-custom btn-import-file text-line-h-26 mb-2">Importer un fichier</button>
                                            <button class="btn btn-custom btn-next-step text-line-h-26 mb-2 d-none" onclick="trackingDataLayerInternal(this)" data-url="/financement-munissez-telephone-document.html">Étape suivante</button>
                                            <button class="btn btn-custom btn-import-other-file text-line-h-26 mb-2 d-none">Importer un  autre fichier</button>
                                        {% else %}
                                            <button class="btn btn-custom btn-import-file text-line-h-26 mb-2 d-none">Importer un fichier</button>
                                            <button class="btn btn-custom btn-next-step text-line-h-26 mb-2" onclick="trackingDataLayerInternal(this)" data-url="/financement-munissez-telephone-document.html">Étape suivante</button>
                                            <button class="btn btn-custom btn-import-other-file text-line-h-26 mb-2">Importer un  autre fichier</button>
                                        {% endif %}
                                        {% if app.request.query.get('message') %}
                                            <div class="text-danger">{{ app.request.query.get('message') }}</div>
                                        {% endif %}
                                        <div class="validation-text text-danger font-weight-bold d-none"></div>
                                    </div>
                                </div>
                                <p class="text-imported-part text-uppercase">Pièce(s) importée(s) :</p>
                                {% if files is empty %}
                                    <div class="card-file-name import-default d-block d-md-flex">
                                        <div class="dot-file-name d-flex align-items-center">
                                            <div class="dot"></div>
                                            <span class="file-name">Aucune pièce pour le moment</span>
                                        </div>
                                        <img class="img-preview d-none" src=""/>
                                        <iframe class="pdf-preview d-none" src=""></iframe>
                                        <div class="block-preview d-none">
                                            <span class="preview-img">Voir</span>
                                            <a class="delete-file text-c-orange">Supprimer</a>
                                        </div>
                                    </div>
                                {% else %}
                                    {% for file in files %}
                                        <div class="card-file-name d-block d-md-flex">
                                            <div class="dot-file-name d-flex align-items-center">
                                                <div class="dot"></div>
                                                <span class="file-name">{{ file['name'] }}</span>
                                            </div>
                                            <div class="block-preview">
                                                <span class="preview-img" onclick="window.open('{{ app.request.getSchemeAndHttpHost() ~ '/upload/media/default/0001/01/' ~ file['path'] }}')">Voir</span>
                                                <a class="delete-file text-c-orange" data-id="{{ file['id'] }}">Supprimer</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="responseMessage" class="d-none p-5 my-5">
                <p class="f-24 text-line-h-24">Merci. Votre demande de contact a bien été prise en compte.</p>
                <p class="f-24 text-line-h-24">Un distributeur SEAT vous contactera rapidement.</p>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement2-2.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/
        $(document).ready(function() {
            // Dynamic data layer
            var dealerCode = "{{ customerApplication.distributeurs.kvps }}"
            var dealerName = "{{ customerApplication.distributeurs.raisonSociale }}"
            var carCode = "{{ escooterConfiguration.vehicleEngine }}";
            var carName = getCarNameFormCarCode(carCode);

            var dataLayer = {
                'channel': 'Pre Financing',
                'digitalElement': 'SEAT MO',
                'formID': 'Pre-Financial-Request',
                'eventName': 'app-step-6',
                'applicationType': 'form',
                'applicationName': 'Finance Request',
                'applicationStep': '6-QYC-requirement',
                'dealerName': dealerName,
                'dealerCode': dealerCode,
                'carName': carName,
                'carCode': carCode,
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        });
    </script>
{% endblock %}
