{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
    <script
            src="https://cdn.ubble.ai/iframe-sdk-0.0.3.js"
            type="application/javascript"
    ></script>
{% endblock %}

{% block body %}
    <section class="product financement-successful-verification">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vérifiez votre identité</i>
                            </div>
                            <div class="progress-steps step-identification">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-successful-verification financement-qr-code">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back">
                        <p class="back__content text-line-h-16" >
                    <span>
                      <img src="images/financement/arrow-left.svg" alt="arrow__left">
                    </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <form class="form-fill mt-0">
                <input type="hidden" name="application_id" value="{{ application_id }}">
                <div class="block-identity-valid container block-qr-code">
                    <img src="images/financement/icon-mobile.png" alt="Image Mobile"/>
                    <h2 class="title">Tout se passe sur votre mobile !<br>Scannez ce QR code</h2>
                    <p class="description">Pour poursuivre la procédure, utilisez l'appareil photo<br> de votre téléphone et cliquez sur le lien affiché.</p>
                    <a class="recommencer d-block" href="#">Recommencer la procédure</a>
                    <img class="qr-code" src="{{ qrcode_img }}" alt="QR Code">
                </div>
            </form>
        </div>
    </section>

    <script>
        $(document).ready(function() {
            var dealerCode = "{{ customerApplication.distributeurs.kvps }}"
            var dealerName = "{{ customerApplication.distributeurs.raisonSociale }}"
            var carCode = "{{ escooterConfiguration.vehicleEngine }}";
            var carName = getCarNameFormCarCode(carCode);

            function checkKycStatus() {
                $.ajax({
                    url: '/get-kyc-status?application_id={{encryption_application_id}}',
                    type: 'GET',
                    success: function(response) {
                        if(response === 'ok' ) {
                            console.log('Réponse KYC : ' + response);
                            var dataLayerAfterValidation = {
                                'channel': 'Pre Financing',
                                'digitalElement': 'SEAT MO',
                                'formID': 'Pre-Financial-Request',
                                'eventName': 'app-step-8',
                                'applicationType': 'form',
                                'applicationName': 'Finance Request',
                                'applicationStep': '8-QYC-validation',
                                'dealerName': dealerName,
                                'dealerCode': dealerCode,
                                'carName': carName,
                                'carCode': carCode,
                            }

                            dynamic_dataLayer.call('setDefaultValues', dataLayerAfterValidation);
                            console.log(dataLayerAfterValidation);

                            submitPostRequest();
                        } else {
                            console.error('Réponse KYC : ko');
                        }
                    },
                    error: function() {
                        console.error('Erreur lors de la vérification du statut KYC');
                    }
                });
            }

            var dataLayerBeforeValidation = {
                'channel': 'Pre Financing',
                'digitalElement': 'SEAT MO',
                'formID': 'Pre-Financial-Request',
                'eventName': 'app-step-7',
                'applicationType': 'form',
                'applicationName': 'Finance Request',
                'applicationStep': '7-QYC-before-validation',
                'dealerName': dealerName,
                'dealerCode': dealerCode,
                'carName': carName,
                'carCode': carCode,
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayerBeforeValidation);
            console.log(dataLayerBeforeValidation);

            // Vérifier le statut KYC toutes les 5 secondes
            setInterval(checkKycStatus, 5000);

            $('.recommencer').on('click', function() {
                event.preventDefault();
                location.reload();
            });

        });
        function submitPostRequest() {
            var form = $('<form></form>');
            form.attr("method", "post");
            form.attr("action", "/etape-validee.html");

            var field = $('<input></input>');
            field.attr("type", "hidden");
            field.attr("name", "encryption_application_id");
            field.attr("value", "{{encryption_application_id}}");

            form.append(field);

            $(document.body).append(form);
            form.submit();
        }
    </script>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
{% endblock %}
