{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <section class="product financement-prerequis financement-step3 financement-accord-de-principe">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left step2 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vous avez validé cette étape </i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i class="step-title">Accord de principe</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-accord-de-principe">
        <div class="seat-container">
            <div class="item">
                <div class="flex-md-row m-0">
                    <div class="container">
                        <div class="col-12 container financement-header">
                            <p>Vos informations bancaires</p>
                            <span>Le parcours touche à sa fin. <span class="text-c-orange">Vérifiez maintenant</span> votre solvabilité pour <span class="text-c-orange">finalisez votre demande</span> et faire de votre projet une réalité.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-fill" id="formFinancementAccordDePrincipe">
                    <div class="form-fill__input">
                        <form id="formAccordDePrincipe" enctype="multipart/form-data">
                            <input type="hidden" name="application_id" value="{{ application_id }}">
                            <input type="hidden" name="is-send-lead" value="1">
                            <div class="position-relative wrapper-banking">
                                <div class="container">
                                    <div class="block-left container">
                                        <p class="text-banking mb-0">Avant de continuer</p>
                                        <ul>
                                            <li><span class="text-seat-bold text-c-orange">Munissez vous</span> de votre RIB (Relevé d’Identité Bancaire).</li>
                                        </ul>
                                        <div class="button-group">
                                            <button class="btn btn-custom btn-next-step" formaction="{{ path('financement-echeance-rib') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Démarrer la vérification</button>
                                            <button class="btn btn-custom btn-check-later" formaction="{{ path('check-online-later') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Vérifier plus tard </button>
                                        </div>
                                        <p class="legal-mention">
                                            Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données
                                            (RGPD) nous vous informons que des données à caractère personnel vous concernant, en l'occurrence vos informations bancaires,
                                            font l'objet d'un traitement informatique mis en œuvre par OXLIN et ALGOAN agissant en tant que sous-traitants pour le compte de
                                            Volkswagen Bank, responsable de traitement. Les données sont collectées afin de permettre à Volkswagen Bank de vérifier la
                                            solvabilité de votre compte. La base juridique du traitement est le consentement. Les données collectées dans le cadre de la
                                            vérification de la solvabilité de votre compte sont conservées pour une durée correspondante au temps de la vérification. Nous vous
                                            informons que vous disposez d’un droit d’accès, de rectification et de suppression sur les données vous concernant en écrivant à
                                            Volkswagen Bank – Délégué à la protection des données, à l’adresse suivante - 11, avenue de Boursonne - BP 61 - 02601
                                            Villers-Cotterêts Cedex. Vous disposez enfin du droit d’introduire une réclamation auprès de la Commission nationale de l’informatique
                                            et des libertés (CNIL).
                                        </p>
                                        <p class="text-guarantee">
                                            <span>Nous vous garantissons qu'aucun prélèvement ne sera effectué avant la signature du contrat suite à l'étude de votre dossier de financement.
                                                En cliquant sur démarrer la vérification, j’accepte </span><a href="https://www.algoan.com/legal/politique-de-confidentialite"  target="_blank" class="text-seat-bold text-c-orange" onclick="trackingDataLayerExternal(this)">la politique de confidentialité.</a></p>
                                    </div>
                                </div>
                                <div class="bg-image">
                                </div>
                                <div class="bg-image-mobile">
                                    <img class="d-none d-sm-block" src="images/financement/accord-de-principe.png" alt="Accord De Principe"/>
                                    <img class="d-block d-sm-none" src="images/financement/accord-de-principe-mobile.png" alt="Accord De Principe"/>
                                </div>
                            </div>
                            <div class="block-advantages container">
                                <div class="container">
                                    <p class="text-advantages">Notre promesse</p>
                                    <div class="wrapper-slider">
                                        <div class="carousel d-block d-md-flex justify-content-between slider-container">
                                            <div class="card-advantages slide">
                                                <img src="images/financement/icon-horloge.svg" alt="Horloge" />
                                                <div class="line-orange"></div>
                                                <p class="text-uppercase">Rapide</p>
                                                <span>Nos équipes vérifient votre dossier dans les 72 heures.</span>
                                            </div>
                                            <div class="card-advantages slide">
                                                <img src="images/financement/icon-facile.svg" alt="Facile" />
                                                <div class="line-orange"></div>
                                                <p class="text-uppercase">Facile</p>
                                                <span>Plus besoin de vous déplacer ou de numériser vos documents.</span>
                                            </div>
                                            <div class="card-advantages slide">
                                                <img src="images/financement/icon-anonymat.svg" alt="Anonymat" />
                                                <div class="line-orange"></div>
                                                <p class="text-uppercase">Confidentiel</p>
                                                <span>Vos informations bancaires ne sont pas enregistrées.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="responseMessage" class="d-none p-5 my-5">
                <p class="f-24 text-line-h-24">Merci. Votre demande de contact a bien été prise en compte.</p>
                <p class="f-24 text-line-h-24">Un distributeur SEAT vous contactera rapidement.</p>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement3-1.js"></script>
    <script>
        $(document).ready(function() {
            // Dynamic data layer
            var dataLayer = {
                'channel': 'pre-financing',
                'virtualPageName': 'SEAT – Mo Pre Financing – online request step 3.1'
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        });
    </script>
{% endblock %}
