{% extends 'base.html.twig' %}

{% block title %}Financement pre-commande{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
    <section class="product">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="financement">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back-homepage">
                        <p class="back__content text-line-h-16" >
                        <span>
                          <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <div class="precomande-leadconnect mt-0 mt-lg-4">
                <div class="row flex-md-row m-0">
                    <div class="container mw-100">
                        <div class="position-relative">
                            <div class="bg-image-mobile mt-4">
                                <img src="images/formulaire-envoye-bg.png" width="100%">
                            </div>
                            <div class="tip-and-trick container d-flex justify-content-center flex-column py-0 py-md-5">
                                <div class="header-text">
                                    <p class="mb-0">Formulaire</p>
                                    <p class="mb-0">envoyé</p>
                                </div>
                                <div class="mt-3">
                                    <div class="text-desc">Votre demande a bien été envoyée !</div>
                                    <div class="text-desc">Vous serez recontacté par un conseiller SEAT proche de chez vous.</div>
                                </div>
                            </div>
                            <div class="bg-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>


{% endblock %}
{% block javascripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement1-2.js"></script>
    <script>
        /*var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          }); */

        const phoneInputField = document.getElementById('phone');
        const phoneInput = window.intlTelInput(phoneInputField, {
            //initialCountry: "auto",
            initialCountry:"FR",
            formatOnDisplay: false,
            preferredCountries: ["fr", "us"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
{% endblock %}
