{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}

    <section class="product">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="col-12 col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vos données personnelles</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i>Validez l’étape 1 pour accéder à l’étape 2</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
            </div>
        </div>
    </section>

    <section class="financement financement-personal-data">
        <div class="seat-container">
            <div class="container">
                <div class="back-container">
                    <button class="back border-0 p-0 go-back-step-choice-dealer">
                        <p class="back__content text-line-h-16" >
                        <span>
                            <img src="images/financement/arrow-left.svg" alt="arrow__left">
                        </span>
                            retour
                        </p>
                    </button>
                </div>
            </div>
            <div class="item">
                <div class="row flex-md-row m-0">
                    <div class="container">
                        <div class="col-12 container" id="financement-header">
                            <p>Vos données personnelles</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-fill" id="formFinancement">
                <div class="container">
                    <div class="form-group-financement">
                        <div class="form-fill__header pt-0 px-0" id="civilite">
                            <p class="text-header mb-0">Pour profiter de ce mode de financement, merci de compléter le formulaire ci-dessous.</p>
                            <p class="text-desc">Ce formulaire vous permet de constituer les bases de votre dossier de financement.</p>
                            <p class="text-c-orange"><b>*Champs obligatoires</b></p>
                        </div>
                        <div class="form-fill__input">
                            <form id="informationForm" method="POST" onsubmit="trackingDataLayerInternal(this, true)">
                                <div class="slideshow-container">
                                    <div class="form-item fade" id="civilite-block" data-index="1">
                                        <div class="form-group-information row pt-3">
                                            <div class="col-12 mb-4">
                                                <div class="mb-3 text-c-grey form-civilite">
                                                    <label class="form-fill__input--label-radio text-line-h-18 civili mb-0">CIVILITÉ<span class="text-c-orange">*</span></label>
                                                    <div class="d-flex">
                                                        <div>
                                                            <input type="radio" name="civilite" id="civilite-m" value="mr" class="input-success" {% if data['civilite']=="mr" %}selected="selected" {% endif%} required oninvalid="onInvalid(event)">
                                                            <label for="civilite-m" class="form-fill__input--radio mr-5 text-line-h-14  {% if data['civilite']=="mr" %}checked{% endif%}">Monsieur</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" name="civilite" id="civilite-f" value="mme" class="input-success" {% if data['civilite']=="mme" %}selected="selected" {% endif%} oninvalid="onInvalid(event)">
                                                            <label for="civilite-f" class="form-fill__input--radio mr-5 text-line-h-14 {% if data['civilite']=="mme" %}checked{% endif%}">Madame</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% if data['civilite']=="mr" %}

                                                <script>
                                                    $(document).ready(function () {
                                                        $("input[name=civilite][value=mr]").prop('checked', true);
                                                    });

                                                </script>
                                            {% endif%}
                                            {% if data['civilite']=="mme" %}
                                                <script>
                                                    $(document).ready(function () {
                                                        $("input[name=civilite][value=mme]").prop('checked', true);
                                                    });

                                                </script>
                                            {% endif%}
                                            <div class="col-12 col-md-6">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="nom" name="nom" value="{{ data['nom'] }}" required onchange="trackingAppStep1(this)" oninvalid="onInvalid(event)">
                                                    <label for="nom">Nom<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mt-md-0 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="prenom" name="prenom" value="{{ data['prenom'] }}" required onchange="trackingAppStep1(this)" oninvalid="onInvalid(event)">
                                                    <label for="prenom">Prénom<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="maiden-name" name="maiden-name"  value="{{ data['maiden-name'] }}" onchange="trackingAppStep1(this)">
                                                    <label for="maiden-name">Nom de jeune fille</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative date-picker-ios">
                                                    <input class="d-flex" type="date" id="date-of-birth" name="date-of-birth" value="{{ data['date-of-birth'] }}" required onchange="trackingAppStep1(this)" oninvalid="onInvalid(event)">
                                                    <label for="date-of-birth">Date de naissance<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="city-of-birth" name="city-of-birth" value="{{ data['city-of-birth'] }}" required onchange="trackingAppStep1(this)" oninvalid="onInvalid(event)">
                                                    <label for="city-of-birth">Ville de naissance<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="code-postal-naissance" name="code-postal-naissance" value="{{ data['code-postal-naissance'] }}" required onchange="trackingAppStep1(this)" oninvalid="onInvalid(event)">
                                                    <label for="code-postal-naissance">Code postal de naissance<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-item fade" id="mieux-vous-connaitre" data-index="2">
                                        <div class="form-group-to-know row pt-3">
                                            <p class="text-header text-uppercase">Pour mieux vous connaître</p>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="address" name="address" value="{{ data['address'] }}" required onchange="trackingAppStep2(this)" oninvalid="onInvalid(event)">
                                                    <label for="address">Adresse<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="additional-address" name="additional-address" value="{{ data['additional-address'] }}" onchange="trackingAppStep2(this)">
                                                    <label for="additional-address">Complément d’adresse</label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="code-postal" name="code-postal" value="{{ data['code-postal'] }}" required onchange="trackingAppStep2(this)" oninvalid="onInvalid(event)">
                                                    <label for="code-postal">Code Postal<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="city" name="city" value="{{ data['city'] }}" required onchange="trackingAppStep2(this)" oninvalid="onInvalid(event)">
                                                    <label for="city">Ville<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    {% include 'default/parts/country-choices.html.twig' %}
                                                    <label for="country">Pays<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    {% include 'default/parts/nationality-choices.html.twig' %}
                                                    <label for="nationality">Nationalité<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <select id="principal-residence" name="principal-residence" data-principal-residence="{{ data['principal-residence'] }}" onchange="trackingAppStep2(this)">
                                                        <option value="Locataire" {% if data['principal-residence']=="Locataire" %} selected="selected"{% endif %}>Locataire</option>
                                                        <option value="Propriétaire" {% if data['principal-residence']=="Propriétaire" %} selected="selected"{% endif %}>Propriétaire</option>
                                                        <option value="Accédant à la propriété" {% if data['principal-residence']=="Accédant à la propriété" %} selected="selected"{% endif %}>Accédant à la propriété</option>
                                                        <option value="Hébergé" {% if data['principal-residence']=="Hébergé" %} selected="selected"{% endif %}>Hébergé</option>
                                                    </select>
                                                    <label for="principal-residence">Résidence Principale<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-item fade" id="situation-familliale" data-index="3">
                                        <div class="form-group-situation-familiale row pt-3 pb-0">
                                            <p class="text-header text-uppercase">Situation familiale</p>
                                            <div class="col-12 col-md-6 mt-3 mt-md-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <select id="family-status" name="family-status" data-family-status="{{ data['family-status'] }}" onchange="trackingAppStep3(this)">
                                                        <option value="Marié(e)">Marié(e)</option>
                                                        <option value="Pacsé(e)">Pacsé(e)</option>
                                                        <option value="Divorcé(e)">Divorcé(e)</option>
                                                        <option value="Séparé(e)">Séparé(e)</option>
                                                        <option value="Célibataire">Célibataire</option>
                                                        <option value="Veuf-euve">Veuf-euve</option>
                                                    </select>
                                                    <label for="family-status">Situation de famille<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4 mb-3">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="number-of-dependent-children" name="number-of-dependent-children" value="{{ data['number-of-dependent-children'] }}" min="0" required onchange="trackingAppStep3(this)" oninvalid="onInvalid(event)" oninput="validateNumberInput(this)">
                                                    <label for="number-of-dependent-children">Nombre d’enfant.s à charge<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group-professional-situation row pt-3 pb-0" id="situation-professionnelle">
                                            <p class="text-header text-uppercase">Situation Professionnelle</p>
                                            <div class="col-12 col-md-6 mt-3 mt-md-4">
                                                <div class="form-group position-relative">
                                                    <select id="occupation" name="occupation" data-occupation="{{ data['occupation'] }}" onchange="trackingAppStep4(this)">
                                                        <option value="Cadres administratifs et commerciaux">Cadres administratifs et commerciaux</option>
                                                        <option value="Cadres fonction publique">Cadres fonction publique</option>
                                                        <option value="Chauffeurs">Chauffeurs</option>
                                                        <option value="Contremaîtres agents maîtrise">Contremaîtres agents maîtrise</option>
                                                        <option value="Dirigeant de société">Dirigeant de société</option>
                                                        <option value="Ouvrier">Ouvrier</option>
                                                        <option value="Employés administratifs entrep">Employés administratifs entreprise</option>
                                                        <option value="Employés de commerce">Employés de commerce</option>
                                                        <option value="Ingénieurs et cadres techniques">Ingénieurs et cadres techniques</option>
                                                        <option value="Instituteurs et assimilés">Instituteurs et assimilés</option>
                                                        <option value="Ouvrier agricole">Ouvrier agricole</option>
                                                        <option value="Ouvriers non qualifiés">Ouvriers non qualifiés</option>
                                                        <option value="Ouvvriers qualifiés">Ouvvriers qualifiés</option>
                                                        <option value="Pers sans activité prof < 60 ans">Pers sans activité prof < 60 ans</option>
                                                        <option value="Pers sans activité prof > 60 ans">Pers sans activité prof > 60 ans</option>
                                                        <option value="Pers Serv direct aux particuliers">Pers Serv direcst aux particuliers</option>
                                                        <option value="Policiers et militaires">Policiers et militaires</option>
                                                        <option value="Prof de l'information, arts et spectacle">Prof de l'information, arts et spectacle</option>
                                                        <option value="Prof Iintermédiaires de la santé">Prof Iintermédiaires de la santé</option>
                                                        <option value="Prof intermédiaire admin commerciale entreprise">Prof intermédiaire admin commerciale entreprise</option>
                                                        <option value="Prof intermédiaire admin fonction publique">Prof intermédiaire admin fonction publique</option>
                                                        <option value="Professeurs, Professions scientifiques">Professeurs, Professions scientifiques</option>
                                                        <option value="Techniciens">Techniciens</option>
                                                        <option value="Chomeurs">Chomeurs</option>
                                                        <option value="Clergé religieux">Clergé religieux</option>
                                                    </select>
                                                    <label for="occupation">Profession<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <select id="type-of-contract" name="type-of-contract" data-type-of-contract="{{ data['type-of-contract'] }}" onchange="trackingAppStep4(this)">
                                                        <option value="Contrat de travail à durée indéterminée (CDI)" {% if data['type-of-contract']=="Contrat de travail à durée indéterminée (CDI)" %} selected="selected"{% endif %}>Contrat de travail à durée indéterminée (CDI)</option>
                                                        <option value="Contrat à durée déterminée (CDD)" {% if data['type-of-contract']=="Contrat à durée déterminée (CDD)" %} selected="selected"{% endif %}>Contrat à durée déterminée (CDD)</option>
                                                        <option value="Contrat de chantier ou d’opération" {% if data['type-of-contract']=="Contrat de chantier ou d’opération" %} selected="selected"{% endif %}>Contrat de chantier ou d’opération</option>
                                                        <option value="Contrat de travail temporaire" {% if data['type-of-contract']=="Contrat de travail temporaire" %} selected="selected"{% endif %}>Contrat de travail temporaire</option>
                                                        <option value="Contrat de travail à temps partiel" {% if data['type-of-contract']=="Contrat de travail à temps partiel" %} selected="selected"{% endif %}>Contrat de travail à temps partiel</option>
                                                        <option value="Contrat de travail intermittent" {% if data['type-of-contract']=="Contrat de travail intermittent" %} selected="selected"{% endif %}>Contrat de travail intermittent</option>
                                                        <option value="Contrat saisonnier" {% if data['type-of-contract']=="Contrat saisonnier" %} selected="selected" {% endif %}>Contrat saisonnier</option>
                                                        <option value="Autre" {% if data['type-of-contract']=="Autre" %} selected="selected"{% endif %}>Autre</option>
                                                    </select>
                                                    <label for="type-of-contract">Type de contrat<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative date-picker-ios">
                                                    <input class="d-flex" type="date" id="hiring-date" name="hiring-date" value="{{ data['hiring-date'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)">
                                                    <label for="hiring-date">Date d’embauche<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="employeur" name="employeur" value="{{ data['employeur'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)">
                                                    <label for="employeur">Employeur<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="revenu-net-mensuel" name="revenu-net-mensuel" min="0" value="{{ data['revenu-net-mensuel'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)" oninput="validateNumberInput(this)">
                                                    <label for="revenu-net-mensuel">Revenu net mensuel<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="autres-revenus" name="autres-revenus" min="0" value="{{ data['autres-revenus'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)" oninput="validateNumberInput(this)">
                                                    <label for="autres-revenus">Autres revenus<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="charges-immobilieres" name="charges-immobilieres" min="0" value="{{ data['charges-immobilieres'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)" oninput="validateNumberInput(this)">
                                                    <label for="charges-immobilieres">Charges immobilières<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input type="number" id="autres-remboursements-mensuels" name="autres-remboursements-mensuels" min="0" value="{{ data['autres-remboursements-mensuels'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)" oninput="validateNumberInput(this)">
                                                    <label for="autres-remboursements-mensuels">Autres remboursements mensuels<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group-contact row pt-3" id="contact">
                                            <p class="text-header text-uppercase">Contact</p>
                                            <div class="col-12 col-md-6 mt-3 mt-md-4">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="email" name="email" _pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"  value="{{ data['email'] }}" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)">
                                                    <label for="email">Email<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <script>
                                                // Optionnel : Supprimer la classe d'erreur lors de la modification du champ
                                                document.getElementById('email').addEventListener('input', function() {
                                                    this.classList.remove('error');
                                                });
                                            </script>
                                            <style>
                                                .error {
                                                    color: red !important;
                                                    border-color: red !important;
                                                }

                                                .contact input[type="tel"] {
                                                    padding-left: 0 !important;
                                                }
                                                /*.contact .form-fill__input input[type="tel"].filled ~ label {
                                                    top: 0.8rem;
                                                }*/
                                            </style>
                                            <div class="col-12 col-md-6 mt-3 mt-md-4">
                                                <div class="form-group position-relative">
                                                    <input type="text" id="email_confirmation" name="email_confirmation" _pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)">
                                                    <label for="email">Confirmation email<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 mt-4">
                                                <div class="form-group position-relative">
                                                    <input id="phone" name="phone" type="tel" pattern="(?:\d{2}\s?)+" value="{{ data['phone'] }}" placeholder="+33 000000000" class="" required maxlength="18" onchange="trackingAppStep4(this)" oninvalid="onInvalid(event)">
                                                    <label class="label-phone" for="phone">Numéro de téléphone<span class="text-c-orange">*</span></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- Next and previous buttons -->
                                    <div class="pagination-slide d-md-none">
                                        <a class="prev d-md-none disabled" onclick="minusSlides()">
                                            <img style="transform: rotate(180deg)" src="images/configurator/icon-arrow-pagination.svg" alt="arrow-pagination">
                                            <span>Précédent</span>
                                        </a>
                                        <div class="pagination-step"><span>1/3</span></div>
                                        <a class="next d-md-none" onclick="plusSlides()">
                                            <span>Suivant</span>
                                            <img src="images/configurator/icon-arrow-pagination.svg" alt="arrow-pagination">
                                        </a>
                                    </div>
                                </div>
                                <div class="read-more-content pt-2">

                                <p class="text-veuillez">Pour passer à l'étape suivante, veuillez compléter les informations ci-dessus.</p>
                                <div class="card-btn mt-4 pt-0">
                                    <button class="btn btn-custom btn-envoyez text-line-h-26" rel="financement-validation.html" id="gotoStep1-4">Envoyez vos informations</button>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-12" style="font-family: SeatRegular, sans-serif;font-weight: 400;font-size: 10px;color: rgba(15, 15, 15, 0.6);line-height: 14px;opacity: unset;">
                                        <br>Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée et au Règlement Général sur la Protection des Données (RGPD) nous vous informons que des données à caractère personnel vous concernant, font l'objet d'un traitement informatique mis en œuvre par Volkswagen Financial Services responsable de traitement. Les données sont collectées afin de permettre l'analyse de votre dossier de financement.
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                .prev.disabled, .next.disabled  {
                    opacity: 0;
                }

            </style>
            <div id="responseMessage" class="d-none p-5 my-5">
                <p class="f-24 text-line-h-24">Merci. Votre demande de contact a bien été prise en compte.</p>
                <p class="f-24 text-line-h-24">Un distributeur SEAT vous contactera rapidement.</p>
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script src="js/financement1-3.js"></script>
    <script>
        /* var inputPhone = document.querySelector("#phone");
          window.intlTelInput(inputPhone, {
            initialCountry:"FR",
          });*/

        const phoneInputField = document.getElementById('phone');
        const phoneInput = window.intlTelInput(phoneInputField, {
            // initialCountry: "auto",
            initialCountry:"FR",
            formatOnDisplay: false,
            preferredCountries: ["fr", "us"],
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        // Screen mobile: Slide Form step 1.3

        const prev = jQuery('.prev');
        const next = jQuery('.next');
        const btn  = jQuery('.btn-envoyez');

        let slideIndex = 1;
        // Next/previous controls
        function plusSlides() {
            slideIndex = slideIndex + 1;
            showSlides(slideIndex);
        }

        function minusSlides() {
            slideIndex = slideIndex - 1;
            showSlides(slideIndex);
        }

        function showSlides(n, isValid = false) {
            slideIndex = n;
            let i;
            let slides = document.getElementsByClassName("form-item");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (!isValid) {
                $('body, html').animate({ scrollTop: 0 }, 100);
            }

            switch (n) {
                case 1:
                    prev.addClass('disabled').addClass('pe-none');
                    next.removeClass('disabled').removeClass('pe-none');
                    $('.step-container .active .step-title').text('Faisons connaissance 1/3')
                    btn.addClass('d-none')
                    $('.pagination-slide .pagination-step span').text('1/3');
                    break;

                case 2:
                    prev.removeClass('disabled').removeClass('pe-none');
                    next.removeClass('disabled').removeClass('pe-none');
                    $('.step-container .active .step-title').text('Faisons connaissance 2/3')
                    btn.addClass('d-none')
                    $('.pagination-slide .pagination-step span').text('2/3');
                    break;

                case 3:
                    prev.removeClass('disabled').removeClass('pe-none');
                    next.addClass('disabled').addClass('pe-none');
                    btn.removeClass('disabled');
                    $('.step-container .active .step-title').text('Faisons connaissance 3/3')
                    btn.removeClass('d-none')
                    $('.pagination-slide .pagination-step span').text('3/3');
                    break;

                default:
                    break;
            }

            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[slideIndex-1].style.display = "block";
        }

        if (window.matchMedia('(max-width: 767px)').matches) {
            showSlides(slideIndex);
        }
        // End



        // Set date input field's max date to today
        $(function(){
            $('[type="date"]').prop('max', function(){
                return new Date().toJSON().split('T')[0];
            });
        });


        // Retour step pre command
        $('.go-back-step-choice-dealer').on('click', function() {
            window.location.href = sessionStorage.getItem('url-step-pre-command');
            sessionStorage.removeItem('url-step-pre-command');
        })

        $(document).ready(function() {
            var postalCode = $('#code-postal');
            var city       = $('#city');

            if (postalCode.val()) {
                getVilleByPostalCode(postalCode.val());
            }

            postalCode.on('change', function() {
               if ($(this).val().length === 5) {
                   getVilleByPostalCode($(this).val());
               }
            });

            function getVilleByPostalCode(postalCodeValue) {
                city.val('');
                postalCode.parent().find('.error-message').remove();
                $.ajax({
                    url: "/api/get-ville-by-postal-code/" + postalCodeValue,
                    async: false,
                    success: function (data) {
                        if (data.success) {
                           city.val(data.ville);
                        } else {
                           postalCode.parent().append('<div class="error-message" style="color:#ff0000;">' + data.message + '</div>');
                        }
                    }
                });
            }

            // Dynamic data layer
            var dataLayer = {
                'channel': 'pre-financing',
                'virtualPageName': 'SEAT – Mo Pre Financing – online request step 1.1'
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        });
    </script>
{% endblock %}
