<section class="footer">
    {% if app.request.get('_route') in ['summary-of-your-file', 'contact-leadconnect', 'contact.html'] %}
        <div class="know-more text-center py-4">
            <div class="form-fill__header">
                <p>Vous voulez en savoir plus sur le <span class="model-name">xxx</span>?</p>
            </div>
            <a href="https://www.seat.fr/faq#seat-mo" target="_blank" class="btn btn-custom btn-faq text-line-h-26 text-decoration-none" onclick="trackingDataLayerExternal(this)">FAQSs</a>
        </div>
    {% endif %}
    <section class="bg-section"></section>
    {% if escooterConfiguration is defined %}
        <input type="hidden" name="escooter-configuration" data-vehicle-engine="{{ escooterConfiguration.vehicleEngine }}" data-vehicle-model="{{ escooterConfiguration.vehicleModel }}"
               data-vehicle-durre="{{ escooterConfiguration.loaDuree }}">
    {% endif %}
    <div class="read-more-content">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-6 my-3">
                    <p><span class="model-name">xxx</span> eScooter à partir de <span class="text-seat-bold "><span class="var_prix_a_partir_de">xxx</span> € / mois</span> (1)</p>
                    <p>Location avec Option d’Achat sur <span class="text-seat-bold"><span class="var_loa_duree">xx</span> mois</span> et <span class="text-seat-bold"><span class="var_kilometer">xxx</span> Km</span></p>
                    <p>1er loyer majoré de <span class="var_loyer_majore">xxx</span>€ ramené à 0€ après déduction du bonus écologique de <span class="var_loyer_majore">xxx</span>€<span class="text-c-orange">*</span>, suivi de <span class="var_loa_loyers">xxx</span> loyers de <span class="var_prix_a_partir_de">xxx</span> €. Déduction faite de l'offre de remise de 1.200€.</p>
                    <p><span class="text-seat-bold">Montant total dû : <span class="var_montant_total_du">xxx</span>€<span class="text-c-orange">*</span></span></p>
                    <p>Offre valable du <span class="var_date_offre"></span></p>
                    <p><span class="text-seat-bold">Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</span></p>
                    <p>-</p>
                    <p class="var_mention_legale_left"></p>
                </div>
                <div class="col-md-6 my-3">
                    <p class="var_mention_legale_right"></p>
                    <br>
                    <p>Conditions sur <a href="https://www.service-public.fr/" onclick="trackingDataLayerExternal(this)">servicepublic.fr</a></p>
                </div>
            </div>
        </div>
        <section class="bg-section-button d-flex justify-content-center align-items-center">
            <div class="seeMore-button">
                <img class="accordion btn-open-accordion" src="images/Icons/icon-open.svg">
                <img class="accordion btn-close-accordion d-none" src="images/Icons/icon-close.svg">
            </div>
        </section>
    </div>
</section>
<script>
    $('.accordion').click(function () {
        var width = window.innerWidth
        if ($(this).hasClass('btn-close-accordion') && !$(this).hasClass('d-none')) {
            $('.footer-content').animate({'height': '150px'}, 350);
            $('.btn-close-accordion').addClass('d-none')
            $('.btn-open-accordion').removeClass('d-none')
        } else {
            if (width > 992) {
                $('.footer-content').animate({'height': '350px'}, 350);
            } else if (width <= 992 && width > 768) {
                $('.footer-content').animate({'height': '400px'}, 350);
            } else {
                $('.footer-content').animate({'height': '750px'}, 350);
            }
            $('.btn-open-accordion').addClass('d-none')
            $('.btn-close-accordion').removeClass('d-none')
        }
    })

    $(document).ready(function() {
        $('.var_date_offre').find('span.text-black').removeClass('text-black');

        var inputConfiguration = $('input[name=escooter-configuration]');
        if (inputConfiguration.length > 0) {
            loadDataFooterInAllPage(inputConfiguration.data('vehicle-model'), inputConfiguration.data('vehicle-durre'), inputConfiguration.data('vehicle-engine'));
            $('.var_date_offre').find('span.text-black').removeClass('text-black');
        }
    })
</script>