{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />
    <style>
        .block-faq, #btn-chat, section.block-discuss , #block-license, .block-video {
            display: none !important;

        }
    </style>
{% endblock %}

{% block body %}

    <!-- CONTAINER BEGIN-->
    <header class="d-flex">
        <div class="overlay"></div>
        <video class="d-none d-lg-flex" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/images/video/LANDING_PAGE_E-Scooter_VDEO_N1_1920x1080.mp4" type="video/mp4">
            <source src="/images/video/LANDING_PAGE_E-Scooter_VDEO_N1_1920x1080.webm" type="video/webm">
        </video>

        <video class="d-flex d-lg-none" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/images/video/LANDING_PAGE_E-Scooter_VDEO_N1_1024x768.mp4" type="video/mp4">
            <source src="/images/video/LANDING_PAGE_E-Scooter_VDEO_N1_1024x768.webm" type="video/webm">
        </video>
        <div class="container d-flex flex-column text-white justify-content-xl-center " data-aos="fade-in">
            <div class="name pt-2">
                SEAT MÓ 125
            </div>
            <div class="main py-4">
                Il n’y a pas <br/> que la voiture <br/> dans la ville.
            </div>
            <div class="description">
                Le SEAT MÓ 125 est le nouveau moyen de <br> transport électrique pour se déplacer facilement<br> en ville. Une solution de mobilité écologique pour<br> un avenir audacieux.
            </div>
            <div class="py-4 row col-md-12 col-xl-12 col-9">
                <button type="button" class="col-md-12 col-sm-12 btn button-custom button-trial text-white mx-2 my-2 gotoPage" rel="configurator.html" onclick="trackingDataLayerInternal(this)">Pré-commandez en ligne</button>
                <button type="button" class="_d-none col-md-12 col-sm-12 btn button-custom button-offers text-white mx-2 my-2 gotoPage" rel="contact.html" onclick="trackingDataLayerInternal(this); trackingCTAGoToLeadForm(this)">Contactez un conseiller</button>
            </div>
        </div>
    </header>
    <!-- CONTAINER END -->

    <!-- CAROUSEL SECTION BEGIN -->
    <section class="block-carousel">
        <div class="title d-flex justify-content-center flex-column">
            <p>100% Électrique</p>
            <h2 class="m-auto">
                SEAT MÓ 125
            </h2>
        </div>
        <div class="outer">
            <div id="big" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="images/escooter-125-oxigen-white.jpg" alt="Esooter 125 oxigen white" data-value="S0AAA1" class="produit">
                    <img src="images/Icons/show-more.svg" class="icon engine icon-engine-modal " data-bs-toggle="modal" data-bs-target="#engineModal4" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon trunk icon-engine-modal " data-bs-toggle="modal" data-bs-target="#engineModal2" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon front-light icon-engine-modal " data-bs-toggle="modal" data-bs-target="#engineModal" alt="Show more">
                </div>
                <div class="item">
                    <img src="images/escooter-125-daring-red.jpg"  alt="Esooter 125 oxigen red" data-value="S0AAA3" class="produit">
                    <img src="images/Icons/show-more.svg" class="icon engine icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal4" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon trunk icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal2" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon front-light icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal" alt="Show more">
                </div>
                <div class="item">
                    <img src="images/escooter-125-dark-aluminum.jpg"  alt="Esooter 125 dark aluminum" data-value="S0AAA5" class="produit">
                    <img src="images/Icons/show-more.svg" class="icon engine icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal4" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon trunk icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal2" alt="Show more" >
                    <img src="images/Icons/show-more.svg" class="icon front-light icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal" alt="Show more">
                </div>
                <div class="item">
                    <img src="images/escooter-125-blue-tarifa.jpeg"  alt="Esooter 125 dark aluminum" data-value="S0AAA9" class="produit">
                    <img src="images/Icons/show-more.svg" class="icon engine icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal4" alt="Show more">
                    <img src="images/Icons/show-more.svg" class="icon trunk icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal2" alt="Show more" >
                    <img src="images/Icons/show-more.svg" class="icon front-light icon-engine-modal d-none" data-bs-toggle="modal" data-bs-target="#engineModal" alt="Show more">
                </div>
            </div>
            <div id="thumbs" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="images/oxigen-white.png" alt="Blanc Menorca">
                    <p class="color-name d-none">Blanc Menorca</p>
                </div>
                <div class="item">
                    <img src="images/daring-red.png" alt="Rouge Pamplona">
                    <p class="color-name d-none">Rouge Pamplona</p>
                </div>
                <div class="item">
                    <img src="images/dark-aluminum-black.png" alt="Gris Barcelona">
                    <p class="color-name d-none">Gris Barcelona</p>
                </div>
                <div class="item">
                    <img src="images/tarifa-blue.png" alt="Bleu Tarifa">
                    <p class="color-name d-none">Bleu Tarifa</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-4">
            <p id="itemName"></p>
        </div>
        <div class="modal fade" id="engineModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="images/mode_de_conduite.jpg" alt="mode">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="title">Modes de conduite</p>
                        <p class="text-gray description">Déplacez-vous en ville comme à l’extérieur. Avec 3 modes de conduite et une marche arrière pour vous donner plus d’options en fonction de votre quotidien.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="engineModal2" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <img src="images/demo-trunk.png" alt="trunk">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="title">Espace de rangement pour le casque.</p>
                        <p class="text-gray description">Peut accueillir jusqu'à 2 casques sous le siège.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="engineModal4" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header">
                        <img  src="images/batterie_amovible.jpg" alt="batterie">
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p class="title">Batterie amovible et performante</p>
                        <p class="text-gray description">Batterie amobible qui facilite la recharge. Autonomie de 133 km pour les trajets quotidiens ou les longues escapades du week-end. Recharge sur n’importe quelle alimentation électrique classique.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CAROUSEL SECTION END -->

    <!--STICKY CHAT START-->
    <div class="btn-chat sticky" id="btn-chat">
        <button class="me-4 mb-4" type="button"><img src="images/STICKY-CHAT.png" alt="Chat button"></button>
    </div>
    <!--STICKY CHAT END-->

    <!-- List button start -->
    <div class="block-btn-offers py-3 py-md-0 position-sticky section-sticky-header">
        <div class="container">
            <div class="row justify-content-center">
                <div class="content col-md-6 d-none d-md-block ">
                    <div class="d-flex mt-4">
                        <div class="d-flex align-items-center">
                            <img class="bitmap-small" src="images/scooter-red.png" alt="bitmap small">
                        </div>
                        <div class="description pt-2 ps-2">
                            <div class="title">SEAT MÓ 125</div>
                            <div class="sub-title">Prix à partir de <span class="var_prix_a_partir_de">98</span>€/mois*
                                <img width="12px" height="12px" onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-toggle="modal" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/Icons/icon-information.svg" type="button" alt="icon-legal-mention">
                            </div>
                            <div class="my-2 title opacity-5">
                                <span>Un crédit vous engage et doit être remboursé.</span><br>
                                <span>Vérifiez vos capacités de remboursement avant de vous engager.</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="wrapper-btn col-md-6 col-10 align-items-center justify-content-center justify-content-md-end">
                    <button type="button" class="px-4 btn btn-to-try text-white gotoPage" rel="configurator.html" onclick="trackingDataLayerInternal(this)">Pré-commandez en ligne</button>
                    <button type="button" class="_d-none px-4 btn btn-offers gotoPage" style="font-family: SeatBold;" rel="contact.html" onclick="trackingDataLayerInternal(this); trackingCTAGoToLeadForm(this)">Contactez un conseiller</button>
                </div>
            </div>
        </div>
    </div>
    <!-- list button end -->

    <!-- Modal -->
    <div class="modal fade" id="legalMentionModal" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="legal-header">
                    <h5 class="header--small">Location avec option d'achat</h5>
                    <p class="sub-title pt-3">Un crédit vous engage et doit être remboursé.</p>
                    <p class="sub-title">Vérifiez vos capacités de remboursement avant de vous engager.</p>
                    <div class="legal-btn-close">
                        <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close"/>
                        {#                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
                    </div>
                </div>
                <div class="legal-body">
                    <div class="row">
                        <div class="col-md-10 col-8">
                            <p>Prix Catalogue</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p>6775€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p>Bonus Écologique</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p>900€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBold">1er loyer au titre de la location</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBold">900€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBold"><span class="var_loyer_au_titre_de_location">xxxx</span> loyer au titre de location</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBold"><span class="var_prix_a_partir_de">98</span>€</p>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-md-10 col-8">
                            <p>Durée</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span class="var_loa_duree">xxxx</span>mois</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p>Kilométrage annuel</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p>5000km</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p>Option d’achat</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p><span class="var_option_achat">xxxx</span>€</p>
                        </div>
                        <div class="col-12"><hr></div>
                        <div class="col-md-10 col-8">
                            <p class="textSeatBlack">Soit un montant total dû</p>
                        </div>
                        <div class="col-md-2 col-4 text-right">
                            <p class="textSeatBlack"><span class="var_montant_total_du">xxxx</span>€</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="description">
                            <div class="text-desc var_mention_legale">
                                <p>
                                    SEAT MÓ eScooter 125 avec peinture Rouge Audacieux à 98 € / mois (1)
                                    Véhicule de remplacement inclus (2)
                                    LOA sur 37 mois et 15.000 Km.
                                    1er loyer majoré de 900€ ramené à 0€ après déduction du bonus écologique de 900€*, suivi de 36 loyers de 98€.
                                    Montant total dû : 7807,89€.
                                    Offre valable du 01/04/2022 au 30/06/2022
                                    Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.

                                </p>
                                <p>(1) Location avec Option d’Achat pour une SEAT MÓ eScooter 125 vendu au prix de 6775€. Option d’achat finale : 3439,93 € ou reprise du scooter sous conditions du distributeur. Montants exprimés TTC. Offre réservée aux particuliers chez tous les distributeurs SEAT MÓ (France métropolitaine) présentant ce financement et valable jusqu’au 31/05/2022 pour toute commande d’une SEAT MÓ eScooter 125 passée avant le 31/05/2022 et livrée avant le 31/10/2022.<br>
                                    * Offre valable sous réserve de bénéficier du Bonus écologique (conditions sur servicepublic.fr)
                                    Offre sous réserve d’acceptation du dossier par VOLKSWAGEN BANK GMBH - SARL de droit allemand - Capital social : € 318 279 200 - Siège social : Braunschweig (Allemagne) - RC/HRB Braunschweig : 1819 - Intermédiaire d’assurance européen : D-HNQM-UQ9MO-22 (www.orias.fr) - Succursale France : Bâtiment Ellipse, 15 avenue de la Demi-Lune - 95700 Roissy-en-France - RCS Pontoise : 451 618 904 - Administration et adresse postale : 11, avenue de Boursonne - B.P. 61 - 02601 Villers-Cotterêts Cedex. Délai de rétractation de 14 jours.
                                </p>

                                <p>Assurance facultative Décès Incapacité Perte d’Emploi : 9,82€ / mois en sus de la mensualité. Contrat souscrit auprès de Cardif Assurance Vie SA au capital de 688 507 760€, N°732 028 154 RCS Paris et Cardif Assurances Risques Divers SA au capital de 14 784 000€, N°308 896 547 RCS Paris, Siège social : 1 Boulevard Haussmann - 75009 Paris. Le coût de l’assurance peut varier en fonction de l’âge de l'assuré.</p>

                                <p>SEAT MÓ eScooter 125: Autonomie électrique WLTP: 133 km. Consommation mixte WLTP (min-max kWh/100km) : 0,07kWh/100km. Émissions de CO2 WLTP (min – max g/km) : 0 (en phase de roulage)

                                <p>Depuis le 1er septembre 2018, les véhicules légers neufs sont réceptionnés en Europe sur la base de la procédure d’essai harmonisée pour les véhicules légers (WLTP), procédure d’essai permettant de mesurer la consommation de carburant et les émissions de CO2, plus réaliste que la procédure NEDC précédemment utilisée.

                            </div>
                            <div class="button-control text-center">
                                <button class="btn-show">Lire les mentions légales</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="block-description text-center mb-3">
        <div class="container py-5 px-4 px-xl-5 col-lg-6">
            <div class="text-center header" data-scroll-animation="fade-zoom-in" data-scroll-name="block-description"
                 data-aos="zoom-in"
                 data-aos-duration="1000"
            >
                <span class="cl-red">Le SEAT MÓ 125</span> est le nouveau moyen de transport électrique pour <br class="d-none d-lg-block d-xxl-none"/> se déplacer facilement en ville.<br class="d-none d-lg-block"/> Une solution de <span class="cl-red">mobilité écologique</span> pour un avenir audacieux.
            </div>
            <div class="py-4">
                <div class="month-price d-flex align-items-center justify-content-center">À partir de <span class="var_prix_a_partir_de">xxxx</span>€/mois
                    <span class="text-dark">
                        <img width="12px" height="12px" data-bs-toggle="modal" onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/Icons/icon-information.svg" type="button" alt="icon-legal-mention">
                    </span>
                </div>
                <div class="price pt-1">
                    LOA sur <span><span class="var_loa_duree">xxxx</span> mois</span> et 15 000km
                </div>
            </div>
            <div>
                <div class="maintenance">1er loyer majoré de <span><span class="var_loyer_majore">xxxx</span>€</span> ramené à 0€ après déduction du
                    bonus écologique de <span class="var_loyer_majore">xxxx</span>€*, suivi de <span class="var_loa_loyers">xxxx</span> loyers de <span><span class="var_prix_a_partir_de">xxxx</span>€</span>.
                </div>
                <div class="text-center montant-total d-flex justify-content-center align-items-center">
                    Montant total dû <span class="var_montant_total_du">xxxx</span> €
                    <span>
                        <img width="12px" height="12px" data-bs-toggle="modal" onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-target="#legalMentionModal" data-toggle="tooltip" title="Tooltip on top" src="images/Icons/icon-information.svg" type="button" alt="icon-legal-mention">
                    </span>
                </div>
                <hr>
                <div class="text-offre-valable">
                    <p>Offre valable du <span class="var_date_offre">xxxx</span></p>
                </div>
                <div class="my-3 support-price d-flex align-items-center justify-content-center">
                    <div class="text-light col-9 col-md-auto bg-dark px-3 content py-1">
                        Votre apport remboursé de <span class="var_loyer_majore">xxxx</span> € avec l’aide gouvernementale.
                        <i type="button" class="fa fa-info-circle" onclick="trackingDataLayerPopup(this)" data-type="info" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#offersModal" data-toggle="tooltip" title="Tooltip on top"></i>
                    </div>

                    <!-- Modal -->

                    <div class="modal fade" id="offersModal" aria-hidden="true" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content px-2 py-2 px-lg-5 py-lg-5">
                                <div class="modal-header border-bottom-0">
                                    <div class="w-100">
                                        <div class="flex-row-reverse d-flex">
                                            {#                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
                                            <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        </div>
                                        <div class="d-flex">
                                            <h5 class="modal-title">Votre aide gouvernementale.</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-body text-start">
                                    <div>
                                        Le bonus écologique est une aide financière pour acheter ou louer un 2 roues, 3 roues ou un quadricycle à moteur électrique (scooter, moto...).
                                    </div>
                                    <div class="pt-3">
                                        Plusieurs conditions doivent être remplies : le véhicule doit être neuf, ne pas être vendu avant 1 ans...
                                    </div>
                                </div>
                                <div class="modal-footer border-top-0 justify-content-start pb-4 pd-lg-5">
                                    <a href="https://www.service-public.fr/particuliers/vosdroits/F35476" target="_blank" class="text-decoration-none text-reset d-flex offers justify-content-center align-items-center">
                                        <div class="modal-btn">En savoir plus</div>
                                        <i class="fas fa-arrow-right mx-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div type="button" class="d-flex offers justify-content-center align-items-center gotoPage" onclick="trackingDataLayerInternal(this, event)" rel="configurator.html">
                    <div>Voir les offres</div>
                    <i class="fas fa-arrow-right mx-3"></i>
                </div>
            </div>
        </div>
        <div class="container justify-content-center d-flex">
            <div class="gallery col-md-10 col-lg-8 d-none d-md-flex" data-scroll-animation="fade-up" data-scroll-name="gallery-item">
                <div class="gallery-item-first col-md-6" >
                </div>
                <div class="col-md-6 px-3 gallery-item-second"
                     data-aos="fade-up"
                     data-aos-anchor-placement="bottom-bottom">
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-mobile">
        <div class="col-md-12 col-lg-8 col-xl-6 d-flex d-md-none">
            <div id="galleryMobile" class="owl-carousel owl-theme">
                <div class="item">
                    <div class="gallery-item" style="background-image: url('images/SEAT_MO_074.png'); background-size: cover;">
                        <img src="images/SEAT_MO_074.png" style="opacity: 0;" alt="Seat mo 74">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-item" style="background-image: url('images/SEAT_MO_068.png'); background-size: cover;">
                        <img src="images/SEAT_MO_068.png" style="opacity: 0;" alt="Seat mo 68">
                    </div>
                </div>
                <div class="item">
                    <div class="gallery-item" style="background-image: url('images/SEAT_MO_091.png'); background-size: cover;">
                        <img src="images/SEAT_MO_091.png" style="opacity: 0;" style="opacity: 0;" alt="Seat mo 91">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--    banner section-->
    <section class="block-banner aluminum-black-banner pt-5" data-scroll-animation="fade-right" data-scroll-name="aluminum-black-banner">
        <div class="banner_image d-flex justify-content-center justify-content-lg-start">
            <img class="pt-4 aluminum-black-scooter" src="images/scooterface.png" alt="scooterface"
                 data-aos="fade-right"
                 data-aos-offset="300"
                 data-aos-easing="ease-in-sine"/>
            <div class="banner__block-description container px-4 align-self-center d-none d-lg-block col-5">
                <div class="pt-5 pb-4">
                    <div class="banner__title"><img class="mx-0 pb-2 title"  src="images/133kmdautonomie.png"  alt="133kmd’autonomie" /></div>
                    <div class="banner__sub-title">Haute performance.</div>
                </div>
                <div class="banner__description">
                    Le SEAT MÓ 125 dispose d’une autonomie importante de 133 km. Le 0 à 50 km/h s’effectue en seulement 3,9 secondes et sa vitesse maximale atteint 95 km/h.
                </div>
            </div>
        </div>
        <div class="container px-4 d-block d-lg-none">
            <div class="pt-5 pb-4">
                <div class="banner__title cl-red">135km d’autonomie</div>
                <div class="banner__sub-title">Haute performance.</div>
            </div>
            <div class="banner__description">
                Le SEAT MÓ 125 dispose d’une autonomie importante de 133 km. Le 0 à 50 km/h s’effectue en seulement 3,9 secondes et sa vitesse maximale atteint 95 km/h.
            </div>
        </div>
    </section>

    <section class="block-banner banner-right pt-5 pt-lg-0">
        <div class="banner_image d-flex justify-content-center justify-content-lg-start" data-scroll-animation="fade-up" data-scroll-name="banner-right">
            <div class="banner__block-description container px-4 align-self-center d-none d-lg-block col-5">
                <div class="pt-5 pb-4 align-self-end">
                    <div class="banner__title">1 scooter, 2 roues,</div>
                    <div class="banner__title">3 modes de conduite,</div>
                    <div class="banner__sub-title cl-red">1 marche arrière.</div>
                </div>
                <div class="banner__description">
                    <div class="d-flex align-items-center pb-4 justify-content-end">
                        <div>Mode Eco pour minimiser l’utilisation de sa batterie</div>
                        <div class="banner__title pe-2"><img class="title-icon" src="images/Icons/eco_trainer.svg" alt="Mode Eco pour minimiser l’utilisation de sa batterie"/></div>
                    </div>
                    <div class="d-flex align-items-center pb-4 justify-content-end">
                        <div>Mode City équilibre l’utilisation de la  batterie</div>
                        <div class="banner__title pe-2"><img class="title-icon" src="images/Icons/cruise.svg" alt="Mode City équilibre l’utilisation de la  batterie"/></div>
                    </div>
                    <div class="d-flex align-items-center pb-4 justify-content-end">
                        <div>Mode Sport pour davantage de vitesse</div>
                        <div class="banner__title pe-2"><img class="title-icon" src="images/Icons/journey_data.svg"  alt="Mode Sport pour davantage de vitesse"/></div>
                    </div>
                    <div class="d-flex align-items-center pb-4 justify-content-end">
                        <div>Une marche arrière pour des manœuvres simplifiées</div>
                        <div class="banner__title pe-2"><img class="title-icon" src="images/Icons/marche_arriere.svg"  alt="Une marche arrière pour des manœuvres simplifiées"/></div>
                    </div>
                </div>
            </div>
            <img class="pt-4 image-banner" src="images/scooterface-1.png" data-aos="fade-up">
        </div>
        <div class="container px-4 d-block d-lg-none">
            <div class="pt-5 pb-4">
                <div class="banner__title">1 scooter, 2 roues,</div>
                <div class="banner__sub-title cl-red">3 modes de conduite.</div>
            </div>
            <div class="banner__description">
                <div class="d-flex align-items-center pb-4">
                    <div class="banner__title pe-2"><img src="images/Icons/eco_trainer.svg" alt="Mode Eco pour minimiser l’utilisation de sa batterie"/></div>
                    <div>Mode Eco pour minimiser l’utilisation de sa batterie</div>
                </div>
                <div class="d-flex align-items-center pb-4">
                    <div class="banner__title pe-2"><img src="images/Icons/cruise.svg" alt="Mode City équilibre l’utilisation de la  batterie"/></div>
                    <div>Mode City équilibre l’utilisation de la  batterie</div>
                </div>
                <div class="d-flex align-items-center pb-4">
                    <div class="banner__title pe-2"><img src="images/Icons/journey_data.svg" alt="Mode Sport pour davantage de vitesse"/></div>
                    <div>Mode Sport pour davantage de vitesse</div>
                </div>
                <div class="d-flex align-items-center pb-4">
                    <div class="banner__title pe-2"><img src="images/Icons/marche_arriere.svg" alt="Une marche arrière pour des manœuvres simplifiées"/></div>
                    <div>Une marche arrière pour des manœuvres simplifiées</div>
                </div>
            </div>
        </div>
    </section>

    <section class="block-banner banner-left pt-4 pt-lg-0 d-flex bg-white">
        <div class="d-lg-flex" data-scroll-animation="fade-right" data-scroll-name="banner-left">
            <div class=" col-ld-8 col-xxl-7">
                <img class="w-100 banner__image" src="images/seat_mo_046.png" alt="Seat mo 046"
                     data-aos="fade-right"
                     data-aos-offset="300"
                     data-aos-easing="ease-in-sine"/>
            </div>
            <div class="col-lg-4 col-xxl-5 px-4 px-lg-5 py-5 d-flex flex-column justify-content-center">
                <div class="banner__title charging-title pb-4">
                    Dans ce deux-roues même <br class="d-none d-xl-block"/><span class="cl-red">la batterie est sur roulettes.</span>
                </div>
                <div class="banner__description charging-info">
                    Il suffit de tirer la poignée pour que les roulettes se déplient, vous pouvez ainsi la déplacer facilement pour la recharger sur n’importe quelle alimentation électrique classique.
                </div>
            </div>
        </div>
    </section>

    <section class="block-banner banner-right pt-4 pt-lg-0 d-flex bg-white " id="content-application-mo">
        <div class="d-lg-flex flex-column justify-content-center px-lg-5 py-5 d-flex col-ld-7  d-lg-block d-none" style="text-align: right;">
            <div class="banner__title charging-title pb-4 ">
                Application  <span class="cl-red">My SEAT MÓ</span>
            </div>
            <div class="banner__description charging-info">
                Obtenez des mises à jour de service et profitez de services pour votre véhicule SEAT MÓ en temps réel, où que vous soyez.
                <!-- <br><br>
                      <a href="#" target="_blank" class="text-decoration-none text-reset  offers justify-content-right align-items-center">
                                      <div>En savoir plus
                            <i class="fas fa-arrow-right mx-2"></i></div>
                      </a> -->
            </div>

        </div>

        <div class="col-lg-5 col-ld-8 overflow-hidden" data-scroll-name="banner-left">
            <div>
                <img class="banner__image" src="images/online-remote-services.jpg" alt="Application My SEAT MÓ"/>
            </div>

        </div>
        <div class="row d-flex d-lg-none py-5 col-xxl-5 px-4 flex-column justify-content-center m-0">
            <div class="banner__title special charging-title pb-4">
                Application  <span class="cl-red">My SEAT MÓ</span>
            </div>
            <div class="banner__description charging-info">
                Obtenez des mises à jour de service et profitez de services pour votre véhicule SEAT MÓ en temps réel, où que vous soyez.
            </div>
        </div>
    </section>
    <!--    banner section-->


    <section class="block-video text-center pt-4 pb-5 pt-lg-5">
        <div class="video-header pt-2 pb-4">
            <div class="title pb-1">Connectivité</div>
            <div class="sub-title">Le monde à portée de main </div>
        </div>
        <div>
            <div class="row mt-3 video-content d-flex justify-content-center">


                <video controls class="video" id="video" preload="metadata" loop>
                    <source src="/images/video/LANDING_PAGE_E-Scooter_VDEO_N1_1024x768.mp4" type="video/mp4">
                </video>

                <div class="btn-start d-flex justify-content-center" id="btn-start">
                    <button class="btn-play d-flex justify-content-center " data-title="Play (k)" id="play-start">
                        <svg class="play-icons">
                            <use href="#play-icon"></use>
                        </svg>
                    </button>
                </div>


                <div class="video-controls hidden justify-content-center py-4 mb-2" id="video-controls">
                    <button class="btn-play d-flex justify-content-center mx-3" data-title="Play (k)" id="play">
                        <svg class="playback-icons">
                            <use href="#play-icon"></use>
                            <use class="hidden" href="#pause"></use>
                        </svg>
                    </button>

                    <div class="volume-controls d-flex align-items-center">
                        <button data-title="Mute (m)" class="volume-button  d-flex justify-content-center  mx-2" id="volume-button">
                            <svg>
                                <use class="hidden" href="#volume-mute"></use>
                                <use class="hidden" href="#volume-low"></use>
                                <use href="#volume-high"></use>
                            </svg>
                            <input class="volume hidden" id="volume" value="1" data-mute="0.5" type="range" max="1" min="0" step="0.01">
                        </button>
                    </div>
                    <div class="video-progress d-flex col-7 align-items-center justify-content-center">
                        <!--                        <progress id="progress-bar  mx-2 w-100" value="0" min="0"></progress>-->
                        <progress class="progress-bar mx-2" id="progress-bar" value="0" min="0"></progress>
                        <input class="seek  mx-2" id="seek" value="0" min="0" type="range" step="1" />
                        <!--                        <div class="seek-tooltip" id="seek-tooltip" style="left: 0px;">00:13</div>-->
                    </div>

                    <div class="bottom-controls d-flex align-items-center mx-2">
                        <div class="left-controls">
                            <div class="time text-white">
                                <time id="time-elapsed">00:00</time>
                            </div>
                        </div>
                    </div>
                </div>

                <svg style="display: none">
                    <defs>
                        <symbol id="pause" viewBox="0 0 24 24">
                            <path fill="white" d="M14.016 5.016h3.984v13.969h-3.984v-13.969zM6 18.984v-13.969h3.984v13.969h-3.984z"></path>
                        </symbol>

                        <symbol id="play-icon" viewBox="0 0 24 24">
                            <path fill="white" d="M8.016 5.016l10.969 6.984-10.969 6.984v-13.969z"></path>
                        </symbol>

                        <symbol id="volume-high" viewBox="0 0 24 24">
                            <path fill="white" d="M14.016 3.234q3.047 0.656 5.016 3.117t1.969 5.648-1.969 5.648-5.016 3.117v-2.063q2.203-0.656 3.586-2.484t1.383-4.219-1.383-4.219-3.586-2.484v-2.063zM16.5 12q0 2.813-2.484 4.031v-8.063q1.031 0.516 1.758 1.688t0.727 2.344zM3 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6z"></path>
                        </symbol>

                        <symbol id="volume-low" viewBox="0 0 24 24">
                            <path d="M5.016 9h3.984l5.016-5.016v16.031l-5.016-5.016h-3.984v-6zM18.516 12q0 2.766-2.531 4.031v-8.063q1.031 0.516 1.781 1.711t0.75 2.32z"></path>
                        </symbol>

                        <symbol id="volume-mute" viewBox="0 0 24 24">
                            <path fill="white" d="M12 3.984v4.219l-2.109-2.109zM4.266 3l16.734 16.734-1.266 1.266-2.063-2.063q-1.547 1.313-3.656 1.828v-2.063q1.172-0.328 2.25-1.172l-4.266-4.266v6.75l-5.016-5.016h-3.984v-6h4.734l-4.734-4.734zM18.984 12q0-2.391-1.383-4.219t-3.586-2.484v-2.063q3.047 0.656 5.016 3.117t1.969 5.648q0 2.203-1.031 4.172l-1.5-1.547q0.516-1.266 0.516-2.625zM16.5 12q0 0.422-0.047 0.609l-2.438-2.438v-2.203q1.031 0.516 1.758 1.688t0.727 2.344z"></path>
                        </symbol>
                    </defs>
                </svg>
            </div>
        </div>

        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-light px-5 mt-4 py-2 btn-find-out-more">En savoir plus</button>
        </div>

    </section>

    <section class="block-accessory bg-white text-center pt-4 pt-lg-5">
        <div>
            <div class="accessory-header pt-2 pb-4">
                <h2 class="title pb-1">Accessoires</h2>
                <div class="sub-title">Découvrez notre sélection d’accessoires, indispensable pour faciliter vos trajets!</div>
            </div>
            <div class="ms-lg-5 ps-lg-5">
                <div class="ms-lg-5 ms-3 accessory-content pb-4 pb-lg-5 d-flex d-lg-block">
                    <div class="accessory-list accessory-mobile d-lg-none d-flex"></div>
                    <div class="accessory-list accessory-first d-lg-flex d-none"></div>
                    <div class="accessory-list accessory-second  d-lg-flex d-none"></div>
                </div>
            </div>
        </div>

    </section>

    <!--    Where to try your scooter section-->
    <section class="block-location pt-5">
        <div class="container px-4 d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center">Contactez un conseiller</h2>
            <div class="text-center sub-title px-2 col-lg-4 col-md-6 col-12">Renseignez votre code postal pour trouver un distributeur à proximité.</div>
            <div class="d-flex justify-content-center location-number py-5 flex-column align-items-center">
                <input class="text-center zipcode" name="zipcode" id="zipcode" placeholder="75001"/>
                <div class="alert-error cl-red mt-2 d-none">Le code postal n'est pas valide</div>
            </div>
            <div class="content block-location-content d-none">
                Les distributeurs les plus proches de vous :
                <div class="py-4 row block-location-list-item">

                </div>

                <div class="d-flex justify-content-center">
                    <button class="px-5 btn btn-to-try text-white btn-book-try py-2 gotoPage" rel="contact.html" onclick="trackingCTAGoToLeadForm(this)">Contactez un conseiller</button>
                </div>
            </div>

            <div class="text-center text-cant-find py-4">
                Vous ne trouvez pas un revendeur
                près de chez vous ?
            </div>
            <div class="talk-advisor pb-5">
                <a href="javascript:void(0);" class="text-decoration-none text-reset d-flex offers justify-content-center align-items-center gotoPage" onclick="trackingDataLayerInternal(this, event)" rel="configurator.html">
                    <div>En savoir plus</div>
                    <i class="fas fa-arrow-right mx-2"></i>
                </a>
            </div>
        </div>

    </section>
    <!--    End where to try your scooter section-->


    <!-- Service session  start -->
    <section class="block-service  pt-4 pt-lg-0">
        <div class="modal fade" id="serviceModal" tabindex="-1">
            <div class="modal-dialog modal-md">
                <div class="modal-content px-2 py-2 px-lg-5 py-lg-5">
                    <div class="modal-header border-bottom-0">
                        <div class="w-100">
                            <div class="flex-row-reverse d-flex">
                                {#                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
                                <img src="images/configurator/icon-close.svg" alt="icon-close-legal-modal" type="button" data-bs-dismiss="modal" aria-label="Close">
                            </div>
                            <div class="d-flex">
                                <h5 class="modal-title">Assurance April moto</h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body text-start">
                        <div>
                            Une protection intégrale des e-scootéristes. Trois niveaux de garanties. Parcours entièrement digital et en direct avec l’assureur. Protection juridique et corporelle du conducteur. Protection des accessoires et équipements. Protection du véhicule.
                        </div>

                        <div class="d-flex offers align-items-center pt-4">
                            <a href="https://tarif-devis.april-moto.com/" target="_blank" class="text-decoration-none text-reset d-flex offers justify-content-center align-items-center">
                                <div>En savoir plus</div>
                                <i class="fas fa-arrow-right mx-2"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="d-xl-flex">
            <div class=" col-xl-6 col-xxl-6">
                <img class="w-100" src="images/SEAT_MO_002.png" alt="Seat mo 002"/>
            </div>
            <div class="service-content col-xl-6 col-xxl-6 px-4 px-lg-5 py-5 d-flex flex-column justify-content-center">
                <div class="service-title pb-4">
                    <b>Des services<br> qui font la différence.</b><br>
                </div>
                <div class="service-description charging-info">
                    <ul  class="px-0" style="list-style-type:none;">
                        <li>- Un véhicule de remplacement en cas de problème.</li>
                        <li> - Une couverture décès, incapacité et perte d’emploi pour votre financement.</li>
                        <li>- Une assurance déjà négociée avec notre partenaire April à partir de 20€/mois.
                            <img src="images/Icons/info.svg" role="button" onclick="trackingDataLayerPopup(this)" data-type="info" data-bs-toggle="modal" data-bs-target="#serviceModal"/>
                        </li>
                        <li>- Une garantie de remboursement à neuf en cas d’accident pendant 3 ans.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Modal -->

    </section>

    <section class="section block-license" id="block-license">
        <div class="" >
            <!--            style="background-image: url('images/SEAT_MO_112.png')"-->
            <div class="position-relative">
                <img class="d-block d-lg-none w-100" src="images/SEAT_MO_112.png" alt="Seat mo"/>
                <img class="d-none d-lg-block w-100" src="images/seat_mo_112_desktop.png" alt="Seat mo desktop"/>
                <div class="col-9 text-white position-absolute license-content d-flex flex-column align-items-center">
                    Vous avez le permis B ? </br>
                    Une formation de 7h vous permet d'obtenir le permis 125.
                    <button type="button" class="btn btn-outline-light col-7 mt-4 btn-find-out-more">En savoir plus</button>
                </div>
            </div>

        </div>
    </section>


    <section class="block-discuss d-flex justify-content-center pt-5">
        <div class="d-lg-flex m-lg-auto col-lg-6 col-md-8">
            <div class="col-lg-5 p-5 p-lg-0 discuss-image d-flex justify-content-center justify-content-lg-end">
                <img class="w-100" src="images/thumbnail.png" alt="Thumbnail"/>
            </div>
            <div class="col-lg-7 px-4 d-lg-flex flex-lg-column justify-content-lg-center discuss-body">
                <div class=" discuss-content">
                    Vous souhaitez discuter avec un conseillé et avoir une présentation vidéo du eScooter?
                </div>
                <div class="d-flex button-chat justify-content-lg-start justify-content-center align-items-center py-4">
                    <div>Lancer le chat</div>
                    <img class="ps-3" src="images/Icons/arrow-black.svg" alt="Arrow black"/>
                </div>
            </div>
        </div>
    </section>

    <!--    Section FAQ-->
    <section class="block-faq pb-5">
        <div class="container col-lg-7 col-xxl-6">
            <div class="text-center border-bottom py-5 faq-title">
                <h2>FAQ</h2>
                <div class="sub-title mb-lg-5">On répond à vos questions</div>
            </div>
            <div class="faq-content">
                <div class="border-bottom py-4 px-2 d-flex faq-item justify-content-between faq-header-arrow" type="button">
                    <div>
                        <div class="d-flex title">
                            Quel permis de conduire dois-je avoir pour conduire le SEAT MÓ 125?
                        </div>
                        <div class="pt-3 content d-none">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus in felis dapibus auctor in eget turpis. Donec varius nisi euismod nisi vestibulum cursus.
                            </p>
                            <p>
                                Proin pharetra vulputate velit ut gravida. Proin consequat ante id sagittis pharetra. Nullam et lacus lectus.
                            </p>
                        </div>
                    </div>
                    <div class="p-1">
                        <img class="faq-icon" src="images/Icons/dark-gray-arrow.svg" alt="Dark gray arrow" />
                    </div>
                </div>
                <div class="border-bottom py-4 px-2 d-flex faq-item justify-content-between faq-header-arrow" type="button">
                    <div>
                        <div class="d-flex title">
                            Quel est le prix du SEAT MÓ 125?
                        </div>
                        <div class="pt-3 content d-none">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus in felis dapibus auctor in eget turpis. Donec varius nisi euismod nisi vestibulum cursus.
                            </p>
                            <p>
                                Proin pharetra vulputate velit ut gravida. Proin consequat ante id sagittis pharetra. Nullam et lacus lectus.
                            </p>
                        </div>
                    </div>
                    <div class="p-1">
                        <img class="faq-icon" src="images/Icons/dark-gray-arrow.svg" alt="dark gray arrow" />
                    </div>
                </div>
                <div class="border-bottom py-4 px-2 d-flex faq-item justify-content-between faq-header-arrow" type="button">
                    <div>
                        <div class="d-flex title">
                            De quoi est composé le pack d’accessoires de lancement?
                        </div>
                        <div class="pt-3 content d-none">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus in felis dapibus auctor in eget turpis. Donec varius nisi euismod nisi vestibulum cursus.
                            </p>
                            <p>
                                Proin pharetra vulputate velit ut gravida. Proin consequat ante id sagittis pharetra. Nullam et lacus lectus.
                            </p>
                        </div>
                    </div>
                    <div class="p-1">
                        <img class="faq-icon" src="images/Icons/dark-gray-arrow.svg" alt="dark gray arrow" >
                    </div>
                </div>
                <div class="border-bottom py-4 px-2 d-flex faq-item justify-content-between faq-header-arrow" type="button">
                    <div>
                        <div class="d-flex title">
                            Comment puis-je bénéficier du pack de lancement?
                        </div>
                        <div class="pt-3 content d-none">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus in felis dapibus auctor in eget turpis. Donec varius nisi euismod nisi vestibulum cursus.
                            </p>
                            <p>
                                Proin pharetra vulputate velit ut gravida. Proin consequat ante id sagittis pharetra. Nullam et lacus lectus.
                            </p>
                        </div>
                    </div>
                    <div class="p-1">
                        <img class="faq-icon" src="images/Icons/dark-gray-arrow.svg" alt="dark gray arrow" >
                    </div>
                </div>
                <div class="border-bottom py-4 px-2 d-flex faq-item justify-content-between faq-header-arrow" type="button">
                    <div>
                        <div class="d-flex title">
                            Quand pourrais-je acheter et récupérer mon SEAT MÓ 125 chez mon concessionnaire SEAT?
                        </div>
                        <div class="pt-3 content d-none">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis lectus in felis dapibus auctor in eget turpis. Donec varius nisi euismod nisi vestibulum cursus.
                            </p>
                            <p>
                                Proin pharetra vulputate velit ut gravida. Proin consequat ante id sagittis pharetra. Nullam et lacus lectus.
                            </p>
                        </div>
                    </div>
                    <div class="p-1">
                        <img class="faq-icon" src="images/Icons/dark-gray-arrow.svg" alt="dark gray arrow" >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--   End section FAQ-->

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/js/escooter.js"></script>
    <script>
        AOS.init();
        $(document).ready(function() {
            var bigimage = $("#big");
            var thumbs = $("#thumbs");
            var syncedSecondary = true;

            bigimage
                .owlCarousel({
                    items: 1.8,
                    center: true,
                    dots: false,
                    loop: true,
                    responsiveRefreshRate: 200,
                })
                .on("changed.owl.carousel", syncPosition);

            thumbs
                .on("initialized.owl.carousel", function() {
                    thumbs
                        .find(".owl-item")
                        .eq(0)
                        .addClass("current");
                })
                .owlCarousel({
                    items: 3,
                    dots: false,
                })
                .on("changed.owl.carousel", syncPosition2);

            function syncPosition(el) {
                var count = el.item.count - 1;
                var current = Math.round(el.item.index - el.item.count / 2 - 0.5);

                if (current < 0) {
                    current = count;
                }
                if (current > count) {
                    current = 0;
                }

                thumbs
                    .find(".owl-item")
                    .removeClass("current")
                    .eq(current)
                    .addClass("current");
                var onscreen = thumbs.find(".owl-item.active").length - 1;
                var start = thumbs
                    .find(".owl-item.active")
                    .first()
                    .index();
                var end = thumbs
                    .find(".owl-item.active")
                    .last()
                    .index();
                var itemName = thumbs.find(".owl-item.active.current .color-name");
                syncItemName(itemName);

                if (current > end) {
                    thumbs.data("owl.carousel").to(current, 100, true);
                }
                if (current < start) {
                    thumbs.data("owl.carousel").to(current - onscreen, 100, true);
                }

                bigimage.find('.icon-engine-modal').addClass("d-none");
                var number = el.item.index;
                let itemList = bigimage.find(".owl-item").find('.active');
                var temp = itemList.end()[number].querySelectorAll('.icon-engine-modal');

                Array.from(temp).filter(field => field.classList.remove('d-none'));
                refresh_index_pricing();
            }

            function syncPosition2(el) {
                if (syncedSecondary) {
                    var number = el.item.index;
                    bigimage.data("owl.carousel").to(number, 100, true);
                }
            }

            function syncItemName(currentItemName) {
                var displayItemName = $('#itemName');
                displayItemName.text('');
                displayItemName.text(currentItemName.text());
            }

            thumbs.on("click", ".owl-item", function(e) {
                e.preventDefault();
                var number = $(this).index();
                var currentItemName = $(e.currentTarget).find('.color-name');

                bigimage.data("owl.carousel").to(number, 300, true);

                bigimage.find('.icon-engine-modal').addClass("d-none");

                var item = bigimage.find(".owl-item.active.center").find('.icon-engine-modal').removeClass('d-none');

                syncItemName(currentItemName);
                refresh_index_pricing();
            });

            // init item name
            var defaultItemName = thumbs.find(".owl-item.active.current .color-name");
            syncItemName(defaultItemName);
        });

        $('#galleryMobile').owlCarousel({
            center: true,
            items: 1.1,
            loop: false,
            margin: 10,
        })

        setInterval(function() {
            $('#thumbs .owl-stage').attr('style','transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1860px;');
        }, 100);

        if (window.matchMedia('(max-width: 768px)').matches) {
            $('.global-header').addClass('sticky');
        }
    </script>
{% endblock %}
