{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
{% endblock %}

{% block body %}
    <section class="product financement-munissez-phone">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vérifiez votre identité</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-munissez-phone">
        <div class="seat-container">
            <div class="container back-container">
                <button class="back border-0 p-0 go-back-iframe">
                    <p class="back__content text-line-h-16" >
            <span>
              <img src="images/financement/arrow-left.svg" alt="arrow__left">
            </span>
                        retour
                    </p>
                </button>
            </div>
            <div class="text-center">
                <iframe id="iframe-kyc" name="iframe-kyc" src="{{ identification_url }}" allow="camera;microphone"></iframe>
{#                <script>#}
{#                    window.addEventListener('message', function(event) {#}
{#                        // Vérifiez l'origine de l'événement pour des raisons de sécurité#}
{#                        if (event.origin !== "https://qa.quicksign.com") {#}
{#                            return;#}
{#                        }#}
{#                        // Traitez les données reçues de l'iframe#}

{#                        const eventData = JSON.parse(event.data);#}
{#console.log('eventData.name')#}
{#console.log(eventData['name'])#}
{#console.log('eventData')#}
{#console.log(eventData)#}
{#console.log('end eventData')#}
{#                        switch (eventData['name']) {#}
{#                            case 'reconnectionSms':#}
{#                                handleReconnectionSmsEvent(eventData);#}
{#                                break;#}
{#                            case 'scanid':#}
{#                                handleScanIdEvent(eventData);#}
{#                                break;#}
{#                            case 'liveness':#}
{#                                handleLivenessEvent(eventData);#}
{#                                break;#}
{#                            case 'upload':#}
{#                                handleUploadEvent(eventData);#}
{#                                break;#}
{#                            case 'signature':#}
{#                                handleSignatureEvent(eventData);#}
{#                                break;#}
{#                            case 'process':#}
{#                                handleSuccess();#}
{#                                handleProcessEvent(eventData);#}
{#                                break;#}
{#                            case 'session':#}
{#                                handleSessionEvent(eventData);#}
{#                                break;#}
{#                            default:#}
{#                                console.log("Événement non reconnu :", eventData);#}
{#                        }#}
{#                    });#}
{#                    function handleSuccess() {#}
{#                        window.location.href = window.location.origin + '/etape-validee.html?customerApplication=' + {{ application_id }};#}
{#                    }#}

{#                    function handleReconnectionSmsEvent(eventData) {#}

{#                        console.log("Événement reconnectionSms :", eventData);#}
{#                    }#}

{#                    function handleScanIdEvent(eventData) {#}

{#                        console.log("Événement scanid :", eventData);#}
{#                    }#}

{#                    function handleLivenessEvent(eventData) {#}

{#                        console.log("Évenement liveness :", eventData);#}
{#                    }#}

{#                    function handleUploadEvent(eventData) {#}

{#                        console.log("Événement upload :", eventData);#}
{#                    }#}

{#                    function handleSignatureEvent(eventData) {#}

{#                        console.log("Événement signature :", eventData);#}
{#                    }#}

{#                    function handleProcessEvent(eventData) {#}

{#                        console.log("Événement process :", eventData);#}
{#                    }#}

{#                    function handleSessionEvent(eventData) {#}

{#                        console.log("Événement session :", eventData);#}
{#                    }#}
{#                </script>#}
            </div>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
{% endblock %}
