{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/financement.min.css" />
    <script
            src="https://cdn.ubble.ai/iframe-sdk-0.0.3.js"
            type="application/javascript"
    ></script>
{% endblock %}

{% block body %}
    <section class="product financement-successful-verification">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div id="stickyHeaderOffre">
                    <p>Un crédit vous engage et doit être remboursé. Vérifiez vos capacités de remboursement avant de vous engager.</p>
                </div>
            </div>
        </div>
        <div class="container-fluid ps-0">
            <div class="row">
                <div class="container step-container">
                    <div class="row">
                        <div class="d-lg-block d-none col-12 col-lg-4 text-left step1 p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 1</h2>
                                <p>Mieux vous connaître</p>
                                <i class="step-title">Vous avez validé cette étape</i>
                            </div>


                            <div class="progress-steps">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 text-left active p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 2</h2>
                                <p>Vos pièces justificatives</p>
                                <i class="step-title">Vérifiez votre identité</i>
                            </div>
                            <div class="progress-steps step-identification">
                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step done">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step active">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-lg-block d-none col-lg-4 text-left p-0 p-md-5">
                            <div class="step-desc">
                                <h2 class="header-step">Étape 3</h2>
                                <p>Votre solvabilité</p>
                                <i>Validez l’étape 2 pour accéder à l’étape 3</i>
                            </div>
                            <div class="progress-steps">
                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>

                                <div class="step">
                                    <div class="step-circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="financement financement-successful-verification">
        <div class="seat-container">
            <form class="form-fill mt-0">
                <input type="hidden" name="application_id" value="{{ application_id }}">
                <div class="item">
                    <div class="row flex-md-row m-0">
                        <div class="container text-center">
                            <div class="col-12 container pt-0" id="financement-header">
                                <p class="title">Merci.</p>
                                <span class="text-desc">Vous pouvez passer à la prochaine étape.</span>
                            </div>
                            <button type="submit" class="btn btn-custom btn-verify-identity text-line-h-26" formaction="{{ path('accord-de-principe') }}" formmethod="POST" onclick="trackingDataLayerInternal(this)">Étape suivante</button>
                        </div>
                    </div>
                </div>
                <div id="iframe" class="text-center"></div>
                <div class="block-identity-valid container">
                    <img class="image-identity" src="images/financement/image-identity-valid.png" alt="Image Identity valid"/>
                    <p class="text-identity">Votre identité est en cours de vérification</p>
                    <div class="block-warning">
                        <img src="images/financement/icon-warning.svg" alt="Icon Warning"/>
                        <span>Ne fermez pas et ne rechargez pas cette page
                            pour pouvoir continuer.</span>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <section class="bg-section"></section>

    <div class="wrapper-footer">{{ include('default/footer.html.twig') }}</div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="js/configurator.js"></script>
    <script>
        $(document).ready(function() {
            // Dynamic data layer
            var dataLayer = {
                'channel': 'pre-financing',
                'virtualPageName': 'SEAT – Mo Pre Financing – online request step 2.4'
            }

            dynamic_dataLayer.call('setDefaultValues', dataLayer);
            console.log(dataLayer);
            //
        });
    </script>
{% endblock %}
