{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}

{{ value|raw }}
    {% for val in value %}
        {{ val.name }} - {{ val.value }} {# I'm just guessing the object properties #}
        <br/>
    {% endfor %}
{% endblock %}