{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
	{% if value==0 or value=="" %}
		<span class="label label-pill label-default">En attente</span>
    {% endif %}
    {% if value==1 %}
		<span class="label label-pill label-success">Traité</span>
    {% endif %}
    
    {% if value==2 %}
		<span class="label label-pill label-danger">Erreurs</span>
    {% endif %}
    {% if value==3 %}
		<span class="label label-pill label-warning">En cours de traitement</span>
    {% endif %}

{#
<span class="label label-pill label-default">Default</span>
<span class="label label-pill label-primary">Primary</span>
<span class="label label-pill label-success">Success</span>
<span class="label label-pill label-info">Info</span>
<span class="label label-pill label-warning">Warning</span>
<span class="label label-pill label-danger">Danger</span>
#}
{% endblock %}