{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if value|length %}
    	{% for table,v in value %}
    		{% if v==1 %}
    			- {{ table }}<br>
    		{% endif %}
    	{% endfor %}
    {% endif %}
{% endblock %}