{# templates/form/treeview_type.html.twig #}


{% block treeview_row %}


<div class="form-group" id="sonata-ba-field-container-{{ id }}_treeview">
    <div class="sonata-ba-field sonata-ba-field-standard-natural">
<table class="table table-bordered condensed table-hover">
              <thead>
                <tr>
                  <th id="selecctall_div"><input type="checkbox" name="tbl[]" value="" id="selecctall"></th>
                  <th>{{label}}</th>
                </tr>
              </thead>
              <tbody>
              {% for f in form.children %}
			  <tr>
                  <td width="50"> 
                   <input type="checkbox" name="{{ f.vars.full_name }}" value="1" id="checkbox_modeles" class="checkboxtbl" 
                   {% if  form.vars['data'][f.vars.name] is defined %} checked="checked" {% endif %} >
                  </td>
                  <td style="text-align: left;">{{ f.vars.label }}</td>
                </tr>
              {% endfor %}
              
              </tbody>
            </table>
    </div>
</div>
    

<script>


$(document).ready(function() {

    $('#selecctall_div .icheckbox_square-blue .iCheck-helper').click(function(event) {  //on click
        if($(this).closest('.icheckbox_square-blue').hasClass('checked')) { // check select status
            $('.checkboxtbl').each(function() { //loop through each checkbox
                $(this).attr("checked","checked");
                $(this).closest('.icheckbox_square-blue').addClass('checked');
            });
        }else{
            $('.checkboxtbl').each(function() { //loop through each checkbox
            	$(this).attr("checked","")  
            	$(this).closest('.icheckbox_square-blue').removeClass('checked');                 
            });        
        }
    });

 
});


</script>        

        
{% endblock %}
