{% for item in items %}
    <label class="item-choice hand-cursor">
        <div>
            <div class="label text-c-orange">{{ item.name }}</div>
            <div class="text-desc">{{ item.address }}</div>
        </div>
        <div class="custom-checkbox">
            <input data-kvps="{{ item.kvps }}" type="radio" name="dealer" value="{{ item.kvps }}" class="custom-control-input" {% if loop.first %} required {% endif %}>
            <span class="custom-control-label d-block hand-cursor"></span>
        </div>
    </label>
{% endfor %}