<select id="nationality" name="nationality" data-nationality="{{ data['nationality'] ?? 'Française' }}">
    <option value="Afghane">Afghane</option>
    <option value="Sud-africaine">Sud-africaine</option>
    <option value="Albanaise">Albanaise</option>
    <option value="Algérienne">Algérienne</option>
    <option value="Allemande">Allemande</option>
    <option value="Andorrane">Andorrane</option>
    <option value="Angolaise">Angolaise</option>
    <option value="Antiguaise et Barbudienne">Antiguaise et Barbudienne</option>
    <option value="Saoudienne">Saoudienne</option>
    <option value="Argentine">Argentine</option>
    <option value="Arménienne">Arménienne</option>
    <option value="Australienne">Australienne</option>
    <option value="Autrichienne">Autrichienne</option>
    <option value="Azerbaïdjanaise">Azerbaïdjanaise</option>
    <option value="Bahamienne">Bahamienne</option>
    <option value="Bahreïnienne">Bahreïnienne</option>
    <option value="Bangladaise">Bangladaise</option>
    <option value="Barbadienne">Barbadienne</option>
    <option value="Belge">Belge</option>
    <option value="Bélizienne">Bélizienne</option>
    <option value="Béninoise">Béninoise</option>
    <option value="Bhoutanaise">Bhoutanaise</option>
    <option value="Biélorusse">Biélorusse</option>
    <option value="Birmane">Birmane</option>
    <option value="Bolivienne">Bolivienne</option>
    <option value="Bosnienne-Herzégovinienne">Bosnienne-Herzégovinienne</option>
    <option value="Botswanaise">Botswanaise</option>
    <option value="Brésilienne">Brésilienne</option>
    <option value="Bruneienne">Bruneienne</option>
    <option value="Bulgare">Bulgare</option>
    <option value="Burkinabè">Burkinabè</option>
    <option value="Burundaise">Burundaise</option>
    <option value="Cambodgienne">Cambodgienne</option>
    <option value="Camerounaise">Camerounaise</option>
    <option value="Canadienne">Canadienne</option>
    <option value="Cap-verdienne">Cap-verdienne</option>
    <option value="Chilienne">Chilienne</option>
    <option value="Chinoise">Chinoise</option>
    <option value="Chypriote">Chypriote</option>
    <option value="Colombienne">Colombienne</option>
    <option value="Comorienne">Comorienne</option>
    <option value="Congolaise">Congolaise</option>
    <option value="Nord-coréenne">Nord-coréenne</option>
    <option value="Sud-coréenne">Sud-coréenne</option>
    <option value="Costaricaine">Costaricaine</option>
    <option value="Ivoirienne">Ivoirienne</option>
    <option value="Croate">Croate</option>
    <option value="Cubaine">Cubaine</option>
    <option value="Danoise">Danoise</option>
    <option value="Djiboutienne">Djiboutienne</option>
    <option value="Dominicaine">Dominicaine</option>
    <option value="Égyptienne">Égyptienne</option>
    <option value="Émirienne">Émirienne</option>
    <option value="Équatorienne">Équatorienne</option>
    <option value="Érythréenne">Érythréenne</option>
    <option value="Espagnole">Espagnole</option>
    <option value="Estonienne">Estonienne</option>
    <option value="Américaine">Américaine</option>
    <option value="Éthiopienne">Éthiopienne</option>
    <option value="Fidjienne">Fidjienne</option>
    <option value="Finlandaise">Finlandaise</option>
    <option value="Française">Française</option>
    <option value="Gabonaise">Gabonaise</option>
    <option value="Gambienne">Gambienne</option>
    <option value="Géorgienne">Géorgienne</option>
    <option value="Ghanéenne">Ghanéenne</option>
    <option value="Grécoque">Grécoque</option>
    <option value="Grenadienne">Grenadienne</option>
    <option value="Guatémaltèque">Guatémaltèque</option>
    <option value="Guinéenne">Guinéenne</option>
    <option value="Guinéenne équatoriale">Guinéenne équatoriale</option>
    <option value="Guyanienne">Guyanienne</option>
    <option value="Haïtienne">Haïtienne</option>
    <option value="Hondurienne">Hondurienne</option>
    <option value="Hongroise">Hongroise</option>
    <option value="Cookienne">Cookienne</option>
    <option value="Marshallaise">Marshallaise</option>
    <option value="Salomonaise">Salomonaise</option>
    <option value="Indienne">Indienne</option>
    <option value="Indonésienne">Indonésienne</option>
    <option value="Iranienne">Iranienne</option>
    <option value="Iraquienne">Iraquienne</option>
    <option value="Irlandaise">Irlandaise</option>
    <option value="Islandaise">Islandaise</option>
    <option value="Israélienne">Israélienne</option>
    <option value="Italienne">Italienne</option>
    <option value="Jamaïcaine">Jamaïcaine</option>
    <option value="Japonaise">Japonaise</option>
    <option value="Jordanienne">Jordanienne</option>
    <option value="Kazakhstanaise">Kazakhstanaise</option>
    <option value="Kényane">Kényane</option>
    <option value="Kirghize">Kirghize</option>
    <option value="Kiribatienne">Kiribatienne</option>
    <option value="Koweïtienne">Koweïtienne</option>
    <option value="Laotienne">Laotienne</option>
    <option value="Lesothane">Lesothane</option>
    <option value="Lettonne">Lettonne</option>
    <option value="Libanaise">Libanaise</option>
    <option value="Libérienne">Libérienne</option>
    <option value="Libyenne">Libyenne</option>
    <option value="Liechtensteinoise">Liechtensteinoise</option>
    <option value="Lituanienne">Lituanienne</option>
    <option value="Luxembourgeoise">Luxembourgeoise</option>
    <option value="Macédonienne">Macédonienne</option>
    <option value="Malgache">Malgache</option>
    <option value="Malaisienne">Malaisienne</option>
    <option value="Malawienne">Malawienne</option>
    <option value="Maldivienne">Maldivienne</option>
    <option value="Malienne">Malienne</option>
    <option value="Maltaise">Maltaise</option>
    <option value="Marocaine">Marocaine</option>
    <option value="Mauricienne">Mauricienne</option>
    <option value="Mauritanienne">Mauritanienne</option>
    <option value="Mexicaine">Mexicaine</option>
    <option value="Micronésienne">Micronésienne</option>
    <option value="Moldave">Moldave</option>
    <option value="Monégasque">Monégasque</option>
    <option value="Mongole">Mongole</option>
    <option value="Monténégrine">Monténégrine</option>
    <option value="Mozambicaine">Mozambicaine</option>
    <option value="Namibienne">Namibienne</option>
    <option value="Nauruane">Nauruane</option>
    <option value="Népalaise">Népalaise</option>
    <option value="Nicaraguayenne">Nicaraguayenne</option>
    <option value="Nigériane">Nigériane</option>
    <option value="Nigérienne">Nigérienne</option>
    <option value="Niuéenne">Niuéenne</option>
    <option value="Norvégienne">Norvégienne</option>
    <option value="Néo-Zélandaise">Néo-Zélandaise</option>
    <option value="Omanaise">Omanaise</option>
    <option value="Ougandaise">Ougandaise</option>
    <option value="Ouzbèke">Ouzbèke</option>
    <option value="Pakistanaise">Pakistanaise</option>
    <option value="Paluane">Paluane</option>
    <option value="Panaméenne">Panaméenne</option>
    <option value="Papouasienne">Papouasienne</option>
    <option value="Paraguayenne">Paraguayenne</option>
    <option value="Néerlandaise">Néerlandaise</option>
    <option value="Péruvienne">Péruvienne</option>
    <option value="Philippine">Philippine</option>
    <option value="Polonaise">Polonaise</option>
    <option value="Portugaise">Portugaise</option>
    <option value="Qatarienne">Qatarienne</option>
    <option value="Centrafricaine">Centrafricaine</option>
    <option value="Congolaise (RDC)">Congolaise (RDC)</option>
    <option value="Dominicaine">Dominicaine</option>
    <option value="Tchèque">Tchèque</option>
    <option value="Roumaine">Roumaine</option>
    <option value="Russe">Russe</option>
    <option value="Rwandaise">Rwandaise</option>
    <option value="Saint-Christophé-et-Niévaise">Saint-Christophé-et-Niévaise</option>
    <option value="Saint-Marinaise">Saint-Marinaise</option>
    <option value="Saint-Vincentaise-et-Grenadine">Saint-Vincentaise-et-Grenadine</option>
    <option value="Sainte-Lucienne">Sainte-Lucienne</option>
    <option value="Salvadorienne">Salvadorienne</option>
    <option value="Samoane">Samoane</option>
    <option value="Santoméenne">Santoméenne</option>
    <option value="Sénégalaise">Sénégalaise</option>
    <option value="Serbe">Serbe</option>
    <option value="Seychelloise">Seychelloise</option>
    <option value="Sierra-Léonaise">Sierra-Léonaise</option>
    <option value="Singapourienne">Singapourienne</option>
    <option value="Slovaque">Slovaque</option>
    <option value="Slovène">Slovène</option>
    <option value="Somalienne">Somalienne</option>
    <option value="Soudanaise">Soudanaise</option>
    <option value="Sud-Soudanaise">Sud-Soudanaise</option>
    <option value="Sri-Lankaise">Sri-Lankaise</option>
    <option value="Suédoise">Suédoise</option>
    <option value="Suisse">Suisse</option>
    <option value="Surinamaise">Surinamaise</option>
    <option value="Swazie">Swazie</option>
    <option value="Syrienne">Syrienne</option>
    <option value="Tadjike">Tadjike</option>
    <option value="Tanzanienne">Tanzanienne</option>
    <option value="Tchadienne">Tchadienne</option>
    <option value="Thaïlandaise">Thaïlandaise</option>
    <option value="Timoraise">Timoraise</option>
    <option value="Togolaise">Togolaise</option>
    <option value="Tonguienne">Tonguienne</option>
    <option value="Trinidadienne">Trinidadienne</option>
    <option value="Tunisienne">Tunisienne</option>
    <option value="Turkmène">Turkmène</option>
    <option value="Turque">Turque</option>
    <option value="Tuvaluane">Tuvaluane</option>
    <option value="Ukrainienne">Ukrainienne</option>
    <option value="Uruguayenne">Uruguayenne</option>
    <option value="Vanuatuane">Vanuatuane</option>
    <option value="Vaticane">Vaticane</option>
    <option value="Vénézuélienne">Vénézuélienne</option>
    <option value="Vietnamienne">Vietnamienne</option>
    <option value="Yéménite">Yéménite</option>
    <option value="Zambienne">Zambienne</option>
    <option value="Zimbabwéenne">Zimbabwéenne</option>
</select>
