.bg-section {
  background: $color-white;
  width: 100%;
  height: 50px;
}

.footer {
  background-color: $color-grey-lighter;

  .know-more {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    background-color: $color-grey-lighter;
    flex-shrink: inherit;

    p {
      font-size: 30px;
      margin-bottom: 20px;
      font-family: SeatBlack, sans-serif;
      opacity: 1;
      line-height: 38px;

      @media (max-width: 768px) {
        font-size: 22px;
        padding: 0 120px;
      }

      @media (max-width: 515px) {
        font-size: 22px;
        padding: 0 20px;
      }
    }

    .btn-custom {
      max-width: 350px;
      width: 100%;
      font-family: SeatBold, sans-serif;
    }

    .btn-faq {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .bg-section {
    height: auto;
    padding: 20px 0;
  }

  .btn {
    &-custom {
      background-color: $color-orange;
      color: $color-white;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      padding: 1.2rem 8rem;
      line-height: 1.5rem;
      width: 100%;
      margin-top: 1.7rem;

      @include responsive(tablet) {
        font-size: 1.6rem;
        line-height: 1.9rem;
        padding: 1rem 0;
        width: 17rem;
      }

      &:hover {
        color: $color-white;
      }
    }
  }

  .footer-content, .footer-link {
    padding: 50px 60px;
    max-width: 1000px;
    margin: 0 auto;

    p {
      font-family: SeatRegular, sans-serif;
      font-weight: 400;
      font-size: 12px;
      color: rgba(15,15,15,0.6);
      line-height: 22px;
      opacity: unset;
    }
  }

  .footer-content {
    height: 150px;
    overflow: hidden;
  }

  .footer-link {
    width: 100%;
  }

  p {
    font-family: SeatBook, sans-serif;
    font-style: normal;
    font-weight: 350;
    font-size: 10px;
    mix-blend-mode: normal;
    opacity: 0.6;
    color: $color-black;
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-black;
    text-decoration: underline;
  }

  .bg-section-button {
    background: $color-seat-grey;
    width: 100%;
    height: 50px;
    .seeMore-button {
      border: 2px solid rgba(51,48,46,0.2);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-content: center;
      align-self: center;
      img {
        width: 16px;
        transform: rotate(90deg);
      }
      .open {
        transform: rotate(-90deg);
      }
    }
  }
  
  .footer-text p {
    font-family: SeatRegular, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: normal;
    line-height: 24px;
    opacity: unset;
    color: $color-black;
    text-align: center;
    padding: 0 175px;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 0 60px;
    }
  }
}