#responseMessage {
  background-color: #FAFAF9;
  
  .response-content {
    padding-left: 40px;
  }
  
  p {
    color: #33302E;
    margin-bottom: 2px;
  }
  
  .text-title {
    font-family: SeatBlack;
    font-style: normal;
    font-weight: 750;
    font-size: 60px;
    line-height: 55px;
  }
  
  .text-detail {
    font-family: SeatBook;
    font-style: normal;
    font-weight: 350;
    font-size: 16px;
    line-height: 19px;
  }

  @media (max-width: 768px) {
    .text-title {
      font-size: 32px;
      line-height: 38px;
      max-width: 200px;
    }

    .text-detail {
      font-size: 14px;
      line-height: 17px;
    }
  }
}