$color-grey: #f2f2f2;
$color-black: #0f0f0f;
$color-orange: #e55d24;
$color-grey-light: #9f9f9f;
$color-grey-quick-light: #e4e4e4;
$color-grey-text: #8b8b8b;
$color-white: #fff;
$color-green: #00afac;
$color-grey-lighter: #fafaf9;
$color-dark-charcoal: #33302E;
$border: 0.1rem solid $color-orange;
$color-seat-grey: #eaeae0;
$color-text-black: #000;
$color-red: #AE1311;
