@import "font-layout";

$color-grey: #f8f8f8;
$color-black: #0f0f0f;
$color-orange: #e55d24;
$color-grey-light: #9f9f9f;
$color-grey-quick-light: #aeaeae;
$color-grey-text: #8b8b8b;
$color-white: #fff;
$color-grey-lighter: #fafaf9;
$color-seat-grey: #eaeae0;
$color-second-black: #33302e;
$color-text-black: #000;

$font-family: SeatRegular;

$border: 0.15rem solid $color-orange;

@import "typography";
@import "mixin-config-page";
@import "footer";

html {
  font-size: 62.5%;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover {
  color: $color-black;
}

body {
  background-color: $color-grey;
}

#main {
  background-color: $color-white;
}

.step-desc {
  min-height: 115px;
}

.product {
  overflow: hidden;

  .carousel-indicators {
    @include responsive(tablet) {
      bottom: 10%;
    }
  }

  .carousel-indicators [data-bs-target] {
    width: 0.7rem;
    height: 0.7rem;
    background-color: $color-white;
    border-radius: 50%;
    margin-left: 1rem;
    border: none;
  }

  .carousel-indicators .active {
    background-color: $color-black;
  }

  .slider {
    &__images {
      @include responsive(tablet) {
        display: inline;
        transform: scale(1.3);
      }
    }
  }
}

.step-container {
  background: $color-grey-lighter;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0 60px;

  .header-step {
    font-size: 2rem;
    font-family: SeatMedium;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }

  i {
    font-size: 12px;
  }

  p.step-title {
    font-family: SeatMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-orange;
  }

  .progress-steps {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    display: flex;
    flex-wrap: wrap;

    .step {
      background: transparent;
      height: 4em;
      position: relative;
      text-align: center;
      flex-grow: 1;
      transition: all 0.3s;

      &:after {
        background: $color-seat-grey;
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: 48%;
        z-index: 1;
      }

      .label {
        display: block;
        color: #bbb;
        font-size: 0.75em;
        line-height: 1em;
        word-wrap: break-word;
      }
    }

    .step.active {
      .step-circle {
        width: 32px;
        height: 32px;
        margin: 0.5em auto;
        background-color: $color-orange;
        background-image: linear-gradient(to bottom, $color-orange, $color-orange);
        transition: all 0.1s;

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          border: 5px solid $color-grey-lighter;
        }
      }

      &:before {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        top: 48%;
        background: $color-orange;
        width: 50%;
        z-index: 3;
      }
    }

    .step.done {
      .step-circle {
        background: $color-orange;
        width: 12px;
        height: 12px;
        margin: 14px auto;
        background: $color-grey-lighter;
        border: 1.5px solid $color-orange;
      }

      &:after {
        background: $color-orange;
      }
    }
  }

  .step {
    .step-circle {
      background: $color-seat-grey;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: 1.5em auto;
      z-index: 3;
      position: relative;
      transition: all 0.2s;
    }
  }

  .step-circle {
    &:hover {
      box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.3) !important;
      cursor: pointer;
    }
  }
}

.product-detail {
  font-family: $font-family;
  color: $color-black;
  padding: 5rem 0.5rem 2rem 2rem;
  @include responsive(tablet) {
    padding: 3.7rem 1rem 2rem;
  }

  @include responsive(average-laptop) {
    padding: 3.7rem 7.2rem 2rem;
  }

  &__block {
    border-bottom: $border;
    margin-bottom: 3rem;
    margin-top: 3.5rem;
  }

  & .header {
    font-size: 2rem;
    line-height: 2.6rem;
    display: flex;
    justify-content: space-between;

    &--small {
      font-family: SeatMedium;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 1.2rem;
    }

    &--big {
      @include responsive(tablet) {
        font-size: 2.4rem;
        line-height: 2.8rem;
      }
    }

    &--active {
      color: $color-orange;
    }
  }

  & .color {
    & ul {
      display: flex;
      margin: 4rem 0;

      & li {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-right: 2.5rem;

        &.active {
          font-weight: 500;

          p {
            font-family: SeatMedium;
            color: $color-second-black;
            letter-spacing: 0;
            text-align: center;
          }

          & .color-circle-checkbox {
            display: inline-block;
            padding: 5px;
            background: $color-seat-grey;
            border: 2px solid $color-orange;
            border-radius: 50%;
          }

          & img {
            width: 40px;
          }
        }

        & p {
          margin-top: 0.8rem;
          opacity: 0.8;
          font-family: SeatBook;
          font-size: 16px;
          line-height: 19px;
          color: $color-second-black;
          letter-spacing: 0;
          text-align: center;
          max-width: 85px;
        }

        & img {
          width: 54px;
          border-radius: 50%;
        }
      }
    }
  }

  & .financement {
    &__item {
      margin-top: 2.4rem;

      &:first-of-type {
        margin-top: 3.4rem;
      }

      &:last-of-type {
        margin-bottom: 4.6rem;
      }

      &-list {
        margin: 0.2rem 0 2rem;

        & ul {
          & li::before {
            content: "\2022";
            //font-size: 2.4rem;
            color: $color-black;
            display: inline-block;
            width: 1rem;
          }

          & li {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            font-style: italic;
            color: $color-second-black;

            @include responsive(tablet) {
              line-height: 2.5rem;
            }
          }
        }
      }

      & .card-body {
        @include responsive(tablet) {
          padding: 2.3rem 2.8rem;
        }
      }

      & .header label {
        @include responsive(tablet) {
          top: 0;
        }
      }

      & .text--small {
        @include responsive(tablet) {
          max-width: 80%;
        }
      }

      & .text--info {
        @include responsive(tablet) {
          margin-bottom: 0;
          text-decoration-line: underline;
          width: fit-content;
        }
      }
    }
  }

  & .form-fill {
    &__input {
      &--label-radio {
        font-size: 1.6rem;
        position: relative;
        top: -1rem;
        width: 100%;
      }

      &--radio {
        position: relative !important;
        display: inline-block;
        width: auto;
        padding: 0 0 0 2.5rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        cursor: pointer;
        top: -0.5rem !important;

        &::before {
          position: absolute;
          border: 1px solid $color-seat-grey;
          border-radius: 100%;
          height: 20px;
          width: 20px;
          top: 2px;
          left: 0;
          z-index: 5;
          content: "";
        }

        &::after {
          position: absolute;
          border-radius: 100%;
          height: 14px;
          width: 14px;
          top: 5px;
          left: 3px;
          z-index: 5;
          transition: background 0.3s ease;
          content: "";
        }
      }
    }
  }

  & input[type="radio"] {
    position: absolute;
    visibility: hidden;

    &:checked + .form-fill__input--radio::after {
      background-color: $color-orange;
    }
  }

  & .assurance {
    &__checkbox {
      margin: 1.6rem 0 3.6rem;
    }
  }

  & .accessoires {
    &--active {
      & .text--price {
        text-decoration: line-through;
      }
    }

    & ul {
      & li {
        margin-bottom: 1.7rem;
      }

      & li:first-of-type {
        margin-top: 4.7rem;
      }

      & li:last-of-type {
        margin-bottom: 5.9rem;
      }
    }

    &__item {
      display: flex;

      & img {
        border-radius: 50%;
        height: 6.3rem;
        width: 6.3rem;
      }

      &--info {
        margin-left: 1.2rem;
        align-self: center;

        & .text--header {
          @include responsive(tablet) {
            font-size: 1.8rem;
            margin-bottom: 1.3rem;
          }
        }

        & .text--price,
        & .text--offer {
          @include responsive(tablet) {
            font-family: SeatBookItalic, sans-serif;
            font-size: 12px;
            line-height: 20px;
            display: inline;
            font-style: italic;
          }
        }
      }
    }

    &__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
}

.text {
  &--large {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: 1.3rem;
    margin-bottom: 2.8rem;
  }

  &--small {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
  }

  &--collapse {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 1.9rem;

    & a {
      display: inline-block;
      margin-left: 0.8rem;
    }
  }

  &--info {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin: 1.8rem 0;
    & span {
      display: inline-block;
      margin-left: 0.5rem;
      text-decoration: underline;

      i {
        color: $color-orange;
      }
    }
  }


  &--info-big {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 400;
    margin-top: 3.4rem;

    & span {
      display: inline-block;
      margin-left: 0.1rem;
    }
  }

  &--box-black {
    @extend .text--info;

    color: $color-white;
    background-color: $color-black;
    padding: 0.2rem 0.8rem 1rem;

    & span {
      margin-left: 0.8rem;
    }
  }

  &--header {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }

  &--price {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $color-grey-quick-light;
  }

  &--offer {
    font-size: 1.3rem;
    line-height: 1.7rem;
    color: $color-orange;
  }
}

.icon {
  &--small {
    color: $color-black;
    font-size: 1rem;
  }
}

.btn {
  &-custom {
    background-color: $color-orange;
    color: $color-white;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    padding: 1.2rem 8rem;
    line-height: 1.5rem;
    width: 100%;
    margin-top: 1.7rem;

    @include responsive(tablet) {
      font-size: 1.6rem;
      line-height: 1.9rem;
      padding: 1rem 0;
      width: 17rem;
    }

    &:hover {
      color: $color-white;
    }
  }
}

.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  top: -4.5rem;
  right: -2rem;
}

@media (max-width: 414px) {
  .custom-control {
    top: -6.5rem;
  }
}


.custom-card {
  top: 0;
  right: 0;
}

.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}

.custom-control-label {
  position: relative;
  margin-bottom: 0;
}

//.custom-checkbox .custom-control-label::before {
//  top: 0;
//  width: 1.9rem;
//  height: 1.9rem;
//  border-radius: 50%;
//}

.custom-control-label::before,
.custom-file-label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}

.custom-checkbox .custom-control-label::after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  opacity: 0.9;
  background-image: none;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  left: -9px;
  top: 10px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $color-orange;
  background-color: $color-orange;
}

.accessoires {
  .custom-checkbox {
    .custom-control-input:checked ~ .custom-control-label::before {
      color: $color-white;
      border: 1px solid $color-seat-grey;
      background-color: #fff;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      color: $color-white;
      background-color: $color-orange;
      border-top: none;
      border-right: none;
    }

    .custom-control-label::after {
      width: 16px;
      height: 16px;
      left: -10.5px;
      top: 7px;
      border-radius: 3px;
      transform-origin: unset;
      transform: unset;
    }
  }
}

#financement {
  .custom-checkbox {
    .custom-control-input:checked {
      color: $color-white;
      border-color: $color-white;
      background-color: $color-white;
    }

    .custom-control-input:checked ~ .custom-control-label::after {
      color: $color-white;
      border-color: $color-orange;
      background-color: $color-orange;
    }

    .custom-control-label::after {
      width: 16px;
      height: 16px;
      left: -11px;
      top: 4px;
      border-radius: 100%;
      transform-origin: unset;
      transform: unset;
    }

    .custom-control-label::before {
      position: absolute;
      border: 1px solid $color-seat-grey;
      border-radius: 100%;
      height: 2.4rem;
      width: 2.4rem;
      top: 0;
      background-color: #ffffff;
    }
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
  opacity: 1;
}

.fas{
  font-size: 15px;
}

.fas.fa-info-circle{
  font-size: 12px;
}

.product-detail {
  color: $color-second-black;

  .color {
    font-family: SeatBlack;
    font-size: 30px;
    color: $color-second-black;
    letter-spacing: 0;
  }

  .header--big {
    font-family: SeatBlack;
    max-width: 365px;
    font-size: 60px;
    line-height: 55px;
    color: $color-second-black;
  }

  .text--large {
    font-family: SeatBook;
    font-size: 16px;
    opacity: 0.8;
    letter-spacing: 0.92px;
    line-height: 25px;
  }

  .financement {
    font-family: SeatBlack;
    font-size: 30px;
    color: $color-second-black;
    letter-spacing: 0;
  }

  .card-title {
    font-family: SeatBold;
    font-size: 18px;
    letter-spacing: 0;

    span.text-dark {
      font-size: 14px;
      padding-left: 5px;
    }
  }

  .card-text {
    font-family: SeatBook;
    font-size: 16px;
    color: $color-second-black;
    letter-spacing: 0;
  }

  .text--collapse {
    font-family: SeatBold;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 18px;
  }

  #financement {
    .additional-benefits {
      margin-top: 15px;
      .accessoires__item--info {
        margin-left: 0;

        .text--header {
          font-size: 14px;
          color: $color-text-black;
          font-family: SeatRegular, sans-serif;
          margin-bottom: 0;

          .text-c-orange {
            font-family: SeatMedium, sans-serif;
          }
        }

        .text--price {
          color: $color-second-black;
          font-size: 10px;
          font-family: SeatRegular, sans-serif;
        }
      }

      .accessoires__item {
        img {
          width: 12px;
          height: 12px;
          margin-bottom: 3px;
        }
      }

      .accessoires__checkbox {
        .custom-checkbox {
          .custom-control-input:checked ~ .custom-control-label::before {
            color: $color-white;
            border: 1px solid $color-seat-grey;
            background-color: #fff;
          }

          .custom-control-input:checked ~ .custom-control-label::after {
            color: $color-white;
            background-color: $color-orange;
            border-top: none;
            border-right: none;
          }

          .custom-control-label::after {
            width: 16px;
            height: 16px;
            left: -11px;
            top: 4px;
            border-radius: 3px;
            transform-origin: unset;
            transform: unset;
          }

          .custom-control-label::before {
            position: absolute;
            border: 1px solid $color-seat-grey;
            height: 2.4rem;
            width: 2.4rem;
            top: 0;
            background-color: $color-white;
            border-radius: 3px;
          }
        }
      }
    }
  }

  .financement__item {
    .text--info {
      font-family: SeatMedium;
      font-size: 12px;
      letter-spacing: 0;
    }
  }

  .financement__item.rent {
    .fa-info-circle::before {
      color: $color-orange;
    }
  }

  .financement__item-list--left {
    opacity: 0.8;
    font-family: SeatBook;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 25px;
  }

  .submit {
    .btn-custom {
      width: 100%;
      max-width: 300px;
    }
  }
}

.assurance {
  .header {
    font-family: SeatBlack;
    font-size: 30px;
    letter-spacing: 0;
    cursor: pointer;
  }

  .text--info-big {
    font-family: SeatRegular;
    font-size: 14px;
    color: $color-black;
    letter-spacing: 0.8px;
  }

  .assurance__checkbox {
    label {
      opacity: 1;
      font-family: SeatMedium, sans-serif;
      font-size: 16px;
      color: $color-black;
      letter-spacing: 0;
    }
  }
}

.accessoires {
  .header {
    font-family: SeatBlack;
    font-size: 30px;
    letter-spacing: 0;
    cursor: pointer;
  }
  label.row {
    cursor: pointer;
  }
  .accessoires__item--info {
    .text--header {
      font-family: SeatMedium;
      font-size: 18px;
      color: $color-second-black;
      letter-spacing: 0;
    }

    .text--offer {
      font-family: SeatMedium;
      letter-spacing: 0;
    }
  }
}

.submit {
  .btn-custom {
    font-family: SeatMedium;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    padding: 12px 0;
    width: 300px;
  }
}

.product-detail .financement__item-list ul li {
  //opacity: 0.8;
  margin-left: 10px;
  max-width: 435px;
}

.product-detail .assurance__checkbox {
  margin: 3.3rem 0 5.4rem;
}

.text--large {
  line-height: 2.5rem;
  color: $color-second-black;
  opacity: 0.8;
}

.text--collapse {
  font-size: 1.4rem;
  margin-bottom: unset;
  margin-top: 1.7rem;
}

.text--box-black,
.text--info {
  font-size: 1.2rem;
  margin-top: 1.8rem;
}

.text--info {
  font-weight: unset;
}

.text--info-big {
  line-height: 1.6rem;
  margin-top: 4.7rem;
}

.custom-control {
  padding-right: 1.9rem;
}

.custom-checkbox .custom-control-label::before {
  width: 2.5rem;
  height: 2.5rem;
}

.custom-checkbox .custom-control-label::after {
  width: 6px;
  height: 12px;
  left: -9px;
  top: 13px;
}

@media (min-width: 47.9875em) {
  .product-detail .color {
    font-size: 30px;
    line-height: 2.3rem;
  }

  .product-detail .financement,
  .product-detail .accessoires {
    line-height: 2.3rem;
  }

  .product-detail .financement.product-detail__block {
    border-bottom: none;
  }

  .product-detail .assurance {
    line-height: 2.3rem;
  }

  .product-detail .financement__item .card-body.location {
    padding: 2rem 2.8rem;
  }

  .product-detail .financement__item .card-body .card-title {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .product-detail .financement__item .text--small {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .custom-control.color {
    top: -4.5rem;
  }

  .custom-checkbox .custom-control-label::before {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.hand-cursor {
  cursor: pointer;
}

#offersModal,
#vdrModal,
#gcmModal,
#serviceModal {
  top: 40%;

  .modal-title {
    font-family: SeatMedium, sans-serif;
    text-align: left;
  }

  .modal-content {
    border-radius: 3px;
    border: 1px solid $color-white;
    padding: 25px 15px;
  }

  .modal-body {
    font-family: SeatRegular, sans-serif;
    opacity: 1;
    letter-spacing: 0;

    .text-c-orange {
      font-family: SeatMedium, sans-serif;
    }

    .text-bold {
      font-family: SeatMedium, sans-serif;
    }

    .location {
      margin-top: 15px;
      margin-bottom: 15px;

      img {
        margin-right: 10px;
      }
    }
  }

  .modal-btn {
    font-family: SeatBold, sans-serif;
    font-size: 16px;
    letter-spacing: 0.56px;
    text-align: center;
    line-height: 100%;
    padding: 15px 0 15px 0;
    border-radius: 4px;
    border: 1px solid $color-text-black;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }
}

.modal {
  top: unset;
  left: unset;

  .modal-body {
    opacity: 0.8;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 25px;
  }
}

.modal {
  h5.modal-title {
    font-size: 20px;
    font-family: SeatMedium, sans-serif;
  }
}

@media (min-width: 1440px) {
  .modal {
    .modal-title {
      font-size: 24px;
    }

    .modal-body {
      opacity: 0.8;
      font-size: 16px;
      letter-spacing: 0.92px;
      line-height: 25px;
    }

    .modal-footer {
      opacity: 0.8;
      font-size: 16px;
      letter-spacing: 0.92px;
      color: var(--bs-black);
      line-height: 25px;
    }
  }
}

#serviceModal {
  .modal-body {
    opacity: 0.8;

    .offers {
      opacity: 1;
      font-size: 14px;
      line-height: 18px;
    }
  }

  @media (min-width: 1024px) {
    .modal {
      .modal-header {
        .modal-title {
          font-size: 24px;
          letter-spacing: 0;
        }
      }
      .modal-body {
        opacity: 0.8;
        font-size: 16px;
        letter-spacing: 0.92px;
        line-height: 25px;
        .offset {
          opacity: 1;
        }
      }
    }
    .service-content {

      .service-title {
        font-size: 32px;
        letter-spacing: 0.34px;
        line-height: 37px;
      }

      .service-description {
        opacity: 0.7;
        font-size: 18px;
        letter-spacing: 0.19px;
        line-height: 30px;
      }
    }
  }
}

i[type=button] {
  -webkit-appearance: unset;
}

#sidebar {
  background: $color-grey-lighter;
}

.icon-collapse {
  display: flex;
}

#stickyHeaderOffre {
  display: flex;
  justify-content: center;
  font-family: SeatMedium;
  font-size: 14px;
  color: #fff;
  background-color: $color-orange;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  p {
    padding: 12px 20px;
  }
}

#legalMentionModal {
  top: 35%;

  .modal-dialog {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: 992px) {
      max-width: 75%;

      .modal-content {
        border-radius: 25px;
      }
    }

    @media (max-width: 425px) {
      max-width: 100%;
    }
  }

  .legal-header {
    background-color: #f3f2ee;
    padding: 30px 100px;

    @media (max-width: 992px) {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    .header--small {
      font-family: SeatMedium;
      font-size: 20px;
      line-height: 24px;
      -webkit-appearance: unset;
      opacity: 1;
      padding-top: 20px;
    }

    .sub-title {
      margin-bottom: 2px;
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
    }

    .legal-btn-close {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .legal-body {
    padding: 30px 100px;
    background-color: #fafafa;

    @media (max-width: 992px) {
      border-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    p {
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
      margin: 10px 0;

      @media (max-width: 425px) {
        font-size: 12px;
      }
    }

    .textSeatBold {
      font-family: SeatBold;
      font-size: 14px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .textSeatBlack {
      font-family: SeatBlack;
      font-size: 16px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .description {
      height: 176px;
      overflow: hidden;
      position: relative;
      margin-top: 20px;
      transition: all ease 0.3s;
      padding-bottom: 20px;
      @media (max-width:767px) {
        margin-top: 50px;
      }
      &.active {
        height: initial;
        &::after {
          display: none;
        }
        .button-control {
          position: unset;
        }
      }
      &::after {
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top,  rgba(222,218,212,0) 0%, rgba(250,250,250,1) 75%);
        background: -webkit-linear-gradient(top,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        background: linear-gradient(to bottom,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dedad4', endColorstr='#fafafa',GradientType=0 );

      }
      .text-desc {
        font-size: 10px;
        font-family: "SeatBook";
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
      }
      .button-control {
        position: absolute;
        left: 0;
        bottom: 50px;
        width: 100%;
        text-align: center;
        z-index: 5;
        .btn-show {
          min-width: 185px;
          min-height: 35px;
          padding: 5px;
          border-radius: 4px;
          font-family: "SeatBold";
          font-size: 12px;
          color: #fff;
          background-color: $color-black;
          border:none;

        }
      }
      p {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  .legal-body::-webkit-scrollbar {
    display: none;
  }

  .text-right {
    text-align: right;
  }
}

#legalMentionModal::-webkit-scrollbar {
  display: none;
}

#financement {
  .financement__item {
    p.gagnez-du-text {
      font-family: SeatMedium;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: $color-orange;
    }

    .line-1 {
      background: #33302E;
      opacity: 0.2;
      height: 1px;
      width: 70%;
    }

    p.soumettez-votre-text {
      font-family: SeatRegular;
      font-weight: 350;
      font-size: 16px;
      line-height: 19px;
      max-width: 400px;
    }

    .location {
      label.card-text {
        span {
          font-family: 'SeatBold';
        }
      }

      p.text-content {
        font-family: 'SeatRegular';
        //opacity: 0.5;
        font-size: 14px;
        line-height: 22px;
        max-width: 420px;

        span {
          font-family: 'SeatBold';

          .text-black {
            color: $color-text-black;
            font-family: SeatLight, sans-serif;
          }
        }

        span.font-weight-light {
          font-family: SeatRegular, sans-serif;
        }
      }

      p.text-content-big {
        display: flex;
        font-family: 'SeatBold';
        opacity: 1;
        font-size: 18px;
        padding-bottom: 15px;
        margin-top: 20px;

        span {
          font-size: 18px;
          padding-left: 5px;
        }
      }

      p.text-content-date {
        font-family: 'SeatBook';
        //opacity: 0.5;
        padding-top: 10px;
        color: $color-black;
      }
    }

    .shadow {
      box-shadow: 3px 6px 17px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
    }

    .border-active {
      border: 1px solid $color-orange;
    }
  }
}

.line-2 {
  width: 70%;
  max-width: 350px;
  height: 1px;
  margin: 22px auto;
  background: $color-black;
  opacity: 0.2;
}

.custom-checkbox.checkbox-square .custom-control-label::before {
  border: 1px solid $color-seat-grey;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  #main {
    .product-detail {
      .header--big {
        font-size: 32px;
      }

      .text--large {
        font-size: 12px;
      }

      .color {
        font-size: 22px;

        ul {
          li {
            p {
              font-size: 14px;
            }
          }
        }
      }

      .assurance,
      .accessoires {
        h5.header {
          font-size: 22px;
        }

        .text--info-big {
          margin-top: 15px;
        }

        .accessoires__item--info {
          .text--header {
            font-size: 14px;
          }

          .text--price {
            font-size: 12px;
            font-style: italic;
            margin-top: 10px;
          }
        }
      }
    }

    .financement {
      font-size: 22px;

      .financement__item {
        p.gagnez-du-text {
          font-size: 16px;
        }

        p.soumettez-votre-text {
          font-size: 14px ;
        }

        .location {
          p.text-content-big {
            font-size: 16px;
          }
        }

        .text--info {
          font-size: 10px;
        }
      }

      .card-title {
        font-size: 16px;
      }
    }
  }

  .know-more {
    p {
      font-size: 22px;
    }
  }
}