@import "font-layout";
@import "variable";
@import "typography";
@import "responsive";
@import "mixin";
@import "response-message";
@import "footer";

html {
  font-family: SeatRegular;
  font-size: 62.5%;

  @include responsive(tablet) {
    font-size: 61%;
  }

  @include responsive(large-mobile) {
    font-size: 58%;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: $color-white;
}

.step-desc {
  min-height: 115px;
}

.line-financement {
  background-color: $color-black;
  height: 1px;
  width: 100%;
  max-width: 350px;
  opacity: 0.2;
  margin-top: 15px;
}

.step-container {
  background: $color-grey-lighter;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding: 0 60px;

  .header-step {
    font-size: 2rem;
    font-family: SeatMedium;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }

  i {
    font-size: 12px;
  }

  p.step-title {
    font-family: SeatMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: $color-orange;
  }

  .progress-steps {
    width: 100%;
    margin: 5px auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    display: flex;
    flex-wrap: wrap;

    .step {
      background: transparent;
      height: 4em;
      position: relative;
      text-align: center;
      flex-grow: 1;
      transition: all 0.3s;

      &:after {
        background: $color-seat-grey;
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        left: 0;
        top: 48%;
        z-index: 1;
      }

      .label {
        display: block;
        color: #bbb;
        font-size: 0.75em;
        line-height: 1em;
        word-wrap: break-word;
      }
    }

    .step.active {
      .step-circle {
        width: 32px;
        height: 32px;
        margin: 0.5em auto;
        background-color: $color-orange;
        background-image: linear-gradient(to bottom, $color-orange, $color-orange);
        transition: all 0.1s;

        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          border: 5px solid $color-grey-lighter;
        }
      }

      &:before {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        top: 48%;
        background: $color-orange;
        width: 50%;
        z-index: 3;
      }
    }

    .step.done {
      .step-circle {
        background: $color-orange;
        width: 12px;
        height: 12px;
        margin: 14px auto;
        background: $color-grey-lighter;
        border: 1.5px solid $color-orange;
      }

      &:after {
        background: $color-orange;
      }
    }
  }

  .step {
    .step-circle {
      background: $color-seat-grey;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      margin: 1.5em auto;
      z-index: 3;
      position: relative;
      transition: all 0.2s;
    }
  }

  .step-circle {
    &:hover {
      box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.3) !important;
      cursor: pointer;
    }
  }
}

.financement {
  color: $color-black;
  padding: 5rem 0;

  @include responsive(large-mobile) {
    padding: 3rem 0;
  }

  input[type="tel"] {
    padding-left: 5rem !important;
  }

  .back__content {
    font-family: SeatMedium;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #000000;
    display: flex;
    align-items: center;

    @include responsive(tablet) {
      font-family: SeatRegular;
      font-size: 12px;
      letter-spacing: 0.48px;
    }
  }

  & .back {
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: capitalize;
    background: unset;

    &__content {
      @include responsive(large-mobile) {
        padding-bottom: 1rem;
      }

      & span {
        margin-right: 10px;
      }

      & img {
        min-width: 1.478rem;
      }
    }
  }

  & .text {
    &--small {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }

  & .item {
    padding: 3rem 0;

    @include responsive(large-mobile) {
      padding: 2rem 0 0.6rem;
    }

    .item__common_info {
      //p {
      //  font-family: SeatMedium;
      //  font-size: 30px;
      //  font-weight: 700;
      //  letter-spacing: 0;
      //  line-height: 36px;
      //  max-width: 325px;
      //}
    }

    .item__profile {
      .item__detail {
        p {
          font-family: SeatBlack;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
        }
        p.text-c-grey {
          opacity: 0.5;
          font-family: SeatBook;
          font-size: 13px;
          color: #000000;
          letter-spacing: 0.65px;
          text-align: right;
        }
      }
    }

    & img {
      //width: 14rem;
      //border-radius: 0.5rem;

      @include responsive(tablet) {
        width: 10rem;
      }

      @include responsive(large-mobile) {
        width: 8rem;
      }
    }

    &__list {
      padding: 3rem 0;

      @include responsive(large-mobile) {
        padding: 1rem 0;
      }

      & ul {
        & li::before {
          content: "\2022";
          font-size: 1.4rem;
          color: $color-grey-light;
          font-weight: bold;
          display: inline-block;
          width: 1em;
        }

        & li {
          font-size: 1.4rem;
          line-height: 2.5rem;

          @include responsive(large-mobile) {
            font-weight: 400;
          }
        }
      }
    }

    &__profile {
      //display: flex;
      justify-content: flex-end;
      text-align: right;

      @include responsive(tablet) {
        align-items: center;
      }

      @include responsive(large-mobile) {
        margin-top: 1.6rem;
        flex-direction: row-reverse;
        margin-bottom: 3rem;
        align-items: center;

        & .item__detail {
          margin-left: 2rem;
          text-align: left;
        }
      }
    }

    &__total {
      position: relative;
      top: -3rem;

      @include responsive(large-mobile) {
        top: -1rem;
      }
    }
  }

  & .form-fill {
    margin-top: 50px;

    &__input {
      &--label-radio {
        font-size: 1.6rem;
        position: relative;
        top: -1rem;
        width: 100%;
      }

      &--radio {
        position: relative !important;
        display: inline-block;
        width: auto;
        padding: 0 0 0 3.2rem;
        font-size: 1.2rem;
        line-height: 2.4rem;
        cursor: pointer;
        top: -0.5rem !important;

        &::before {
          position: absolute;
          border: 1px solid $color-seat-grey;
          border-radius: 100%;
          height: 2.4rem;
          width: 2.4rem;
          top: 0;
          left: 0;
          z-index: 5;
          content: "";
        }

        &::after {
          position: absolute;
          border-radius: 100%;
          height: 16px;
          width: 16px;
          top: 4px;
          left: 4px;
          z-index: 5;
          transition: background 0.3s ease;
          content: "";
        }
      }

      & input[type="radio"] {
        position: absolute;
        visibility: hidden;

        &:checked + .form-fill__input--radio::after {
          background-color: $color-orange;
        }
      }

      & .form-group .label--focus {
        font-size: 1.2rem;
        line-height: 1.7rem;
        color: #6f6f6f;
        top: -1.5rem;
        left: 1.5rem;
      }

      & .form-group label {
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #6f6f6f;
        width: 100%;
        position: absolute;
        pointer-events: none;
        top: -1.5rem;
        transition: 0.2s ease all;

        @include responsive(large-mobile) {
          width: unset;
        }
      }

      & input[type="text"],
      & input[type="email"],
      & input[type="tel"],
      & input[type="number"],
      & input[type="date"] {
        width: 100%;
        border: none;
        background-color: $color-grey-lighter;
        outline: none;
        padding: 1rem 0 1.5rem;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $color-black;
        display: block;
        height: 4rem;
        font-weight: bold;
        border-bottom: 0.1rem solid $color-green;
        max-width: 450px;

        @include responsive(large-mobile) {
          font-weight: 400;
        }

        &:focus ~ label,
        &.filled ~ label {
          font-size: 1.2rem;
          line-height: 1.4rem;
          color: #6f6f6f;
          //top: -1.5rem;
        }
      }
    }

    & .svg-icon {
      position: absolute;
      height: 2rem;
      top: 0.8rem;
      right: 0.5rem;
    }

    & svg {
      & path {
        fill: $color-grey-light;
      }
    }

    & .flag-country,
    & select {
      width: 100%;
      background-color: $color-grey-lighter;
      border: none;
      outline: none;
      padding: 1rem 0;
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $color-text-black;
      display: block;
      height: 4rem;
      font-weight: bold;
      border-bottom: 0.1rem solid $color-green;
      opacity: 0.6;
      font-family: SeatBook, sans-serif;
      max-width: 450px;

      &:focus {
        outline: none;
      }
    }

    & .svg--arrow-down {
      position: absolute;
      top: 1.2rem;
      height: 1.2rem;
      width: 1.2rem;
      right: 0;
    }

    & .select--normal {
      width: 100%;
      border-bottom: $border;
    }

    & .btn-custom {
      font-family: SeatMedium;
      font-size: 16px;
      letter-spacing: 0;
      text-align: center;
      line-height: 26px;
      background-color: $color-orange;
      color: $color-white;
      border-radius: 0.5rem;
      font-weight: bold;
      padding: 1rem 8rem;

      @include responsive(large-mobile) {
        width: 100%;
      }
    }
  }

  #contactFormLead,
  #formFinancement,
  #formFinancementConfirm {
    .form-fill__header {
      .text-line-h-36 {
        font-family: SeatMedium, sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        color: $color-dark-charcoal;
        letter-spacing: 0;
      }

      .text-line-h-25 {
        font-family: SeatItalic, sans-serif;
        font-size: 16px;
        font-weight: 350;
        color: $color-dark-charcoal;
        letter-spacing: 0.92px;
        line-height: 25px;
      }

      .text-required {
        font-family: SeatMedium, sans-serif;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .form-fill__input {
      .civili, .commercial-offer {
        font-family: SeatMedium;
        font-size: 20px;
        color: $color-dark-charcoal;
        letter-spacing: 0;
        margin-bottom: 15px;
      }

      .form-fill__input--radio {
        font-family: SeatMedium, sans-serif;
        font-size: 16px;
        color: #000000;
        letter-spacing: 0;
        opacity: 0.6;
        margin-right: 30px;
      }

      .form-fill__input--radio.checked {
        opacity: 1;
      }

      .text-description {
        font-size: 16px;
        color: $color-dark-charcoal;
        margin-bottom: 25px;
      }

      .form-group {
        input {
          font-family: SeatBook, sans-serif;
          font-size: 16px;
          color: #000000;
          opacity: 0.6;
          letter-spacing: 0;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        input[type=number] {
          -moz-appearance:textfield;
        }

        label {
          font-family: SeatBold, sans-serif;
          font-size: 12px;
          color: #000000;
          letter-spacing: 0;
          display: block;
          top: -15px;
        }

        input[type=tel] {
          opacity: 1;
          padding-left: 40px !important;
          padding-top: 15px;
        }

        .iti__selected-flag {
          padding-left: 0;
        }
      }

      .avez-vous {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;

        .additional-info {
          font-family: SeatMedium, sans-serif;
          font-size: 20px;
          color: $color-dark-charcoal;
        }
      }

      #permisSelect {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;
      }

      .oui-text {
        font-family: SeatRegular;
        font-size: 14px;
        color: #0F0F0F;
        letter-spacing: 0;
      }
    }

    .container {
      background-color: $color-grey-lighter;
      box-shadow: 3px 6px 17px rgb(0 0 0 / 10%);
      border-radius: 2px;
      padding: 0 36px;
    }
  }

  //#contactFormLead {
  //  .form-fill__input {
  //    .form-group {
  //      label[for="nom"],
  //      label[for="email"],
  //      label[for="prenom"],
  //      label[for="email2"],
  //      label[for="address"] {
  //        display: block;
  //        top: -15px;
  //      }
  //    }
  //  }
  //}

  .seat-container {
    .back-container {
      border-bottom: $border;
    }

    .item {
      #financement-header {
        padding-top: 35px;

        p {
          font-size: 60px;
          font-weight: 750;
          font-family: SeatBold, sans-serif;
          font-style: normal;
          line-height: 55px;
          color: $color-dark-charcoal;
        }
      }

      .item__detail {
        .intro-offer {
          font-family: SeatMedium, sans-serif;
          font-size: 20px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.6);
        }

        .without-config {
          font-size: 18px;
          line-height: 21.6px;
          font-family: SeatBold, sans-serif;
        }
      }

      .common-info {
        background-color: $color-grey-lighter;

        .item__common_info {
          .text-config-header {
            margin-bottom: 20px;
            font-size: 30px;
            font-family: SeatMedium, sans-serif;
          }

          .item__detail {
            .without-config {
              font-family: SeatMedium, sans-serif;
              font-size: 16px;
              line-height: 19.2px;
            }

            .text-credit {
              color: $color-text-black;
              font-family: SeatBook, sans-serif;
              font-style: italic;
              font-size: 12px;
            }
          }

          & .selection__item {
            display: flex;

            img {
              border-radius: 50%;
              height: 6.3rem;
              width: 6.3rem;
            }

            &--info {
              margin-left: 1.2rem;

              .text-header {
                font-size: 20px;
                line-height: 24px;
                font-family: SeatMedium, sans-serif;
              }

              .text-description {
                font-family: SeatBook, sans-serif;
                font-style: italic;
                font-size: 12px;
                line-height: 20px;
              }
            }
          }


          .item__common-accessoires {
            .text-price {
              font-size: 16px;
              font-family: SeatMedium, sans-serif;
            }

            .wrapper-accessoires {
              display: flex;
              flex-wrap: wrap;
              margin-top: 15px;

              & .accessoires__item {
                display: flex;
                margin-bottom: 20px;

                img {
                  border-radius: 50%;
                  height: 6.3rem;
                  width: 6.3rem;
                }

                &--info {
                  margin-left: 1.2rem;

                  .text-header {
                    font-size: 16px;
                    line-height: 24px;
                    font-family: SeatMedium, sans-serif;
                    margin-bottom: 0;
                  }

                  .text-price {
                    font-family: SeatBook, sans-serif;
                    font-style: italic;
                    font-size: 12px;
                    line-height: 20px;
                    margin-bottom: 0;
                  }

                  .text-link {
                    color: $color-red;
                    font-size: 12px;
                    font-family: SeatMedium, sans-serif;
                  }
                }
              }
            }
          }
        }
      }
    }

    .block__conditions-financement {
      .text-header {
        font-size: 30px;
        font-family: SeatBold, sans-serif;
        line-height: 36px;
      }

      .text-description {
        font-size: 16px;
        font-family: SeatRegular, sans-serif;
        line-height: 19.2px;
      }

      .description-conditions {
        font-size: 16px;
        font-family: SeatMedium, sans-serif;
        line-height: 19.2px;
      }

      .card-conditions {
        .item-condition {
          background-color: rgb(250, 250, 249);
          box-shadow: rgb(0 0 0 / 10%) 3px 6px 17px;
          border-radius: 2px;
          padding: 20px 20px;
          width: calc(50% - 12px);

          .text-header {
            font-size: 16px;
            line-height: 19.2px;
            font-family: SeatRegular, sans-serif;
          }

          .text-uppercase {
            font-size: 20px;
            font-family: SeatMedium, sans-serif;
            line-height: 24px;
          }

          &:first-child {
            margin-right: 30px;
          }

          .location-number {
            margin-bottom: 15px;

            input {
              font-family: SeatBlack, sans-serif;
              border: unset;
              font-size: 35px;
              color: $color-orange;
              letter-spacing: 2.54px;
              background: var(--bs-alabasterapprox);
              border-bottom: 1px solid $color-text-black;
              outline: none;
              max-width: 180px;

              &::placeholder {
                color: $color-orange;
              }
            }
          }

          .declare {
            margin-top: 30px;

            .form-fill__input--radio {
              opacity: 0.6;
              position: relative !important;
              display: inline-block;
              width: auto;
              padding: 0 0 0 3.2rem;
              font-size: 16px;
              line-height: 19px;
              cursor: pointer;
              top: -0.5rem !important;
              color: $color-text-black;
              font-family: SeatMedium, sans-serif;
              margin-right: 30px;

              &::after {
                position: absolute;
                border-radius: 100%;
                height: 16px;
                width: 16px;
                top: 2px;
                left: 4px;
                z-index: 5;
                transition: background 0.3s ease;
                content: "";
              }

              &::before {
                position: absolute;
                border: 1px solid #eaeae0;
                border-radius: 100%;
                height: 2.4rem;
                width: 2.4rem;
                top: -2px;
                left: 0;
                z-index: 5;
                content: "";
              }
            }

            .form-fill__input--radio.checked {
              opacity: 1;
            }

            input[type=radio]:checked + .form-fill__input--radio::after {
              background-color: $color-orange;
            }

            input[type=radio] {
              position: absolute;
              visibility: hidden;
            }
          }
        }
      }

      .item-information {
        img, p {
          margin-bottom: 5px;
        }

        img {
          width: 35px;
        }

        .text-desc {
          font-size: 16px;
          line-height: 100%;
          font-family: SeatMedium, sans-serif;
        }
        
        .eligible {
          color: $color-green;
        }
        
        .not-eligible {
          color: $color-red;
        }
      }
    }

    .card-btn {
      .btn-custom {
        width: 100%;
        max-width: 300px;
        padding: 10px 0 10px 0;
        border-radius: 4px;
        opacity: 1;
        cursor: pointer;
      }

      .btn-ligne {
        margin-right: 30px;
      }

      .btn-envoyez.disabled {
        opacity: 0.6;
      }

      .btn-concession {
        color: $color-text-black;
        background-color: $color-white;
        border: 1px solid $color-text-black;
      }
    }

    .know-more {
      background-color: $color-grey-lighter;

      .btn-custom {
        font-family: SeatBold, sans-serif;
        font-size: 16px;
        letter-spacing: 0;
        text-align: center;
        line-height: 26px;
        background-color: $color-orange;
        color: $color-white;
        border-radius: 0.5rem;
        font-weight: bold;
        padding: 10px 0;
        width: 100%;
        max-width: 300px;

        //@include responsive(large-mobile) {
        //  width: 70%;
        //}
      }

      .form-fill__header {
        .text-line-h-24 {
          font-family: SeatBlack;
          font-size: 24px;
          color: #0F0F0F;
          letter-spacing: 0;
        }
      }
    }
  }

  .financement-header {
    //background-color: #FAFAF9;
  }
}

#back-top {
  width: 4rem;
  height: 4rem;
  background-color: $color-orange;
  border: none;
  border-radius: 1rem;
  outline: none;
  position: fixed;
  z-index: 9999;
  right: 2rem;
  bottom: 4rem;

  & image {
    width: 2rem;
  }
}

.iti.iti--allow-dropdown {
  width: 100%;
}

#accessoires, #insurance {
  .item__list {
    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        width: 50%;

        @include responsive(tablet) {
          width: 100%;
        }

        .price {
          font-family: SeatMedium;
          font-size: 14px;
          letter-spacing: 0;
          line-height: 25px;
        }
      }
    }
  }
}

.fas {
  font-size: 15px;
}

.icon-collapse {
  cursor: pointer;
}

#stickyHeaderOffre {
  display: flex;
  justify-content: center;
  font-family: SeatMedium;
  font-size: 14px;
  color: #fff;
  background-color: $color-orange;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  p {
    padding: 12px 20px;
    margin-bottom: unset;
  }
}

#legalMentionModal {
  .modal-dialog {
    max-width: 70%;
    margin: 0 auto;

    @media (max-width: 992px) {
      max-width: 75%;

      .modal-content {
        border-radius: 25px;
      }
    }

    @media (max-width: 425px) {
      max-width: 100%;
    }
  }

  .legal-header {
    background-color: #f3f2ee;
    padding: 30px 100px;

    @media (max-width: 992px) {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    .header--small {
      font-family: SeatBold;
      font-size: 16px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
      padding-top: 20px;
    }

    .sub-title {
      margin-bottom: 2px;
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
    }

    .legal-btn-close {
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }

  .legal-body {
    padding: 30px 100px;
    background-color: #fafafa;

    @media (max-width: 992px) {
      border-radius: 25px;
    }

    @media (max-width: 768px) {
      padding: 30px 50px;
    }

    @media (max-width: 425px) {
      padding: 20px;
    }

    p {
      font-family: SeatBook;
      opacity: 0.5;
      font-size: 14px;
      line-height: 25px;
      margin: 10px 0;

      @media (max-width: 425px) {
        font-size: 12px;
      }
    }

    .textSeatBold {
      font-family: SeatBold;
      font-size: 14px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .textSeatBlack {
      font-family: SeatBlack;
      font-size: 16px;
      line-height: 18px;
      -webkit-appearance: unset;
      opacity: 1;
    }

    .description {
      height: 176px;
      overflow: hidden;
      position: relative;
      margin-top: 20px;
      transition: all ease 0.3s;
      padding-bottom: 20px;
      @media (max-width:767px) {
        margin-top: 50px;
      }
      &.active {
        height: initial;
        &::after {
          display: none;
        }
        .button-control {
          position: unset;
        }
      }
      &::after {
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top,  rgba(222,218,212,0) 0%, rgba(250,250,250,1) 75%);
        background: -webkit-linear-gradient(top,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        background: linear-gradient(to bottom,  rgba(222,218,212,0) 0%,rgba(250,250,250,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dedad4', endColorstr='#fafafa',GradientType=0 );

      }
      .text-desc {
        font-size: 10px;
        font-family: "SeatBook";
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 0;
      }
      .button-control {
        position: absolute;
        left: 0;
        bottom: 50px;
        width: 100%;
        text-align: center;
        z-index: 5;
        .btn-show {
          min-width: 185px;
          min-height: 35px;
          padding: 5px;
          border-radius: 4px;
          font-family: "SeatBold";
          font-size: 12px;
          color: #fff;
          background-color: #0F0F0F;
          border:none;

        }
      }
      p {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  .legal-body::-webkit-scrollbar {
    display: none;
  }

  .text-right {
    text-align: right;
  }
}

#legalMentionModal::-webkit-scrollbar {
  display: none;
}

.item__common_info {
  span.text-dark {
    font-size: 14px;
    padding-left: 10px;
  }
}

#interesse {
  li span {
    font-family: 'SeatBold';
  }
}

#textConfigHeader {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: SeatMedium, sans-serif;
}

.financement {
  .item__list {
    .item__list--right {
      ul {
        li::before {
          display: table-cell;
        }

        li {
          display: table-row;
        }
      }
    }
  }
}

.financement-personal-data {
  .form-fill {
    .form-fill__header {
      .text-header {
        font-size: 30px;
        font-family: SeatBold, sans-serif;
        line-height: 36px;
      }

      .text-desc {
        font-style: italic;
        font-size: 16px;
        line-height: 19.2px;
        font-family: SeatBook, sans-serif;
      }
    }

    .form-fill__input {
      .text-header {
        font-size: 20px;
        font-family: SeatMedium, sans-serif;
        line-height: 24px;
        color: $color-dark-charcoal;
      }
    }
  }
}

// Step1-4
.financement-confirm {
  .seat-container {
    #formFinancementConfirm {
      .container {
        box-shadow: none;
        background-color: transparent;

        .form-fill__input {
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="number"],
          input[type="date"],
          select {
            border-bottom: 0.1rem solid $color-text-black;
            opacity: 1;
          }
          input[type="tel"] {
            padding-left: 0 !important;
          }
        }

        .form-group-information,
        .form-group-to-know,
        .form-group-situation-familiale,
        .form-group-professional-situation,
        .form-group-contact {
          background-color: $color-grey-lighter;
          box-shadow: 0 4px 34px rgba(0, 0, 0, 0.1);
          padding: 40px 30px;
          margin-top: 50px;
        }
      }

      .text-modifier {
        font-family: SeatMedium, sans-serif;
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .text-desc {
      font-style: italic;
      font-size: 16px;
      line-height: 100%;
      font-family: SeatBook, sans-serif;
      color: $color-dark-charcoal;
    }
  }
}
// End Step1-4


/* Slideshow container */
.slideshow-container {
  position: relative;
}

/* Hide the images by default */
.form-item {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  color: $color-text-black;
  font-size: 14px;
  transition: 0.6s ease;
  user-select: none;
  text-decoration: none;
  font-family: SeatMedium, sans-serif;
  top: 50px;

  &:hover {
    color: $color-text-black;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.disabled {
  opacity: 0.6;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fade:not(.show) {
  opacity: 1;
}

.pagination-slide {
  position: relative;
  height: 30px;
}

.footer {
  .know-more {
    .form-fill__header {
      p {
        opacity: 1;
        line-height: 36px;
      }
    }
  }
}
// Financement step2.1
.financement-prerequis {
  .step-container {
    .step1 {
      .step-title {
        color: $color-green;
      }

      .progress-steps {
        .step.done {
          .step-circle {
            border: 1.5px solid $color-green;
          }

          &:after {
           background-color: $color-green;
          }
        }
      }
    }
  }

  .seat-container {
    .item {
      #financement-header {
        .text-desc {
          font-size: 16px;
          font-family: SeatBook, sans-serif;
        }

        .text-we-need {
          font-size: 30px;
          line-height: 36px;
          font-family: SeatMedium, sans-serif;
          margin-top: 50px;
        }
      }
    }

    .form-fill__input {
      #formPrerequis {
        .wrapper-document {
          .card-document {
            box-shadow: rgb(0 0 0 / 10%) 3px 6px 17px;
            max-width: 585px;
            width: 100%;
            padding: 40px 30px;

            .text-valid {
              font-family: SeatBold, sans-serif;
              font-size: 18px;
              line-height: 21.6px;
              color: $color-orange;
            }

            ul {
              margin-left: 25px;

              li {
                font-size: 16px;
                color: $color-dark-charcoal;
                font-family: SeatBook, sans-serif;
                line-height: 100%;
                list-style: disc;
              }
            }

            .text-uppercase {
              font-size: 20px;
              font-family: SeatMedium, sans-serif;
              line-height: 100%;
              color: $color-dark-charcoal;
            }

            input[type="file"] {
              display: block;
              margin: 0 auto;
            }
          }

          .card-address {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

// Fix flag in Firefox
//.iti__flag.iti__fr {
//  height: 14px !important;
//  background-position: -1731px 0px !important;
//}
// end Financement step2.1

@media only screen and (max-width: 768px) {
  .financement {
    .seat-container {
      .item {
        #financement-header {
          p {
            font-size: 32px;
          }
        }

        .common-info {
          .item__common_info {
            .text-config-header {
              font-size: 22px;
            }
          }
        }
      }

      .block__conditions-financement {
        .text-header {
          font-size: 22px;
        }

        .text-description,
        .description-conditions {
          font-size: 14px;
        }

        .card-conditions {
          .item-condition {
            width: 100%;

            &:first-child {
              margin-right: 0;
              margin-bottom: 30px;
            }

            .text-uppercase {
              font-size: 16px;
              line-height: 19.2px;
            }

            .declare {
              .form-fill__input--radio {
                display: block;
                margin-bottom: 20px;
                width: fit-content;
              }
            }
          }
        }
      }

      #contactFormLead,
      #formFinancement,
      #formFinancementConfirm {
        .form-fill__header {
          .text-line-h-36 {
            font-size: 22px;
            line-height: 26.4px;
          }
        }

        .form-fill__input {
          .civili,
          .avez-vous .additional-info,
          .commercial-offer {
            font-size: 16px;
            line-height: 19.2px;
          }

          .slideshow-container {
            .form-item {
              display: none;
            }
          }

          .card-btn {
            text-align: center;
            margin-top: 60px !important;

            button.disabled {
              max-width: initial;
              opacity: 0.6;
            }

            .btn-ligne {
              margin-right: 0;
            }

            .btn-confirm {
              max-width: initial;
            }
          }

          .card-btn.disabled {
            opacity: 0.6;
          }
        }

        .container {

          .form-group-information,
          .form-group-to-know,
          .form-group-situation-familiale,
          .form-group-professional-situation,
          .form-group-contact {
            padding: 40px 10px;
          }
        }
      }

      .know-more {
        .form-fill__header {
          .text-line-h-24 {
            font-size: 22px;
          }
        }
      }
    }

    #formFinancement,
    #formFinancementConfirm {
      .container {
        padding: 0 25px;
      }
    }
  }

  .footer {
    .know-more {
      .form-fill__header {
        p {
          line-height: 26.4px;
          font-size: 22px;
        }
      }
    }
  }

  .financement-confirm {
    .seat-container {
      #formFinancementConfirm {
        .text-modifier {
          font-size: 14px;
        }
      }
    }
  }
}
