<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://js.algoan.com/connect/algoan-connect.js"></script>
</head>
<body>
<!-- https://docs.algoan.com/developer-doc/adding-the-iframe-to-your-application -->


<div id="algoan-connect"></div>


<script>
    AlgoanConnect.addWidget({
        apiKey: "{{ api_key }}",
        customIdentifier: "{{ user_id }}",
    });
</script>

</body>
</html>
