<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>IFrame Tester</title>
    <script
            src="{{ asset('js/jquery-3.5.1.min.js') }}"
            type="application/javascript"
    ></script>

</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>



Iframe url : {{ identification_url }}<br>
User ID : {{ identification_id }}<br>//fb831224-a64a-4d3c-9343-dbc08fd754c5
Iframe url (when user reconnect from url in email) : {{ identification_url_reconnect }}
<br>

    <iframe src="{{ identification_url }}" width="640" height="800" allow="camera;microphone" ></iframe>
    <script>

        window.addEventListener('message', function(event) {
            // Vérifiez l'origine de l'événement pour des raisons de sécurité
            if (event.origin !== {{ quicksign_url }}) {
                return;
            }

            console.log('#################################');
            console.log('Origine : '+event.origin)
            console.log(event.data)
            console.log('#################################');
            // Traitez les données reçues de l'iframe
            const eventData = event.data;

            switch (eventData.name) {
                case 'reconnectionSms':
                    handleReconnectionSmsEvent(eventData);
                    break;
                case 'scanid':
                    handleScanIdEvent(eventData);
                    break;
                case 'liveness':
                    handleLivenessEvent(eventData);
                    break;
                case 'upload':
                    handleUploadEvent(eventData);
                    break;
                case 'signature':
                    handleSignatureEvent(eventData);
                    break;
                case 'process':
                    handleProcessEvent(eventData);
                    break;
                case 'session':
                    handleSessionEvent(eventData);
                    break;
                default:
                    console.log("Événement non reconnu :", eventData);
            }
        });
        function handleReconnectionSmsEvent(eventData) {

            console.log("Événement reconnectionSms :", eventData);
        }

        function handleScanIdEvent(eventData) {

            console.log("Événement scanid :", eventData);
        }

        function handleLivenessEvent(eventData) {

            console.log("Évenement liveness :", eventData);
        }

        function handleUploadEvent(eventData) {

            console.log("Événement upload :", eventData);
        }

        function handleSignatureEvent(eventData) {

            console.log("Événement signature :", eventData);
        }

        function handleProcessEvent(eventData) {

            console.log("Événement process :", eventData);
        }

        function handleSessionEvent(eventData) {

            console.log("Événement session :", eventData);
        }
    </script>

</body></html>
