<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>IFrame Tester</title>
    <script
            src="{{ asset('js/jquery-3.5.1.min.js') }}"
            type="application/javascript"
    ></script>

</head>
<body>


    identification_id => {{ identification_id }}<br>
    identification_score => {{ identification_score }}<br>
    identification_attributes => {{ dump(identification_attributes) }}<br>
<br>
<hr>
    Score status : <br>
	1.0 	The identification is validated<br>
	0.0 	The identification is not validated because the document is a photocopy<br>
	-1.0 	We're missing some information to make a final decision : in this example, the user didn't show the back of the ID<br>


</body></html>
