{% include 'default/escooter-header.html.twig' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/iframeTarget.js"></script>
    {% block header_js %}{% endblock %}
    <link rel="preload" as="font" href="/fonts/SeatBcn-Regular.woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/SeatBcn-Black.woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/SeatBcn-Bold.woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="/fonts/SeatBcn-Medium.woff" crossorigin="anonymous">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <meta name="description" content="SEAT MÓ 125">

    <!-- Bootstrap CSS -->


    <!-- TODO -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.ico">


    <!-- owl -->
    <link rel="stylesheet" href="/js/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/js/owlcarousel/assets/owl.theme.default.min.css">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="{{ getUrlEnv('data-layer-url') }}" async></script>
    <script src="js/dynamic-data-layer.min.js"></script>
    <script src="js/tracking-data-layer.js"></script>
    <script src="js/iframeResizer.contentWindow.min.js"></script>



    {% block stylesheets %}{% endblock %}
    <style>
        /*Prevent hidding error message in chrome and safari*/
        :root {
            scroll-behavior: unset;
        }
        body {
            scroll-behaviour: auto !important;
        }

    </style>
</head>
<body>
{% block body %}{% endblock %}
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js" integrity="sha512-rCjfoab9CVKOH/w/T6GbBxnAH5Azhy4+q1EXW5XEURefHbIkRbQ++ZR+GBClo3/d3q583X/gO4FKmOFuhkKrdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.js" integrity="sha512-c5JDIvikBZ6tuz+OyaFsHKvuyg+tCug3hf41Vmmd5Yz9H5anj4vZOqlBV5PJoEbBJGFCgKoRT9YAgko4JS6/Qw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>-->

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- -->
<script src="/js/owlcarousel/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>



{% block javascripts %}{% endblock %}
</body>
</html>
{% include 'default/escooter-footer.html.twig' %}