

<!DOCTYPE HTML>
<html lang="fr-FR">


	<head>
	
	<meta charset="UTF-8"/>
	
	
	<meta name="description" content="Configurez votre nouvelle voiture avec le configurateur SEAT. Vous pouvez choisir votre modèle, sélectionner vos accessoires SEAT préférés et faire votre demande."/>
	<meta name="template" content="integrationtemplate"/>
	

	


	
    
    

    
    
    
    


	
    
        <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.seat.fr/etc/designs/nuevaswebs/favicon.ico"/>
        <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://www.seat.fr/etc/designs/nuevaswebs/favicon.ico"/>
    
    


	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

	

	<!-- SEO Meta tags -->
	<meta name="robots" content="NOINDEX, NOFOLLOW"/>
	<meta name="resourcePath" content="https://wwww.seat.fr/content/countries/fr/seat-website/fr/integration/car-configurator"/>
	<meta property="cq:pagemodel_root_url" content="https://wwww.seat.fr/content/countries/fr/seat-website/fr/integration/car-configurator.model.json"/>

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	
	
	

	


	

	
	
	

	
		
		
	

	
	

	

	

	
		
    
<link href="https://www.seat.fr/etc/designs/nuevaswebs/integrator-main.min.aa632567ef56a183729046f6547e20bf5080733ed380385df2f3a9de4b176a0c.css" type="text/css" rel="stylesheet">


	


	<title>Personnalisez votre voiture avec le configurateur de SEAT | SEAT</title>
	
    
<script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/common/vendor/jquery_3.6.1.min.26b592a57ffc4aef904e993cf336bc4b227fcffd835e985e531d46762efa9a1a.js"></script><script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/common/vendor/jquery_validate.min.270524b0d27afd1d3b6622d1a176c678daed94564c143297e217a63e21ce9820.js"></script><script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/seat/integratorjquery.min.6e87823b8ec7d46e1ee12c47d9a5091734873e39a8968529c0cc446f0cb805c4.js"></script>


	
    
<script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/nuevaswebs/analytics.min.90de0ececd45c8dab325a4e1959218e42bf42419519903c5fe5139fab035a0ac.js"></script>


	

	

	<script type="text/javascript">
		SEAT_ANALYTICS.trackPage('integration\/car\u002Dconfigurator.html','','',false,'','');

	</script>

	<!-- SEO Part 1 canonical URL v1.0.6.1 -->
	
		
			<link rel="canonical" href="https://configurateur.seat.fr/seat-cc/configurator/LIVE/004/DEFAULT/fr/car-selector"/>
		
	
	
		<link rel="stylesheet" href="https://www.seat.fr/content/dam/public/seat-website/css/integratorcioverlay.css" type="text/css"/>
	

	

	
	
</head>

	
	
		
	
	
	

	<body class="aem-site seat-website ">
	
	
		



		
		<div class="hidden">###APP_INCLUDE_HEADER###</div>
<div class="hidden">
    ###APP_INCLUDE_ANALYTICS_BODY###
</div>



<div id="compatibilityie" class="hidden" data-alt="Browser not supported
To live the full Seat Experience, please upgrade your browser to the newest version."></div>






<div class="cookie-policy-container">
    

    <div id="cookies-modal-container">

    </div>
</div>



<div><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="header iparsys parsys"><div class="banner section">

    


<div id="banner-banner-2113845268" class="seatComponents-banner seatComponents-banner-banner-2113845268" style="display:none">
	 
	<div id="banner-banner-2113845268" class="seatComponents-banner seatComponents-banner-banner-2113845268 ieNotice">
		
	<div class="wrapper">
		<div class="banner-icon"></div>
		<div class="notice">Navigateur incompatible</div>
		<div class="descriptionNotice">Pour garantir un affichage optimal de ce contenu, utilisez l&#39;une des options suivantes</div>
		<div class="banner-browsers">
			
				
					
						<a href="https://www.microsoft.com/fr-fr/edge" target="_self" class="browser-choice">
							<img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/edge.png" alt="Browser image" loading="lazy"/>
							<p>Edge </p></a>
					
						<a href="https://www.mozilla.org/fr/firefox/" target="_self" class="browser-choice">
							<img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/firefox.png" alt="Browser image" loading="lazy"/>
							<p>Firefox </p></a>
					
						<a href="https://www.google.com/intl/fr_fr/chrome/" target="_self" class="browser-choice">
							<img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/chrome.png" alt="Browser image" loading="lazy"/>
							<p>Chrome </p></a>
					
						<a href="https://www.opera.com/fr" target="_self" class="browser-choice">
							<img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/opera.png" alt="Browser image" loading="lazy"/>
							<p>Opera </p></a>
					
						<a href="https://www.apple.com/fr/safari/" target="_self" class="browser-choice">
							<img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/safari.png" alt="Browser image" loading="lazy"/>
							<p>Safari </p></a>
					
				
			
		</div>
		<div class="banner-close"></div>
	</div>

	</div>
</div></div>
<div class="ghost section">

</div>
<div class="global-header section">
    


<div class="gh-component stickyManager" data-sticky-type="scrollUp,scrollUp,none">
	<div id="globalheader" class="global-header-menu ">

		<div class="navigation-overlay"></div>

		<div class="gh-black-bar black-bar wx-hide-s wx-hide-m">
			<div class="gh-center-content">
				<div class="gh-site-name">
					




    
<div class="cmp-title" id="title-66e6047819">
    <h2 class="cmp-title__text"><a class="cmp-title__link" href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/nous_on_reste_libre.html">Univers SEAT</a></h2>
</div>

    





				</div>
				<div class="gh-utility-links">
					


    




	
		
			
	<div class="utility-link">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/configurateur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_cc';">
			
			<span class="utility-link-label">
				Configurateur
			</span>
		</a>
	</div>

		
			
	<div class="utility-link">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/trouver-un-distributeur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_';">
			
			<span class="utility-link-label">
				Trouver un distributeur
			</span>
		</a>
	</div>

		
			
	<div class="utility-link">
		
		<a href="https://offres.seat.fr/stock" target="_blank" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_other';">
			
			<span class="utility-link-label">
				Véhicules neufs en stock
			</span>
		</a>
	</div>

		
	


				</div>	
			</div>
		</div>

		<div class="navigation-bar"> 
			<div class="navigation-bar-container gh-center-content">
				<div class="logo image logo-section">


    
    
    
    
	


    
    

    
    
    
    

    <a class="cmp-image__link" href="https://www.seat.fr/content/countries/fr/seat-website/fr/home.html?wcmmode=disabled">
        <div class="cmp-image ">
            
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/seat-logo/seat-s-logo.svg" loading="lazy" alt="SEAT France" title="SEAT France" class="cmp-image__image"/>

        </div>
    </a>




</div>

				<div class="navigation">
					
						


    




	<div class="selected-resource">
		<span class="selected-resource-label">
		</span>
	</div>
	<div class="navigation-content" data-current-resource-path=https://wwww.seat.fr/content/countries/fr/seat-website/fr/integration/car-configurator">
		<div class="navigation-panel">
			<div class="navigation-panel-headers">
				<div class="gh-site-name-mobile"></div>
				<div class="close-menu"></div>
			</div>
			<div class="content-panel">
				
					
	
	
		
		
			
		
	

	<div class="navigation-main-item navigation-main-models" data-index="0">
		
			<div class="main-item">
				Modèles
			</div>
		
		
	</div>



					
	
	
		
		
			
		
	

	<div class="gh-panel navigation-main-item navigation-main-models" data-index="0">
		
			<div class="main-item-panel-loader">
				<div class="main-item-panel-frame">
					<div class="back-menu"></div>
					<div class="main-item main-item-mobile">
						Modèles
					</div>
					<div class="main-item-panel">
						
							
	<div class="item-panel">
		<div class="family-filters">
			<div class="family-filter active" data-model-family-tag="all">
				<span class="label">
					Tous les modèles
				</span>
				<span class="counter" data-counter="0">
				</span>
			</div>
			
				<div class="family-filter" data-model-family-tag="countries:fr/seat-website/essence">
					<span class="label">
						Essence
					</span>
					<span class="counter" data-counter="0">
					</span>
				</div>
			
				<div class="family-filter" data-model-family-tag="countries:fr/seat-website/diesel">
					<span class="label">
						Diesel
					</span>
					<span class="counter" data-counter="0">
					</span>
				</div>
			
				<div class="family-filter" data-model-family-tag="countries:fr/seat-website/hybride">
					<span class="label">
						Hybride
					</span>
					<span class="counter" data-counter="0">
					</span>
				</div>
			
				<div class="family-filter" data-model-family-tag="countries:fr/seat-website/Electrique">
					<span class="label">
						Électrique
					</span>
					<span class="counter" data-counter="0">
					</span>
				</div>
			
		</div>
		<div class="model-item-container">
			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouvelle-ibiza/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/nouvelle-ibiza/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Ibiza
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 16.990 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/seat-new-ibiza-pa-desirered.png" loading="lazy" alt="Ibiza" title="Ibiza"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KJ1" onclick="s_objectID='globalheader_configureCtaLabel_cc_Nouvelle_Ibiza';" target="_blank" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=789" onclick="s_objectID='globalheader_TestDrive_other_Nouvelle_Ibiza';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 209 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouvelle-arona/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/nouvelle-arona/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Arona
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 18.770 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/myco/2325/global-header/global-navigation/models/seat-arona-pa.png" loading="lazy" alt="Arona" title="Arona"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KJ7" onclick="s_objectID='globalheader_configureCtaLabel_cc_Nouvelle_Arona';" target="_blank" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=786" onclick="s_objectID='globalheader_TestDrive_other_Nouvelle_Arona';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 239 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel,countries:fr/seat-website/hybride">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/leon-5portes/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-5portes/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Leon
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 23.330 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-leon-2020.png" loading="lazy" alt="SEAT Leon" title="Leon"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KL1" onclick="s_objectID='globalheader_configureCtaLabel_cc_Leon';" target="_blank" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=777" onclick="s_objectID='globalheader_TestDrive_other_Leon';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 379 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel,countries:fr/seat-website/hybride">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/leon-sportstourer/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/leon-sportstourer/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Leon Sportstourer
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 24.430 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-leon-sportstourer-2020.png" loading="lazy" alt="SEAT Leon Sportstourer 2021" title="Leon Sportstourer"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KL8" onclick="s_objectID='globalheader_configureCtaLabel_cc_Leon_Sportstourer';" target="_self" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=780" onclick="s_objectID='globalheader_TestDrive_other_Leon_Sportstourer';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 409 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/essence,countries:fr/seat-website/diesel">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/ateca/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/ateca/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Ateca
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 29.990 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-ateca.png" loading="lazy" alt="SEAT Ateca" title="Ateca"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KHP" onclick="s_objectID='globalheader_configureCtaLabel_other_Ateca';" target="_blank" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=774" onclick="s_objectID='globalheader_TestDrive_other_Ateca';" target="_blank" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 329 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/diesel,countries:fr/seat-website/hybride">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouveau-suv-tarraco/general" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/voitures/nouveau-suv-tarraco/general">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						Tarraco
					</h5>
					
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 43.880 € 
							</span>
								
							</div>
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/models/seat-tarraco.png" loading="lazy" alt="SEAT Tarraco" title="Tarraco"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			<a href="https://www.seat.fr/configurateur.html/version?wf=seat-fr-fr&carlineGroup=CARLINE-GROUP-KN2" onclick="s_objectID='globalheader_configureCtaLabel_cc_Tarraco';" target="_self" class="model-item-cta">
				<span class="cta-text">Configurez-la</span>
			</a>
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/preparer-mon-achat/offres/offre-location-longue-duree?models=783" onclick="s_objectID='globalheader_TestDrive_other_Tarraco';" target="_blank" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Location dès 659 €/mois</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-125-performance" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-125-performance">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						SEAT MÓ 125 Performance
					</h5>
					
						
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 147 € /mois
							</span>
								<span class="model-item-text model-item-price model-item-secondary-price">
								
								Achat dès 8.900 € 
							</span>
							</div>
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/new-seat-mo-125-performance-electric-scooter.png" loading="lazy" alt="SEAT MÓ 125 Performance" title="SEAT MÓ 125 Performance"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-125-performance" onclick="s_objectID='globalheader_TestDrive_other_';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Découvrez-le</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/e-scooter-125" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/mo/e-scooter-125">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5>
						SEAT MÓ 125
					</h5>
					
						
						
							<div class="model-item-prices-container">
							<span class="model-item-text model-item-price">
								
								À partir de 114 € /mois
							</span>
								<span class="model-item-text model-item-price model-item-secondary-price">
								
								Achat dès 7.200 € 
							</span>
							</div>
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/e-scooter125.png" loading="lazy" alt="SEAT MÓ 125" title="SEAT MÓ 125"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/e-scooter-125" onclick="s_objectID='globalheader_TestDrive_other_';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Découvrez-le</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-50" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-50">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5 class="model-item-info-no-price">
						SEAT MÓ 50
					</h5>
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/seat-mo-50-electric-scooter.png" loading="lazy" alt="SEAT MÓ 50" title="SEAT MÓ 50"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-50" onclick="s_objectID='globalheader_TestDrive_other_';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Découvrez-le</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active" data-model-family-tag="countries:fr/seat-website/Electrique">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-65" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-65">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5 class="model-item-info-no-price">
						SEAT MÓ 65
					</h5>
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/global-navigation/models/e-kickscooter65.png" loading="lazy" alt="Découvrez-la" title="SEAT MÓ 65"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/mobilite/mo/seat-mo-65" onclick="s_objectID='globalheader_TestDrive_other_';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Découvrez-la</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active">
		<a href="https://www.dasweltauto.fr/fra/fr/occasions/seat/" target="_blank" data-resource-path="https://www.dasweltauto.fr/fra/fr/occasions/seat/">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5 class="model-item-info-no-price">
						Voitures d&#39;occasion
					</h5>
					
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/models/das-welt-auto.png" loading="lazy" alt="Véhicules d&#39;occasion" title="Voitures d&#39;occasion"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures-occasion-redirect" onclick="s_objectID='globalheader_TestDrive_other_';" target="_blank" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Découvrez-les</span>
			</a>
		</div>
	</div>

			
				
	
	<div class="model-item active">
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/seat-recommender" target="_self" data-resource-path="https://author-seat-prod.adobecqms.net/content/countries/fr/seat-website/fr/seat-recommender">
			<div class="model-item-image-cta">
				<div class="model-item-info">
					<h5 class="model-item-info-no-price">
						Trouvez la SEAT qu&#39;il vous faut
					</h5>
					
						
						
					
				</div>
				<div class="model-item-img wx-aspect-ratio">
					
					
    

    <img src="https://www.seat.fr/content/dam/countries/fr/seat-website/global-header/global-navigation/seat-recommender.png" loading="lazy" alt="Trouvez la SEAT qu&#39;il vous faut" title="Trouvez la SEAT qu&#39;il vous faut"/>

				</div>
			</div>
		</a>
		<div class="model-item-cta-list">
			
			
			
			<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/seat-recommender" onclick="s_objectID='globalheader_TestDrive_other_';" target="_self" class="model-item-cta model-item-cta-orange">
				<span class="cta-text">Commencez</span>
			</a>
		</div>
	</div>

			
		</div>
	</div>

						
						
					</div>
				</div>
			</div>
		
		
	</div>



				
					
	
	
		
		
	

	<div class="navigation-main-item navigation-main-dropdown" data-index="1">
		
			<div class="main-item">
				Mobilité Urbaine
			</div>
		
		
	</div>



					
	
	
		
		
	

	<div class="gh-panel navigation-main-item navigation-main-dropdown" data-index="1">
		
			<div class="main-item-panel-loader">
				<div class="main-item-panel-frame">
					<div class="back-menu"></div>
					<div class="main-item main-item-mobile">
						Mobilité Urbaine
					</div>
					<div class="main-item-panel">
						
						
							
	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/seat-mo.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				SEAT MÓ
			</span>
			<span class="item-panel-description">
				Des solutions de mobilité urbaine électriques, abordables et simples
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/e-hybrid-electric-vehicles.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Véhicules électriques et hybrides
			</span>
			<span class="item-panel-description">
				L&#39;heure est venue. La gamme électrique et hybride de SEAT : une meilleure mobilité, un changement positif
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/charger-a-domicile.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Charger à domicile
			</span>
			<span class="item-panel-description">
				La meilleure solution pour recharger votre véhicule.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/charger-sur-la-route-redirect.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Charger sur la route
			</span>
			<span class="item-panel-description">
				Des solutions pour recharger votre batterie pendant vos déplacements.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/we-move-like-you-move.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				SEAT Move
			</span>
			<span class="item-panel-description">
				Avec SEAT MOVE, construisez une offre de mobilité qui vous ressemble, adaptée à votre quotidien.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/application-seat-move.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Application SEAT Move
			</span>
			<span class="item-panel-description">
				Découvrez notre nouvelle application dédiée à la mobilité.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/shargy.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Application Shargy
			</span>
			<span class="item-panel-description">
				L’application de recharge de véhicules électriques entre particuliers par Volkswagen Group France.
			</span>
		</a>
	</div>

	

						
					</div>
				</div>
			</div>
		
		
	</div>



				
					
	
	
		
		
	

	<div class="navigation-main-item navigation-main-dropdown" data-index="2">
		
			<div class="main-item">
				Achat et Location
			</div>
		
		
	</div>



					
	
	
		
		
	

	<div class="gh-panel navigation-main-item navigation-main-dropdown" data-index="2">
		
			<div class="main-item-panel-loader">
				<div class="main-item-panel-frame">
					<div class="back-menu"></div>
					<div class="main-item main-item-mobile">
						Achat et Location
					</div>
					<div class="main-item-panel">
						
						
							
	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offres.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Toutes nos offres
			</span>
			<span class="item-panel-description">
				Découvrez nos offres selon vos besoins.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-financement.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Financer sa SEAT
			</span>
			<span class="item-panel-description">
				Découvrez tous les formules de financement et choisissez celle qui vous convient le mieux.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-neuf.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Stock neuf en ligne
			</span>
			<span class="item-panel-description">
				Découvrez le stock SEAT. Nos véhicules sont disponibles en 72h !
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-occasion.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Stock d’occasion en ligne
			</span>
			<span class="item-panel-description">
				DasWeltAuto vous offre la possibilité d&#39;acheter en ligne des véhicules sélectionnés.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-sans-engagement.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				SEAT Sans Engagement
			</span>
			<span class="item-panel-description">
				Bénéficiez de plus de souplesse avec notre offre sans apport, résiliable sans frais, ajustable et facile à mettre en œuvre.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offre-lld.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Location Longue Durée
			</span>
			<span class="item-panel-description">
				Choisissez votre offre de loyer sur mesure avec l&#39;offre de financement qui vous correspond.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/professionnels.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Pour les professionnels
			</span>
			<span class="item-panel-description">
				Gestionnaires de flotte et Petites entreprises, optimisez vos coûts et créez vos propres opportunités.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/ventes-privees-seat.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Ventes Privées SEAT
			</span>
			<span class="item-panel-description">
				Une offre sans engagement sur Ibiza et Arona COPA disponible sans apport et sans engagement.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-recommender.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Trouvez la SEAT qu&#39;il vous faut
			</span>
			<span class="item-panel-description">
				Trouvez la meilleure SEAT pour vous, choisissez vos préférences et vos habitudes de conduite.
			</span>
		</a>
	</div>

	

						
					</div>
				</div>
			</div>
		
		
	</div>



				
					
	
	
		
		
	

	<div class="navigation-main-item navigation-main-dropdown" data-index="3">
		
			<div class="main-item">
				Après-vente
			</div>
		
		
	</div>



					
	
	
		
		
	

	<div class="gh-panel navigation-main-item navigation-main-dropdown" data-index="3">
		
			<div class="main-item-panel-loader">
				<div class="main-item-panel-frame">
					<div class="back-menu"></div>
					<div class="main-item main-item-mobile">
						Après-vente
					</div>
					<div class="main-item-panel">
						
						
							
	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/rdv-en-ligne.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Rendez-vous en atelier
			</span>
			<span class="item-panel-description">
				En moins de 2 minutes, 24h/24, 7j/7, prenez rendez-vous dans votre Point Service pour l’entretien de votre SEAT.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/devis-en-ligne.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Devis en ligne
			</span>
			<span class="item-panel-description">
				Obtenez vos tarifs d’entretien, pneumatiques et contrôle technique en quelques clics.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/personnalisez-votre-offre-entretien.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Contrat d&#39;entretien SEAT
			</span>
			<span class="item-panel-description">
				Mensualisez vos dépenses d&#39;entretien.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/accessoires.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Accessoires
			</span>
			<span class="item-panel-description">
				Des accessoires originaux adaptés à votre style.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/manuels.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Manuels
			</span>
			<span class="item-panel-description">
				Le manuel contient des informations, des recommandations, des conseils et des avertissements.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/seat-connect.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Services en ligne SEAT CONNECT
			</span>
			<span class="item-panel-description">
				Toujours en contact avec votre monde.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/my-seat.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				My SEAT App
			</span>
			<span class="item-panel-description">
				Des outils pour rester connecté en déplacement.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/garantie.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Assistance et Garantie
			</span>
			<span class="item-panel-description">
				Découvrez la solution qui vous convient le mieux selon l’ancienneté et le kilométrage de votre voiture.
			</span>
		</a>
	</div>

	
		
	<div class="item-panel">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/offres-sur-mesure-segments.html?wcmmode=disabled" class="item-panel-link" onclick="s_objectID='globalheader_mainSubLink_';" target="_self">
			<span class="item-panel-label">
				Offres véhicules de plus de 5 ans
			</span>
			<span class="item-panel-description">
				Pour rouler encore plus longtemps, choisissez la qualité constructeur au meilleur prix, jusqu&#39;au 18 mars 2023.
			</span>
		</a>
	</div>

	

						
					</div>
				</div>
			</div>
		
		
	</div>



				
					
	
	

	<div class="navigation-main-item navigation-main-link" data-index="4">
		
		
			<div class="main-item">
				
				<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/professionnels.html?wcmmode=disabled" onclick="s_objectID='globalheader_mainLink_';" target="_self">
					Professionnels
				</a>
			</div>
		
	</div>



					
	
	

	<div class="gh-panel navigation-main-item navigation-main-link" data-index="4">
		
		
			<div class="main-item">
				
				<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/professionnels.html?wcmmode=disabled" onclick="s_objectID='globalheader_mainLink_';" target="_self">
					Professionnels
				</a>
			</div>
		
	</div>



				

				<div class="navigation-panel-footer">
					<div class="utility-links">
						
	
		
			
	<div class="utility-link">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/configurateur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_cc';">
			
				<div class="utility-link-image">
					
					
    

    <img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icon-library/configure-orange.svg" loading="lazy" alt="Configurateur" title="Configurateur"/>

				</div>
			
			<span class="utility-link-label">
				Configurateur
			</span>
		</a>
	</div>

		
			
	<div class="utility-link">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/trouver-un-distributeur.html?wcmmode=disabled" target="_self" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_';">
			
				<div class="utility-link-image">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-library-hover-orange/find-a-dealer.svg" loading="lazy" alt="Trouver un distributeur" title="Trouver un distributeur"/>

				</div>
			
			<span class="utility-link-label">
				Trouver un distributeur
			</span>
		</a>
	</div>

		
			
	<div class="utility-link">
		
		<a href="https://offres.seat.fr/stock" target="_blank" class="utility-link-cta" onclick="s_objectID='globalheader_utilityLinkLabel_other';">
			
				<div class="utility-link-image">
					
					
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-library-hover-orange/configure.svg" loading="lazy" alt="Véhicules neufs en stock" title="Véhicules neufs en stock"/>

				</div>
			
			<span class="utility-link-label">
				Véhicules neufs en stock
			</span>
		</a>
	</div>

		
	

						
	
		
		
	

					</div>
				</div>
			</div>
		</div>
	</div>


					
					
				</div>
				<div class="icon-links">
					


    




	
		
			
			
	<div class="icon-link ">
		
		<a href="https://www.seat.fr/content/countries/fr/seat-website/fr/rdvenligne.html?wcmmode=disabled" target="_self" onclick="s_objectID='globalheader_iconLinkLabel_td';">
			
			
    

    <img src="https://www.seat.fr/content/dam/countries/fr/seat-website/generic/icons/header-icons/calendrier-noir.svg" loading="lazy"/>

		</a>
	</div>

		
	




<div class="icon-link menu-link"></div>
				</div>
			</div>
		</div>

	</div>
</div>

</div>
</div>
</div>
</div>

<div class="container-body">

    

    






    

    ###APP_INCLUDE_CONTENT###

    

    <div>
</div>
    
    <div><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="disclaimer iparsys parsys"><div class="disclaimer section">

    



<div id="disclaimer">
    <div class="disclaimer-component show-expanded bg-white">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="disclaimer-text richtext rhr-parent-black-60">
                            <p>
                                <p style="text-align: left;">Voir les consommations et la classe énergétique des modèles suivants : <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouvelle-ibiza/general.html#classe-energie" target="_self">Nouvelle Ibiza</a>, <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouvelle-arona/general.html#classe-energie" target="_self">Nouvelle Arona</a>, <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/leon-5portes/general.html#classe-energie" target="_self">Leon</a>, <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/leon-sportstourer/general.html#classe-energie" target="_self">Leon Sportstourer</a>, <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/ateca/general.html#classe-energie">Ateca</a>, <a href="https://www.seat.fr/content/countries/fr/seat-website/fr/voitures/nouveau-suv-tarraco/general.html#classe-energie" target="_self">Tarraco</a>.<br />
</p>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seeMore-container">
            <div class="seeMore-button">
                <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/svg-font/ico-next-gray.svg" alt="icon ico-next-gray"/>
            </div>
            <span class="seeMore-text-more"></span>
        </div>
    </div>

    
</div></div>
</div>
</div>
</div>
</div>


<div><div class="section"><div class="new"></div>
</div><div class="iparys_inherited"><div class="footer iparsys parsys"><div class="col-12 seatComponentField section">
	
	



<div class="richTextFieldComponent  richtext-dark">
	<div class="richtext richtext-block rhr-parent-black">
		<h5 style="text-align: center;"><br />
Pour les trajets courts, privilégiez la marche ou le vélo. #SeDéplacerMoinsPolluer.<br />
<b> </b> </h5>

	</div>
</div>
</hr></div>
<div class="globalfooter section">
    
    







<div>
    
    
</div>
<div>
    
    
</div>




<div class="global-footer container-fluid" id="globalfooter">
    <div class="container">
        <div class="row lists-wrapper">
            <div class="col-12 col-lg-2 lang-mobile">
                <div class="lang-wrapper">
                    
    

    <img src="https://www.seat.fr/content/dam/public/flags/europe/france.png" loading="lazy" alt="Language icon" title="Language icon" class="lang-icon"/>

                    <span class="lang-text">France</span>
                </div>
                
                
                <a href="https://www.seat.com" class="link-arrow-white">
                    Site international
                    
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                </a>
            </div>
            <div class="col-12 col-lg-2 d-sm-block">
                <div class="accordion">
                    <h3 data-toggle="collapse richtext" href="#footer-list-one" aria-expanded="false">
                        Modèles
                        
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                    </h3>
                    <ul class="collapse richtext" id="footer-list-one">
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/new-ibiza">Ibiza</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/new-arona">Arona</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/leon-2020">Leon</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/new-leon-sportstourer-2020">Leon Sportstourer</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/new-ateca">Ateca</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/modeles/tarraco">Tarraco</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-2 d-sm-block">
                <div class="accordion">
                    <h3 data-toggle="collapse richtext" href="#footer-list-two" aria-expanded="false">
                        Mobilité Urbaine
                        
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                    </h3>
                    <ul class="collapse richtext" id="footer-list-two">
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/seat-mo">SEAT MÓ</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/e-hybrid-electric-vehicles">Véhicules électriques et hybrides</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/charger-a-domicile">Charger à domicile</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/charger-sur-la-route-redirect">Charger sur la route</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/we-move-like-you-move">SEAT Move</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/application-seat-move">Application SEAT Move</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/urban-mobility-redirect/shargy">Application Shargy</a></li>
                    </ul></div>
            </div>
            <div class="col-12 col-lg-2 d-sm-block">
                <div class="accordion">
                    <h3 data-toggle="collapse richtext" href="#footer-list-three" aria-expanded="false">
                        Achat et Location
                        
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                    </h3>
                    <ul class="collapse richtext" id="footer-list-three">
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offres">Toutes nos offres</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-financement">Financer sa SEAT</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-neuf">Stock neuf en ligne</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/stock-occasion">Stock d’occasion en ligne</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-sans-engagement">SEAT Sans Engagement</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/offre-lld">Location Longue Durée</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/professionnels">Pour les professionnels</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/ventes-privees-seat">Ventes Privées SEAT</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-offres/seat-recommender">Trouvez la SEAT qu&#39;il vous faut</a></li>
                    </ul></div>
            </div>
            <div class="col-12 col-lg-2 d-sm-block">
                <div class="accordion">
                    <h3 data-toggle="collapse richtext" href="#footer-list-four" aria-expanded="false">
                        Après-vente
                        
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                    </h3>
                    <ul class="collapse" id="footer-list-four">
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/rdv-en-ligne">Rendez-vous en atelier</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/devis-en-ligne">Devis en ligne</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/personnalisez-votre-offre-entretien">Contrat d&#39;entretien SEAT</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/seat-connect">Services en ligne SEAT CONNECT</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/my-seat">My SEAT App</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/seat-service">Services</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/garantie">Assistance et Garantie</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/diesel-engines-redirect">Campagne Diesel EA189</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/redirection-achat/offres-sur-mesure-segments">Offres véhicules de plus de 5 ans</a></li>
                    </ul></div>
            </div>
            <div class="col-12 col-lg-2 d-sm-block">
                <div class="accordion">
                    <h3 data-toggle="collapse richtext" href="#footer-list-five" aria-expanded="false">
                        Découvrez SEAT
                        
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                    </h3>
                    <ul class="collapse richtext" id="footer-list-five">
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/nous_on_reste_libre">Notre Philosophie</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/faq-redirect">Foire aux questions</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/glossaire-redirect">Glossaire des termes auto</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/contact">Contactez-nous</a></li>
                    
                        <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/recrutement-redirect">Recrutement</a></li>
                    </ul></div>
            </div>
            <div class="col-12 col-lg-2 lang-desktop">
                <div class="lang-wrapper">
                    
                    
    

    <img src="https://www.seat.fr/content/dam/public/flags/europe/france.png" loading="lazy" alt="Language icon" title="Language icon" class="lang-icon"/>

                    <span class="lang-text">France</span>
                </div>
                
                
                <a href="https://www.seat.com" class="link-arrow-white">
                    Site international
                    
    

    <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/global-footer-icon-arrowdown-white.svg" loading="lazy" alt="Arrow down icon" title="Arrow down icon"/>

                </a>
            </div>
        </div>
        <div class="row logos">
            <div class="col-12 logo-wrapper">
                <div class="corporative-wrapper">
                    
                    
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/global-header/seat-logo/seat-logo-footer.svg" loading="lazy" alt="corporative-logo" title="corporative-logo" class="corporative-logo"/>

                    <p class="corporative-text">© 2023 SEAT France</p>
                </div>
                <div class="social-logos-wrapper">
                    <ul class="social-logos">
                        <li>
                            
                            <a href="https://www.facebook.com/SEATFrance" data-socialname="Facebook" target="_blank">
                                
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-facebook-white.svg" loading="lazy" alt="Facebook" title="Facebook"/>

                            </a>
                        </li>
                    
                        <li>
                            
                            <a href="https://twitter.com/SEATFrance" data-socialname="Twitter" target="_blank">
                                
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-twitter-white.svg" loading="lazy" alt="Twitter" title="Twitter"/>

                            </a>
                        </li>
                    
                        <li>
                            
                            <a href="https://www.instagram.com/seatfrance" data-socialname="Instagram" target="_blank">
                                
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-instagram-white.svg" loading="lazy" alt="Instagram" title="Instagram"/>

                            </a>
                        </li>
                    
                        <li>
                            
                            <a href="https://fr.linkedin.com/company/seat-france" data-socialname="Linkedin" target="_blank">
                                
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-linkedin-white.svg" loading="lazy" alt="Linkedin" title="Linkedin"/>

                            </a>
                        </li>
                    
                        <li>
                            
                            <a href="https://www.youtube.com/seatfrance" data-socialname="Youtube" target="_blank">
                                
    

    <img src="https://www.seat.fr/content/dam/public/seat-website/generic/icons/icon-social/ico-youtube-white.svg" loading="lazy" alt="Youtube" title="Youtube"/>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class=" col-12 legal-links-wrapper">
                <ul>
                    <li><a href="https://www.seat-mediacenter.fr" target="_blank">Communiqués de presse</a></li>
                
                    <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/mentions-legales" target="_self">Mentions légales</a></li>
                
                    <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/infos-sur-les-cookies" target="_self">Politique de cookies</a></li>
                
                    <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/sitemap" target="_self">Sitemap</a></li>
                
                    <li><a href="https://www.seat.fr/content/countries/fr/seat-website/fr/entreprise/politique-de-confidentialite" target="_self">Politique de confidentialité</a></li>
                
                    <li><a href="https://volkswagengroup.fr/systeme-de-lanceur-dalerte/" target="_self">Système de lanceur d’alerte</a></li>
                </ul>
            </div>
        </div>
        <div class="row clarification-row">
            <div class="col-12 clarification-wrapper richtext">
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

###APP_INCLUDE_FOOTER###

<div class="overlay-modal">
    <!-- Modal -->
    <div class="modal modal-full-screen" id="modalFullScreen" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="https://www.seat.fr/etc/designs/nuevaswebs/main/img/close.svg" alt="icon close"/>
                    </button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>
</div>

<div class="country-selector">
    <div class="modal modal-country-selector p-0" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="" aria-d-none="true">
    </div>
</div>





<script type="text/javascript">
var sAgent = window.navigator.userAgent,
    Idx = sAgent.indexOf("MSIE");

if (Idx > 0) {
    document.getElementById('compatibilityie').getAttribute('data-url')?(location.href.indexOf(document.getElementById('compatibilityie').getAttribute('data-url') >= 0)?window.location=document.getElementById('compatibilityie').getAttribute('data-url'):""):(document.getElementById('compatibilityie').getAttribute('data-alt')?alert(document.getElementById('compatibilityie').getAttribute('data-alt')):alert("Browser not supported\nTo live the full Seat Experience, please upgrade your browser to the newest version."));
}
</script>


    
<script type="text/javascript" src="https://www.seat.fr/etc.clientlibs/clientlibs/granite/jquery/granite/csrf.min.90a9acaa2b73d4e87bc59beb161a8e9771d517ae8577ba38f6724f40d3461073.js"></script><script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/common/vendor/bootstrap.min.19126b874a32753d42c12dfa6c17892bfd93820a5a5100ba1b34da4d07599b49.js"></script><script type="text/javascript" src="https://www.seat.fr/etc/clientlibs/nuevaswebs/integrator.min.9e4bb738882f944f6aadaf3fd4943f2a533343057ec4cc2e80a68397cc8c9bb1.js"></script>






		
    

    

    


		

	
	</body>

</html>
<!--cq{"decorated":false,"type":"nuevaswebs/components/page/integrationpage","path":https://wwww.seat.fr/content/countries/fr/seat-website/fr/integration/car-configurator/jcr:content","selectors":"integratorservlet","servlet":"IntegrationServlet","totalTime":566,"selfTime":566}-->
