{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% for key, value in value %}
       {{ key }}: <strong>{{ value }}</strong> </br>
    {% endfor %}
{% endblock %}